// List of all blocks: https://wordpress.org/support/article/blocks/
// Core blocks only meant for article content
.editor-styles-wrapper,
.article-content {
  @import 'gutenberg/blocks/core-blockquote';
  @import 'gutenberg/blocks/core-buttons';
  @import 'gutenberg/blocks/core-columns';
  @import 'gutenberg/blocks/core-separator';
  @import 'gutenberg/blocks/core-heading';
  @import 'gutenberg/blocks/core-image';
  @import 'gutenberg/blocks/core-list';
  @import 'gutenberg/blocks/core-paragraph';
  @import 'gutenberg/blocks/core-pullquote';
  @import 'gutenberg/blocks/core-table';
  @import 'gutenberg/blocks/core-video';

  // Custom Gutenberg block styles
  @import 'gutenberg/blocks/boxed';
  @import 'gutenberg/blocks/button-file';

  // Add here those ACF Gutenberg blocks you want to use inside article-content
  // @import 'gutenberg/blocks/your-new-acf-block';
}

// Blocks only meant for outside article-content
.editor-styles-wrapper,
.site-main {
  // Error block styles
  @import 'gutenberg/blocks/error';

  // ACF blocks
  // @import 'gutenberg/blocks/your-new-acf-block';
}
