// Formatting
@import 'gutenberg/formatting/align';
@import 'gutenberg/formatting/caption';
@import 'gutenberg/formatting/img';
@import 'gutenberg/formatting/link';
@import 'gutenberg/formatting/paragraph';
