/* stylelint-disable declaration-property-unit-allowed-list */
/* stylelint-enable declaration-property-unit-allowed-list */
:root {
  --color-black: #222;
  --color-black-rgb: hextorgb(#222);
  --color-black-pearl: #061629;
  --color-black-pearl-rgb: hextorgb(#061629);
  --color-blue-chalk: #ece6f2;
  --color-east-bay: #545773;
  --color-link-water: #cdcfd4;
  --color-pattens-blue: #eaf1f8;
  --color-valhalla: #2a2d3e;
  --color-valhalla-rgb: hextorgb(#2a2d3e);
  --color-very-light-grey: #ccc;
  --color-white: #fff;
  --color-white-smoke: #f5f5f5;
  --color-hover: var(--color-valhalla);
  --color-links: var(--color-valhalla);
  --color-main: #2a2d3e;
  --color-main-rgb: hextorgb(#2a2d3e);
  --color-background-shade: #03061b;
  --color-background-tag: var(--color-pattens-blue);
  --color-blockquote: var(--color-links);
  --color-border-tag-base: var(--color-black-pearl-rgb);
  --color-border-tag: rgba(var(--color-border-tag-base), .1);
  --color-border-tag-hover: rgba(var(--color-border-tag-base), .4);
  --color-border-category: var(--color-link-water);
  --color-headings: var(--color-main);
  --color-paragraphs: var(--color-east-bay);
}

@font-face {
  font-display: auto;
  font-family: "Inter";
  font-style: normal;
  font-weight: 400;
  src: url("../../fonts/Inter-Regular.woff") format("woff"), url("../../fonts/Inter-Regular.woff2") format("woff2"), url("../../fonts/Inter-Regular.ttf") format("truetype");
}

@font-face {
  font-display: auto;
  font-family: "Inter";
  font-style: italic;
  font-weight: 400;
  src: url("../../fonts/Inter-Italic.woff") format("woff"), url("../../fonts/Inter-Italic.woff2") format("woff2"), url("../../fonts/Inter-Italic.ttf") format("truetype");
}

@font-face {
  font-display: auto;
  font-family: "Inter";
  font-style: normal;
  font-weight: 700;
  src: url("../../fonts/Inter-Bold.woff") format("woff"), url("../../fonts/Inter-Bold.woff2") format("woff2"), url("../../fonts/Inter-Bold.ttf") format("truetype");
}

:root {
  --font-size-default: 20px;
  --font-size-tiny: 14px;
  --font-size-small: 16px;
  --font-size-medium: 17px;
  --font-size-large: 18px;
  --font-size-extra-large: 20px;
  --font-size-huge: 22px;
  --font-size-nav-toggle-label: 15px;
  --font-size-captions: 15px;
  --line-height-headings: 1.5;
  --line-height-core-heading: 1.23;
  --line-height-paragraphs: 1.7;
  --line-height-paragraphs-blog: 1.77;
  --font-weight-paragraphs: 400;
  --font-weight-headings: 700;
}

@media (max-width: 770px) {
  :root {
    --font-size-extra-large: 17px;
  }
}

@media (max-width: 480px) {
  :root {
    --font-size-tiny: 16px;
    --font-size-small: 16px;
    --font-size-default: 16px;
  }
}

@media (max-width: 420px) {
  :root {
    --font-size-nav-toggle-label: 13px;
    --font-size-extra-large: 16px;
    --font-size-tiny: 14px;
    --font-size-small: 14px;
  }
}

:root {
  --padding-container-horizontal: 2rem;
  --padding-container-vertical: 6.4rem;
  --padding-site-header-vertical: 2rem;
  --padding-block: 8rem;
  --margin-between-text-elements: 4rem;
  --margin-wp-block-image: 4rem;
  --margin-between-paragraphs: 2.7rem;
}

@media (max-width: 1350px) {
  :root {
    --padding-container-horizontal: 2rem;
  }
}

@media (max-width: 960px) {
  :root {
    --padding-site-header-vertical: 2rem;
  }
}

@media (max-width: 770px) {
  :root {
    --padding-container-vertical: 5rem;
  }
}

@media (max-width: 600px) {
  :root {
    --padding-block: 6rem;
  }
}

@media (max-width: 480px) {
  :root {
    --padding-container-vertical: 4rem;
  }
}

@font-face {
  font-display: auto;
  font-family: "Inter";
  font-style: normal;
  font-weight: 400;
  src: url("../../../content/themes/air-light/fonts/Inter-Regular.woff") format("woff"), url("../../../content/themes/air-light/fonts/Inter-Regular.woff2") format("woff2"), url("../../../content/themes/air-light/fonts/Inter-Regular.ttf") format("truetype");
}

@font-face {
  font-display: auto;
  font-family: "Inter";
  font-style: italic;
  font-weight: 400;
  src: url("../../../content/themes/air-light/fonts/Inter-Italic.woff") format("woff"), url("../../../content/themes/air-light/fonts/Inter-Italic.woff2") format("woff2"), url("../../../content/themes/air-light/fonts/Inter-Italic.ttf") format("truetype");
}

@font-face {
  font-display: auto;
  font-family: "Inter";
  font-style: normal;
  font-weight: 700;
  src: url("../../../content/themes/air-light/fonts/Inter-Bold.woff") format("woff"), url("../../../content/themes/air-light/fonts/Inter-Bold.woff2") format("woff2"), url("../../../content/themes/air-light/fonts/Inter-Bold.ttf") format("truetype");
}

.editor-styles-wrapper,
.gutenberg-content {
  max-width: 100%;
  padding-bottom: var(--padding-block);
  padding-left: 0;
  padding-right: 0;
  padding-top: var(--padding-block);
}

.gutenberg-content > * {
  line-height: var(--line-height-paragraphs-blog);
  margin-left: auto;
  margin-right: auto;
  max-width: 800px;
  padding-left: 0;
  padding-right: 0;
  width: 100%;
}

@media (max-width: 840px) {
  .gutenberg-content > * {
    padding-left: var(--padding-container-horizontal);
    padding-right: var(--padding-container-horizontal);
    width: calc(100% - calc(var(--padding-container-horizontal) * 2));
  }
  .gutenberg-content > *.alignfull {
    padding-left: var(--padding-container-horizontal);
    padding-right: var(--padding-container-horizontal);
    width: calc(100% - calc(var(--padding-container-horizontal) * 2));
  }
}

.editor-styles-wrapper blockquote + cite,
.editor-styles-wrapper blockquote + p > cite,
.gutenberg-content blockquote + cite,
.gutenberg-content blockquote + p > cite {
  margin-bottom: 4rem;
}

.editor-styles-wrapper > blockquote,
.editor-styles-wrapper > blockquote.wp-block-quote,
.gutenberg-content > blockquote,
.gutenberg-content > blockquote.wp-block-quote {
  border-left: 2px solid var(--color-blockquote);
  line-height: var(--line-height-paragraphs-blog);
  margin-bottom: 4rem;
  margin-left: auto;
  margin-right: auto;
  margin-top: 4rem;
  padding: 3.5rem 6rem;
  width: calc(100% - 12rem);
}

@media (max-width: 840px) {
  .editor-styles-wrapper > blockquote,
  .editor-styles-wrapper > blockquote.wp-block-quote,
  .gutenberg-content > blockquote,
  .gutenberg-content > blockquote.wp-block-quote {
    padding: 3.5rem 2rem;
    width: calc(100% - 4rem);
  }
}

@media (max-width: 480px) {
  .editor-styles-wrapper > blockquote,
  .editor-styles-wrapper > blockquote.wp-block-quote,
  .gutenberg-content > blockquote,
  .gutenberg-content > blockquote.wp-block-quote {
    padding: 4rem 4rem 4rem 2rem;
  }
}

.editor-styles-wrapper > blockquote > p,
.editor-styles-wrapper > blockquote.wp-block-quote > p,
.gutenberg-content > blockquote > p,
.gutenberg-content > blockquote.wp-block-quote > p {
  color: var(--color-blockquote);
  line-height: var(--line-height-paragraphs-blog);
}

.editor-styles-wrapper .wp-block-blockquote.alignwide,
.editor-styles-wrapper .wp-block-blockquote.alignfull,
.gutenberg-content .wp-block-blockquote.alignwide,
.gutenberg-content .wp-block-blockquote.alignfull {
  padding-left: var(--padding-container-horizontal);
  padding-right: var(--padding-container-horizontal);
  width: calc(100% - calc(var(--padding-container-horizontal) * 2));
}

.editor-styles-wrapper .wp-block-blockquote blockquote,
.gutenberg-content .wp-block-blockquote blockquote {
  padding-bottom: 0;
}

pre {
  background-color: #2b303c;
  border: 1px solid #2b303c;
  border-radius: 4px;
  color: var(--color-white-smoke);
  display: block;
  font-family: "Inconsolata", "Menlo", "Monaco", "Consolas", "Andale Mono", "Bitstream Vera Sans Mono", "Courier New", monospace;
  font-size: var(--font-size-small);
  line-height: var(--line-height-paragraphs-blog);
  margin: 3rem 0;
  overflow: auto;
  padding: 15px 16px 14px;
  position: relative;
  white-space: pre;
  word-wrap: break-word;
}

pre code {
  background-color: transparent;
  border-radius: 4px;
  color: var(--color-white-smoke);
}

@media (max-width: 1240px) {
  .editor-styles-wrapper .wp-block-code,
  .gutenberg-content .wp-block-code {
    margin-left: var(--padding-container-horizontal);
    margin-right: var(--padding-container-horizontal);
    width: calc(100% - calc(var(--padding-container-horizontal) * 4));
  }
}

.editor-styles-wrapper pre,
.gutenberg-content pre {
  padding-left: var(--padding-container-horizontal);
  padding-right: var(--padding-container-horizontal);
}

.editor-styles-wrapper .wp-block-columns.alignfull,
.gutenberg-content .wp-block-columns.alignfull {
  padding-left: var(--padding-container-horizontal);
  padding-right: var(--padding-container-horizontal);
}

.editor-styles-wrapper .wp-block-columns.columns-1.alignfull,
.gutenberg-content .wp-block-columns.columns-1.alignfull {
  padding-left: var(--padding-container-horizontal);
  padding-right: var(--padding-container-horizontal);
  width: calc(100% - calc(var(--padding-container-horizontal) * 2));
}

@media (max-width: 900px) {
  .editor-styles-wrapper .wp-block-columns.columns-1,
  .gutenberg-content .wp-block-columns.columns-1 {
    display: grid;
    grid-gap: 1em;
    grid-template-columns: repeat(2, 1fr);
    width: calc(100% - calc(var(--padding-container-horizontal) * 2));
  }
  .editor-styles-wrapper .wp-block-columns.columns-1 .wp-block-column,
  .gutenberg-content .wp-block-columns.columns-1 .wp-block-column {
    margin: 0;
    width: 100%;
  }
}

@media (max-width: 480px) {
  .editor-styles-wrapper .wp-block-columns.columns-1,
  .gutenberg-content .wp-block-columns.columns-1 {
    grid-template-columns: repeat(1, 1fr);
  }
}

.editor-styles-wrapper .wp-block-columns.columns-2.alignfull,
.gutenberg-content .wp-block-columns.columns-2.alignfull {
  padding-left: var(--padding-container-horizontal);
  padding-right: var(--padding-container-horizontal);
  width: calc(100% - calc(var(--padding-container-horizontal) * 2));
}

@media (max-width: 900px) {
  .editor-styles-wrapper .wp-block-columns.columns-2,
  .gutenberg-content .wp-block-columns.columns-2 {
    display: grid;
    grid-gap: 1em;
    grid-template-columns: repeat(2, 1fr);
    width: calc(100% - calc(var(--padding-container-horizontal) * 2));
  }
  .editor-styles-wrapper .wp-block-columns.columns-2 .wp-block-column,
  .gutenberg-content .wp-block-columns.columns-2 .wp-block-column {
    margin: 0;
    width: 100%;
  }
}

@media (max-width: 480px) {
  .editor-styles-wrapper .wp-block-columns.columns-2,
  .gutenberg-content .wp-block-columns.columns-2 {
    grid-template-columns: repeat(1, 1fr);
  }
}

.editor-styles-wrapper .wp-block-columns.columns-3.alignfull,
.gutenberg-content .wp-block-columns.columns-3.alignfull {
  padding-left: var(--padding-container-horizontal);
  padding-right: var(--padding-container-horizontal);
  width: calc(100% - calc(var(--padding-container-horizontal) * 2));
}

@media (max-width: 900px) {
  .editor-styles-wrapper .wp-block-columns.columns-3,
  .gutenberg-content .wp-block-columns.columns-3 {
    display: grid;
    grid-gap: 1em;
    grid-template-columns: repeat(2, 1fr);
    width: calc(100% - calc(var(--padding-container-horizontal) * 2));
  }
  .editor-styles-wrapper .wp-block-columns.columns-3 .wp-block-column,
  .gutenberg-content .wp-block-columns.columns-3 .wp-block-column {
    margin: 0;
    width: 100%;
  }
}

@media (max-width: 480px) {
  .editor-styles-wrapper .wp-block-columns.columns-3,
  .gutenberg-content .wp-block-columns.columns-3 {
    grid-template-columns: repeat(1, 1fr);
  }
}

.editor-styles-wrapper .wp-block-columns.columns-4.alignfull,
.gutenberg-content .wp-block-columns.columns-4.alignfull {
  padding-left: var(--padding-container-horizontal);
  padding-right: var(--padding-container-horizontal);
  width: calc(100% - calc(var(--padding-container-horizontal) * 2));
}

@media (max-width: 900px) {
  .editor-styles-wrapper .wp-block-columns.columns-4,
  .gutenberg-content .wp-block-columns.columns-4 {
    display: grid;
    grid-gap: 1em;
    grid-template-columns: repeat(2, 1fr);
    width: calc(100% - calc(var(--padding-container-horizontal) * 2));
  }
  .editor-styles-wrapper .wp-block-columns.columns-4 .wp-block-column,
  .gutenberg-content .wp-block-columns.columns-4 .wp-block-column {
    margin: 0;
    width: 100%;
  }
}

@media (max-width: 480px) {
  .editor-styles-wrapper .wp-block-columns.columns-4,
  .gutenberg-content .wp-block-columns.columns-4 {
    grid-template-columns: repeat(1, 1fr);
  }
}

.editor-styles-wrapper .wp-block-columns.columns-5.alignfull,
.gutenberg-content .wp-block-columns.columns-5.alignfull {
  padding-left: var(--padding-container-horizontal);
  padding-right: var(--padding-container-horizontal);
  width: calc(100% - calc(var(--padding-container-horizontal) * 2));
}

@media (max-width: 900px) {
  .editor-styles-wrapper .wp-block-columns.columns-5,
  .gutenberg-content .wp-block-columns.columns-5 {
    display: grid;
    grid-gap: 1em;
    grid-template-columns: repeat(2, 1fr);
    width: calc(100% - calc(var(--padding-container-horizontal) * 2));
  }
  .editor-styles-wrapper .wp-block-columns.columns-5 .wp-block-column,
  .gutenberg-content .wp-block-columns.columns-5 .wp-block-column {
    margin: 0;
    width: 100%;
  }
}

@media (max-width: 480px) {
  .editor-styles-wrapper .wp-block-columns.columns-5,
  .gutenberg-content .wp-block-columns.columns-5 {
    grid-template-columns: repeat(1, 1fr);
  }
}

.editor-styles-wrapper .wp-block-columns.columns-6.alignfull,
.gutenberg-content .wp-block-columns.columns-6.alignfull {
  padding-left: var(--padding-container-horizontal);
  padding-right: var(--padding-container-horizontal);
  width: calc(100% - calc(var(--padding-container-horizontal) * 2));
}

@media (max-width: 900px) {
  .editor-styles-wrapper .wp-block-columns.columns-6,
  .gutenberg-content .wp-block-columns.columns-6 {
    display: grid;
    grid-gap: 1em;
    grid-template-columns: repeat(2, 1fr);
    width: calc(100% - calc(var(--padding-container-horizontal) * 2));
  }
  .editor-styles-wrapper .wp-block-columns.columns-6 .wp-block-column,
  .gutenberg-content .wp-block-columns.columns-6 .wp-block-column {
    margin: 0;
    width: 100%;
  }
}

@media (max-width: 480px) {
  .editor-styles-wrapper .wp-block-columns.columns-6,
  .gutenberg-content .wp-block-columns.columns-6 {
    grid-template-columns: repeat(1, 1fr);
  }
}

.editor-styles-wrapper .wp-block-columns.columns-7.alignfull,
.gutenberg-content .wp-block-columns.columns-7.alignfull {
  padding-left: var(--padding-container-horizontal);
  padding-right: var(--padding-container-horizontal);
  width: calc(100% - calc(var(--padding-container-horizontal) * 2));
}

@media (max-width: 900px) {
  .editor-styles-wrapper .wp-block-columns.columns-7,
  .gutenberg-content .wp-block-columns.columns-7 {
    display: grid;
    grid-gap: 1em;
    grid-template-columns: repeat(2, 1fr);
    width: calc(100% - calc(var(--padding-container-horizontal) * 2));
  }
  .editor-styles-wrapper .wp-block-columns.columns-7 .wp-block-column,
  .gutenberg-content .wp-block-columns.columns-7 .wp-block-column {
    margin: 0;
    width: 100%;
  }
}

@media (max-width: 480px) {
  .editor-styles-wrapper .wp-block-columns.columns-7,
  .gutenberg-content .wp-block-columns.columns-7 {
    grid-template-columns: repeat(1, 1fr);
  }
}

.editor-styles-wrapper .wp-block-columns.columns-8.alignfull,
.gutenberg-content .wp-block-columns.columns-8.alignfull {
  padding-left: var(--padding-container-horizontal);
  padding-right: var(--padding-container-horizontal);
  width: calc(100% - calc(var(--padding-container-horizontal) * 2));
}

@media (max-width: 900px) {
  .editor-styles-wrapper .wp-block-columns.columns-8,
  .gutenberg-content .wp-block-columns.columns-8 {
    display: grid;
    grid-gap: 1em;
    grid-template-columns: repeat(2, 1fr);
    width: calc(100% - calc(var(--padding-container-horizontal) * 2));
  }
  .editor-styles-wrapper .wp-block-columns.columns-8 .wp-block-column,
  .gutenberg-content .wp-block-columns.columns-8 .wp-block-column {
    margin: 0;
    width: 100%;
  }
}

@media (max-width: 480px) {
  .editor-styles-wrapper .wp-block-columns.columns-8,
  .gutenberg-content .wp-block-columns.columns-8 {
    grid-template-columns: repeat(1, 1fr);
  }
}

.editor-styles-wrapper .wp-block-columns.columns-9.alignfull,
.gutenberg-content .wp-block-columns.columns-9.alignfull {
  padding-left: var(--padding-container-horizontal);
  padding-right: var(--padding-container-horizontal);
  width: calc(100% - calc(var(--padding-container-horizontal) * 2));
}

@media (max-width: 900px) {
  .editor-styles-wrapper .wp-block-columns.columns-9,
  .gutenberg-content .wp-block-columns.columns-9 {
    display: grid;
    grid-gap: 1em;
    grid-template-columns: repeat(2, 1fr);
    width: calc(100% - calc(var(--padding-container-horizontal) * 2));
  }
  .editor-styles-wrapper .wp-block-columns.columns-9 .wp-block-column,
  .gutenberg-content .wp-block-columns.columns-9 .wp-block-column {
    margin: 0;
    width: 100%;
  }
}

@media (max-width: 480px) {
  .editor-styles-wrapper .wp-block-columns.columns-9,
  .gutenberg-content .wp-block-columns.columns-9 {
    grid-template-columns: repeat(1, 1fr);
  }
}

.editor-styles-wrapper .wp-block-cover__inner-container,
.gutenberg-content .wp-block-cover__inner-container {
  padding-left: var(--padding-container-horizontal);
  padding-right: var(--padding-container-horizontal);
}

.editor-styles-wrapper .wp-block-cover__inner-container p,
.gutenberg-content .wp-block-cover__inner-container p {
  line-height: var(--line-height-core-heading);
}

.editor-styles-wrapper .wp-block-embed iframe,
.editor-styles-wrapper .wp-block-embed video,
.gutenberg-content .wp-block-embed iframe,
.gutenberg-content .wp-block-embed video {
  max-width: 100%;
  width: 100%;
}

@media (max-width: 1240px) {
  .editor-styles-wrapper .wp-block-embed.alignwide,
  .editor-styles-wrapper .wp-block-embed.alignfull,
  .gutenberg-content .wp-block-embed.alignwide,
  .gutenberg-content .wp-block-embed.alignfull {
    width: calc(100% - calc(var(--padding-container-horizontal) * 2));
  }
}

.editor-styles-wrapper .wp-block-embed.alignfull,
.gutenberg-content .wp-block-embed.alignfull {
  margin-left: 0;
  margin-right: 0;
  max-width: 100%;
  padding-left: 0;
  padding-right: 0;
  width: 100%;
}

.editor-styles-wrapper .is-grid,
.editor-styles-wrapper .wp-block-gallery,
.gutenberg-content .is-grid,
.gutenberg-content .wp-block-gallery {
  overflow: hidden;
}

.editor-styles-wrapper .is-grid figcaption,
.editor-styles-wrapper .wp-block-gallery figcaption,
.gutenberg-content .is-grid figcaption,
.gutenberg-content .wp-block-gallery figcaption {
  color: var(--color-white);
  font-size: var(--font-size-small);
  line-height: 1.55;
  margin-bottom: var(--margin-between-text-elements);
  width: 100%;
}

.editor-styles-wrapper .is-grid img,
.editor-styles-wrapper .wp-block-gallery img,
.gutenberg-content .is-grid img,
.gutenberg-content .wp-block-gallery img {
  margin-bottom: 0;
}

.editor-styles-wrapper .is-grid.alignwide,
.editor-styles-wrapper .wp-block-gallery.alignwide,
.gutenberg-content .is-grid.alignwide,
.gutenberg-content .wp-block-gallery.alignwide {
  padding-left: var(--padding-container-horizontal);
  padding-right: var(--padding-container-horizontal);
}

.editor-styles-wrapper .is-grid.alignfull,
.editor-styles-wrapper .wp-block-gallery.alignfull,
.gutenberg-content .is-grid.alignfull,
.gutenberg-content .wp-block-gallery.alignfull {
  padding-left: var(--padding-container-horizontal);
  padding-right: var(--padding-container-horizontal);
  width: calc(100% - calc(var(--padding-container-horizontal) * 2));
}

.editor-styles-wrapper .is-grid,
.editor-styles-wrapper .blocks-gallery-grid,
.gutenberg-content .is-grid,
.gutenberg-content .blocks-gallery-grid {
  display: grid;
  padding-left: 0;
}

.editor-styles-wrapper .is-grid .blocks-gallery-item,
.editor-styles-wrapper .blocks-gallery-grid .blocks-gallery-item,
.gutenberg-content .is-grid .blocks-gallery-item,
.gutenberg-content .blocks-gallery-grid .blocks-gallery-item {
  margin: 0;
  width: 100%;
}

.editor-styles-wrapper .is-grid.columns-2,
.editor-styles-wrapper .columns-2 .blocks-gallery-grid,
.gutenberg-content .is-grid.columns-2,
.gutenberg-content .columns-2 .blocks-gallery-grid {
  grid-gap: 3rem;
  grid-template-columns: repeat(2, 1fr);
}

@media (max-width: 1000px) {
  .editor-styles-wrapper .is-grid.columns-2,
  .editor-styles-wrapper .columns-2 .blocks-gallery-grid,
  .gutenberg-content .is-grid.columns-2,
  .gutenberg-content .columns-2 .blocks-gallery-grid {
    grid-template-columns: repeat(3, 1fr);
  }
}

@media (max-width: 670px) {
  .editor-styles-wrapper .is-grid.columns-2,
  .editor-styles-wrapper .columns-2 .blocks-gallery-grid,
  .gutenberg-content .is-grid.columns-2,
  .gutenberg-content .columns-2 .blocks-gallery-grid {
    grid-gap: 2rem;
    grid-template-columns: repeat(2, 1fr);
  }
}

.editor-styles-wrapper .is-grid.columns-3,
.editor-styles-wrapper .columns-3 .blocks-gallery-grid,
.gutenberg-content .is-grid.columns-3,
.gutenberg-content .columns-3 .blocks-gallery-grid {
  grid-gap: 3rem;
  grid-template-columns: repeat(3, 1fr);
}

@media (max-width: 1000px) {
  .editor-styles-wrapper .is-grid.columns-3,
  .editor-styles-wrapper .columns-3 .blocks-gallery-grid,
  .gutenberg-content .is-grid.columns-3,
  .gutenberg-content .columns-3 .blocks-gallery-grid {
    grid-template-columns: repeat(3, 1fr);
  }
}

@media (max-width: 670px) {
  .editor-styles-wrapper .is-grid.columns-3,
  .editor-styles-wrapper .columns-3 .blocks-gallery-grid,
  .gutenberg-content .is-grid.columns-3,
  .gutenberg-content .columns-3 .blocks-gallery-grid {
    grid-gap: 2rem;
    grid-template-columns: repeat(2, 1fr);
  }
}

.editor-styles-wrapper .is-grid.columns-4,
.editor-styles-wrapper .columns-4 .blocks-gallery-grid,
.gutenberg-content .is-grid.columns-4,
.gutenberg-content .columns-4 .blocks-gallery-grid {
  grid-gap: 3rem;
  grid-template-columns: repeat(4, 1fr);
}

@media (max-width: 1000px) {
  .editor-styles-wrapper .is-grid.columns-4,
  .editor-styles-wrapper .columns-4 .blocks-gallery-grid,
  .gutenberg-content .is-grid.columns-4,
  .gutenberg-content .columns-4 .blocks-gallery-grid {
    grid-template-columns: repeat(3, 1fr);
  }
}

@media (max-width: 670px) {
  .editor-styles-wrapper .is-grid.columns-4,
  .editor-styles-wrapper .columns-4 .blocks-gallery-grid,
  .gutenberg-content .is-grid.columns-4,
  .gutenberg-content .columns-4 .blocks-gallery-grid {
    grid-gap: 2rem;
    grid-template-columns: repeat(2, 1fr);
  }
}

.editor-styles-wrapper .is-grid.columns-5,
.editor-styles-wrapper .columns-5 .blocks-gallery-grid,
.gutenberg-content .is-grid.columns-5,
.gutenberg-content .columns-5 .blocks-gallery-grid {
  grid-gap: 3rem;
  grid-template-columns: repeat(5, 1fr);
}

@media (max-width: 1000px) {
  .editor-styles-wrapper .is-grid.columns-5,
  .editor-styles-wrapper .columns-5 .blocks-gallery-grid,
  .gutenberg-content .is-grid.columns-5,
  .gutenberg-content .columns-5 .blocks-gallery-grid {
    grid-template-columns: repeat(3, 1fr);
  }
}

@media (max-width: 670px) {
  .editor-styles-wrapper .is-grid.columns-5,
  .editor-styles-wrapper .columns-5 .blocks-gallery-grid,
  .gutenberg-content .is-grid.columns-5,
  .gutenberg-content .columns-5 .blocks-gallery-grid {
    grid-gap: 2rem;
    grid-template-columns: repeat(2, 1fr);
  }
}

.editor-styles-wrapper .is-grid.columns-6,
.editor-styles-wrapper .columns-6 .blocks-gallery-grid,
.gutenberg-content .is-grid.columns-6,
.gutenberg-content .columns-6 .blocks-gallery-grid {
  grid-gap: 3rem;
  grid-template-columns: repeat(6, 1fr);
}

@media (max-width: 1000px) {
  .editor-styles-wrapper .is-grid.columns-6,
  .editor-styles-wrapper .columns-6 .blocks-gallery-grid,
  .gutenberg-content .is-grid.columns-6,
  .gutenberg-content .columns-6 .blocks-gallery-grid {
    grid-template-columns: repeat(3, 1fr);
  }
}

@media (max-width: 670px) {
  .editor-styles-wrapper .is-grid.columns-6,
  .editor-styles-wrapper .columns-6 .blocks-gallery-grid,
  .gutenberg-content .is-grid.columns-6,
  .gutenberg-content .columns-6 .blocks-gallery-grid {
    grid-gap: 2rem;
    grid-template-columns: repeat(2, 1fr);
  }
}

.editor-styles-wrapper .is-grid.columns-7,
.editor-styles-wrapper .columns-7 .blocks-gallery-grid,
.gutenberg-content .is-grid.columns-7,
.gutenberg-content .columns-7 .blocks-gallery-grid {
  grid-gap: 3rem;
  grid-template-columns: repeat(7, 1fr);
}

@media (max-width: 1000px) {
  .editor-styles-wrapper .is-grid.columns-7,
  .editor-styles-wrapper .columns-7 .blocks-gallery-grid,
  .gutenberg-content .is-grid.columns-7,
  .gutenberg-content .columns-7 .blocks-gallery-grid {
    grid-template-columns: repeat(3, 1fr);
  }
}

@media (max-width: 670px) {
  .editor-styles-wrapper .is-grid.columns-7,
  .editor-styles-wrapper .columns-7 .blocks-gallery-grid,
  .gutenberg-content .is-grid.columns-7,
  .gutenberg-content .columns-7 .blocks-gallery-grid {
    grid-gap: 2rem;
    grid-template-columns: repeat(2, 1fr);
  }
}

.editor-styles-wrapper .is-grid.columns-8,
.editor-styles-wrapper .columns-8 .blocks-gallery-grid,
.gutenberg-content .is-grid.columns-8,
.gutenberg-content .columns-8 .blocks-gallery-grid {
  grid-gap: 3rem;
  grid-template-columns: repeat(8, 1fr);
}

@media (max-width: 1000px) {
  .editor-styles-wrapper .is-grid.columns-8,
  .editor-styles-wrapper .columns-8 .blocks-gallery-grid,
  .gutenberg-content .is-grid.columns-8,
  .gutenberg-content .columns-8 .blocks-gallery-grid {
    grid-template-columns: repeat(3, 1fr);
  }
}

@media (max-width: 670px) {
  .editor-styles-wrapper .is-grid.columns-8,
  .editor-styles-wrapper .columns-8 .blocks-gallery-grid,
  .gutenberg-content .is-grid.columns-8,
  .gutenberg-content .columns-8 .blocks-gallery-grid {
    grid-gap: 2rem;
    grid-template-columns: repeat(2, 1fr);
  }
}

.editor-styles-wrapper .is-grid.columns-9,
.editor-styles-wrapper .columns-9 .blocks-gallery-grid,
.gutenberg-content .is-grid.columns-9,
.gutenberg-content .columns-9 .blocks-gallery-grid {
  grid-gap: 3rem;
  grid-template-columns: repeat(9, 1fr);
}

@media (max-width: 1000px) {
  .editor-styles-wrapper .is-grid.columns-9,
  .editor-styles-wrapper .columns-9 .blocks-gallery-grid,
  .gutenberg-content .is-grid.columns-9,
  .gutenberg-content .columns-9 .blocks-gallery-grid {
    grid-template-columns: repeat(3, 1fr);
  }
}

@media (max-width: 670px) {
  .editor-styles-wrapper .is-grid.columns-9,
  .editor-styles-wrapper .columns-9 .blocks-gallery-grid,
  .gutenberg-content .is-grid.columns-9,
  .gutenberg-content .columns-9 .blocks-gallery-grid {
    grid-gap: 2rem;
    grid-template-columns: repeat(2, 1fr);
  }
}

.editor-styles-wrapper .blocks-gallery-item > figure figcaption,
.gutenberg-content .blocks-gallery-item > figure figcaption {
  margin-bottom: 0;
}

.editor-styles-wrapper h1,
.editor-styles-wrapper h2,
.editor-styles-wrapper h3,
.editor-styles-wrapper h4,
.editor-styles-wrapper h5,
.gutenberg-content h1,
.gutenberg-content h2,
.gutenberg-content h3,
.gutenberg-content h4,
.gutenberg-content h5 {
  line-height: var(--line-height-core-heading);
}

.editor-styles-wrapper h1:first-child,
.editor-styles-wrapper h2:first-child,
.editor-styles-wrapper h3:first-child,
.editor-styles-wrapper h4:first-child,
.editor-styles-wrapper h5:first-child,
.editor-styles-wrapper h6:first-child,
.gutenberg-content h1:first-child,
.gutenberg-content h2:first-child,
.gutenberg-content h3:first-child,
.gutenberg-content h4:first-child,
.gutenberg-content h5:first-child,
.gutenberg-content h6:first-child {
  margin-top: 0;
}

.editor-styles-wrapper .wp-block-image,
.gutenberg-content .wp-block-image {
  display: block;
  margin-bottom: var(--margin-wp-block-image);
  margin-top: var(--margin-wp-block-image);
}

.editor-styles-wrapper .wp-block-image.alignfull,
.gutenberg-content .wp-block-image.alignfull {
  padding-left: 0;
  padding-right: 0;
}

@media (min-width: 1240px) {
  .editor-styles-wrapper .wp-block-image.alignwide,
  .gutenberg-content .wp-block-image.alignwide {
    padding-left: 0;
    padding-right: 0;
  }
}

@media (max-width: 1240px) {
  .editor-styles-wrapper .wp-block-image.alignwide,
  .gutenberg-content .wp-block-image.alignwide {
    width: calc(100% - calc(var(--padding-container-horizontal) * 2));
  }
}

.editor-styles-wrapper .wp-block-image .alignwide img,
.editor-styles-wrapper .wp-block-image .alignfull img,
.gutenberg-content .wp-block-image .alignwide img,
.gutenberg-content .wp-block-image .alignfull img {
  width: 100%;
}

.editor-styles-wrapper .wp-block-image .alignfull img,
.gutenberg-content .wp-block-image .alignfull img {
  border-radius: 0;
}

.editor-styles-wrapper .wp-block-image > figure,
.gutenberg-content .wp-block-image > figure {
  display: block;
  width: auto;
}

.editor-styles-wrapper .wp-block-image > figure.alignleft, .editor-styles-wrapper .wp-block-image > figure.alignright,
.gutenberg-content .wp-block-image > figure.alignleft,
.gutenberg-content .wp-block-image > figure.alignright {
  /* stylelint-disable csstools/value-no-unknown-custom-properties */
  max-width: var(--width-child-img);
  /* stylelint-enable */
}

.editor-styles-wrapper .wp-block-image figcaption,
.gutenberg-content .wp-block-image figcaption {
  margin-bottom: 2rem;
}

@media (max-width: 480px) {
  .editor-styles-wrapper .wp-block-image.alignleft img,
  .editor-styles-wrapper .wp-block-image.alignright img,
  .editor-styles-wrapper .wp-block-image.aligncenter img,
  .gutenberg-content .wp-block-image.alignleft img,
  .gutenberg-content .wp-block-image.alignright img,
  .gutenberg-content .wp-block-image.aligncenter img {
    float: none;
    height: auto;
    width: 100%;
  }
}

.editor-styles-wrapper .wp-block-image .aligncenter,
.gutenberg-content .wp-block-image .aligncenter {
  text-align: center;
}

.editor-styles-wrapper .wp-block-image .aligncenter img,
.gutenberg-content .wp-block-image .aligncenter img {
  margin-left: auto;
  margin-right: auto;
}

.editor-styles-wrapper .wp-block-categories-list,
.editor-styles-wrapper ol:not([class]),
.editor-styles-wrapper ul:not([class]),
.gutenberg-content .wp-block-categories-list,
.gutenberg-content ol:not([class]),
.gutenberg-content ul:not([class]) {
  padding-left: calc(2rem + var(--margin-between-paragraphs));
}

.editor-styles-wrapper p,
.gutenberg-content p {
  color: var(--color-paragraphs);
  line-height: var(--line-height-paragraphs-blog);
}

.editor-styles-wrapper .has-larger-font-size,
.editor-styles-wrapper .has-large-font-size,
.gutenberg-content .has-larger-font-size,
.gutenberg-content .has-large-font-size {
  line-height: var(--line-height-headings);
}

@media (max-width: 480px) {
  .editor-styles-wrapper .has-large-font-size,
  .gutenberg-content .has-large-font-size {
    font-size: var(--font-size-large);
  }
}

@media (max-width: 480px) {
  .editor-styles-wrapper .has-larger-font-size,
  .gutenberg-content .has-larger-font-size {
    font-size: var(--font-size-huge);
  }
}

@media (max-width: 1240px) {
  .editor-styles-wrapper .has-background,
  .gutenberg-content .has-background {
    width: calc(100% - calc(2.375em * 2));
  }
}

@media (max-width: 1240px) {
  .editor-styles-wrapper .wp-block-preformatted,
  .gutenberg-content .wp-block-preformatted {
    margin-left: var(--padding-container-horizontal);
    margin-right: var(--padding-container-horizontal);
    width: calc(100% - calc(var(--padding-container-horizontal) * 4));
  }
}

.editor-styles-wrapper .wp-block-pullquote.alignwide,
.editor-styles-wrapper .wp-block-pullquote.alignfull,
.gutenberg-content .wp-block-pullquote.alignwide,
.gutenberg-content .wp-block-pullquote.alignfull {
  padding-left: 0;
  padding-right: 0;
}

@media (max-width: 1240px) {
  .editor-styles-wrapper .wp-block-pullquote.alignwide,
  .editor-styles-wrapper .wp-block-pullquote.alignfull,
  .gutenberg-content .wp-block-pullquote.alignwide,
  .gutenberg-content .wp-block-pullquote.alignfull {
    margin-left: var(--padding-container-horizontal);
    margin-right: var(--padding-container-horizontal);
    width: calc(100% - calc(var(--padding-container-horizontal) * 2));
  }
}

.editor-styles-wrapper .wp-block-pullquote.alignfull,
.gutenberg-content .wp-block-pullquote.alignfull {
  margin-left: var(--padding-container-horizontal);
  margin-right: var(--padding-container-horizontal);
  width: calc(100% - calc(var(--padding-container-horizontal) * 2));
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

td,
th {
  font-family: "Inter", -apple-system, "BlinkMacSystemFont", "Segoe UI", "Roboto", "Oxygen-Sans", "Ubuntu", "Cantarell", "Helvetica Neue", sans-serif;
  height: 3rem;
  padding: 1rem;
}

th {
  font-weight: 700;
}

.editor-styles-wrapper .wp-block-table.alignfull,
.gutenberg-content .wp-block-table.alignfull {
  margin-left: var(--padding-container-horizontal);
  margin-right: var(--padding-container-horizontal);
  width: calc(100% - calc(var(--padding-container-horizontal) * 2));
}

@media (max-width: 1240px) {
  .editor-styles-wrapper .wp-block-table.alignwide,
  .gutenberg-content .wp-block-table.alignwide {
    margin-left: var(--padding-container-horizontal);
    margin-right: var(--padding-container-horizontal);
    width: calc(100% - calc(var(--padding-container-horizontal) * 2));
  }
}

.editor-styles-wrapper .wp-block-text-columns.alignfull,
.gutenberg-content .wp-block-text-columns.alignfull {
  padding-left: var(--padding-container-horizontal);
  padding-right: var(--padding-container-horizontal);
}

.editor-styles-wrapper .wp-block-text-columns.columns-1.alignfull,
.gutenberg-content .wp-block-text-columns.columns-1.alignfull {
  padding-left: var(--padding-container-horizontal);
  padding-right: var(--padding-container-horizontal);
  width: calc(100% - calc(var(--padding-container-horizontal) * 2));
}

@media (max-width: 900px) {
  .editor-styles-wrapper .wp-block-text-columns.columns-1,
  .gutenberg-content .wp-block-text-columns.columns-1 {
    display: grid;
    grid-gap: 1em;
    grid-template-columns: repeat(2, 1fr);
    width: calc(100% - calc(var(--padding-container-horizontal) * 2));
  }
  .editor-styles-wrapper .wp-block-text-columns.columns-1 .wp-block-column,
  .gutenberg-content .wp-block-text-columns.columns-1 .wp-block-column {
    margin: 0;
    width: 100%;
  }
}

@media (max-width: 480px) {
  .editor-styles-wrapper .wp-block-text-columns.columns-1,
  .gutenberg-content .wp-block-text-columns.columns-1 {
    grid-template-columns: repeat(1, 1fr);
  }
}

.editor-styles-wrapper .wp-block-text-columns.columns-2.alignfull,
.gutenberg-content .wp-block-text-columns.columns-2.alignfull {
  padding-left: var(--padding-container-horizontal);
  padding-right: var(--padding-container-horizontal);
  width: calc(100% - calc(var(--padding-container-horizontal) * 2));
}

@media (max-width: 900px) {
  .editor-styles-wrapper .wp-block-text-columns.columns-2,
  .gutenberg-content .wp-block-text-columns.columns-2 {
    display: grid;
    grid-gap: 1em;
    grid-template-columns: repeat(2, 1fr);
    width: calc(100% - calc(var(--padding-container-horizontal) * 2));
  }
  .editor-styles-wrapper .wp-block-text-columns.columns-2 .wp-block-column,
  .gutenberg-content .wp-block-text-columns.columns-2 .wp-block-column {
    margin: 0;
    width: 100%;
  }
}

@media (max-width: 480px) {
  .editor-styles-wrapper .wp-block-text-columns.columns-2,
  .gutenberg-content .wp-block-text-columns.columns-2 {
    grid-template-columns: repeat(1, 1fr);
  }
}

.editor-styles-wrapper .wp-block-text-columns.columns-3.alignfull,
.gutenberg-content .wp-block-text-columns.columns-3.alignfull {
  padding-left: var(--padding-container-horizontal);
  padding-right: var(--padding-container-horizontal);
  width: calc(100% - calc(var(--padding-container-horizontal) * 2));
}

@media (max-width: 900px) {
  .editor-styles-wrapper .wp-block-text-columns.columns-3,
  .gutenberg-content .wp-block-text-columns.columns-3 {
    display: grid;
    grid-gap: 1em;
    grid-template-columns: repeat(2, 1fr);
    width: calc(100% - calc(var(--padding-container-horizontal) * 2));
  }
  .editor-styles-wrapper .wp-block-text-columns.columns-3 .wp-block-column,
  .gutenberg-content .wp-block-text-columns.columns-3 .wp-block-column {
    margin: 0;
    width: 100%;
  }
}

@media (max-width: 480px) {
  .editor-styles-wrapper .wp-block-text-columns.columns-3,
  .gutenberg-content .wp-block-text-columns.columns-3 {
    grid-template-columns: repeat(1, 1fr);
  }
}

.editor-styles-wrapper .wp-block-text-columns.columns-4.alignfull,
.gutenberg-content .wp-block-text-columns.columns-4.alignfull {
  padding-left: var(--padding-container-horizontal);
  padding-right: var(--padding-container-horizontal);
  width: calc(100% - calc(var(--padding-container-horizontal) * 2));
}

@media (max-width: 900px) {
  .editor-styles-wrapper .wp-block-text-columns.columns-4,
  .gutenberg-content .wp-block-text-columns.columns-4 {
    display: grid;
    grid-gap: 1em;
    grid-template-columns: repeat(2, 1fr);
    width: calc(100% - calc(var(--padding-container-horizontal) * 2));
  }
  .editor-styles-wrapper .wp-block-text-columns.columns-4 .wp-block-column,
  .gutenberg-content .wp-block-text-columns.columns-4 .wp-block-column {
    margin: 0;
    width: 100%;
  }
}

@media (max-width: 480px) {
  .editor-styles-wrapper .wp-block-text-columns.columns-4,
  .gutenberg-content .wp-block-text-columns.columns-4 {
    grid-template-columns: repeat(1, 1fr);
  }
}

.editor-styles-wrapper .wp-block-text-columns.columns-5.alignfull,
.gutenberg-content .wp-block-text-columns.columns-5.alignfull {
  padding-left: var(--padding-container-horizontal);
  padding-right: var(--padding-container-horizontal);
  width: calc(100% - calc(var(--padding-container-horizontal) * 2));
}

@media (max-width: 900px) {
  .editor-styles-wrapper .wp-block-text-columns.columns-5,
  .gutenberg-content .wp-block-text-columns.columns-5 {
    display: grid;
    grid-gap: 1em;
    grid-template-columns: repeat(2, 1fr);
    width: calc(100% - calc(var(--padding-container-horizontal) * 2));
  }
  .editor-styles-wrapper .wp-block-text-columns.columns-5 .wp-block-column,
  .gutenberg-content .wp-block-text-columns.columns-5 .wp-block-column {
    margin: 0;
    width: 100%;
  }
}

@media (max-width: 480px) {
  .editor-styles-wrapper .wp-block-text-columns.columns-5,
  .gutenberg-content .wp-block-text-columns.columns-5 {
    grid-template-columns: repeat(1, 1fr);
  }
}

.editor-styles-wrapper .wp-block-text-columns.columns-6.alignfull,
.gutenberg-content .wp-block-text-columns.columns-6.alignfull {
  padding-left: var(--padding-container-horizontal);
  padding-right: var(--padding-container-horizontal);
  width: calc(100% - calc(var(--padding-container-horizontal) * 2));
}

@media (max-width: 900px) {
  .editor-styles-wrapper .wp-block-text-columns.columns-6,
  .gutenberg-content .wp-block-text-columns.columns-6 {
    display: grid;
    grid-gap: 1em;
    grid-template-columns: repeat(2, 1fr);
    width: calc(100% - calc(var(--padding-container-horizontal) * 2));
  }
  .editor-styles-wrapper .wp-block-text-columns.columns-6 .wp-block-column,
  .gutenberg-content .wp-block-text-columns.columns-6 .wp-block-column {
    margin: 0;
    width: 100%;
  }
}

@media (max-width: 480px) {
  .editor-styles-wrapper .wp-block-text-columns.columns-6,
  .gutenberg-content .wp-block-text-columns.columns-6 {
    grid-template-columns: repeat(1, 1fr);
  }
}

.editor-styles-wrapper .wp-block-text-columns.columns-7.alignfull,
.gutenberg-content .wp-block-text-columns.columns-7.alignfull {
  padding-left: var(--padding-container-horizontal);
  padding-right: var(--padding-container-horizontal);
  width: calc(100% - calc(var(--padding-container-horizontal) * 2));
}

@media (max-width: 900px) {
  .editor-styles-wrapper .wp-block-text-columns.columns-7,
  .gutenberg-content .wp-block-text-columns.columns-7 {
    display: grid;
    grid-gap: 1em;
    grid-template-columns: repeat(2, 1fr);
    width: calc(100% - calc(var(--padding-container-horizontal) * 2));
  }
  .editor-styles-wrapper .wp-block-text-columns.columns-7 .wp-block-column,
  .gutenberg-content .wp-block-text-columns.columns-7 .wp-block-column {
    margin: 0;
    width: 100%;
  }
}

@media (max-width: 480px) {
  .editor-styles-wrapper .wp-block-text-columns.columns-7,
  .gutenberg-content .wp-block-text-columns.columns-7 {
    grid-template-columns: repeat(1, 1fr);
  }
}

.editor-styles-wrapper .wp-block-text-columns.columns-8.alignfull,
.gutenberg-content .wp-block-text-columns.columns-8.alignfull {
  padding-left: var(--padding-container-horizontal);
  padding-right: var(--padding-container-horizontal);
  width: calc(100% - calc(var(--padding-container-horizontal) * 2));
}

@media (max-width: 900px) {
  .editor-styles-wrapper .wp-block-text-columns.columns-8,
  .gutenberg-content .wp-block-text-columns.columns-8 {
    display: grid;
    grid-gap: 1em;
    grid-template-columns: repeat(2, 1fr);
    width: calc(100% - calc(var(--padding-container-horizontal) * 2));
  }
  .editor-styles-wrapper .wp-block-text-columns.columns-8 .wp-block-column,
  .gutenberg-content .wp-block-text-columns.columns-8 .wp-block-column {
    margin: 0;
    width: 100%;
  }
}

@media (max-width: 480px) {
  .editor-styles-wrapper .wp-block-text-columns.columns-8,
  .gutenberg-content .wp-block-text-columns.columns-8 {
    grid-template-columns: repeat(1, 1fr);
  }
}

.editor-styles-wrapper .wp-block-text-columns.columns-9.alignfull,
.gutenberg-content .wp-block-text-columns.columns-9.alignfull {
  padding-left: var(--padding-container-horizontal);
  padding-right: var(--padding-container-horizontal);
  width: calc(100% - calc(var(--padding-container-horizontal) * 2));
}

@media (max-width: 900px) {
  .editor-styles-wrapper .wp-block-text-columns.columns-9,
  .gutenberg-content .wp-block-text-columns.columns-9 {
    display: grid;
    grid-gap: 1em;
    grid-template-columns: repeat(2, 1fr);
    width: calc(100% - calc(var(--padding-container-horizontal) * 2));
  }
  .editor-styles-wrapper .wp-block-text-columns.columns-9 .wp-block-column,
  .gutenberg-content .wp-block-text-columns.columns-9 .wp-block-column {
    margin: 0;
    width: 100%;
  }
}

@media (max-width: 480px) {
  .editor-styles-wrapper .wp-block-text-columns.columns-9,
  .gutenberg-content .wp-block-text-columns.columns-9 {
    grid-template-columns: repeat(1, 1fr);
  }
}

@media (max-width: 1240px) {
  .editor-styles-wrapper .wp-block-verse,
  .gutenberg-content .wp-block-verse {
    margin-left: var(--padding-container-horizontal);
    margin-right: var(--padding-container-horizontal);
    width: calc(100% - calc(var(--padding-container-horizontal) * 4));
  }
}

.editor-styles-wrapper .wp-block-video video,
.gutenberg-content .wp-block-video video {
  max-width: 100%;
  width: 100%;
}

@media (max-width: 1240px) {
  .editor-styles-wrapper .wp-block-video.alignwide,
  .editor-styles-wrapper .wp-block-video.alignfull,
  .gutenberg-content .wp-block-video.alignwide,
  .gutenberg-content .wp-block-video.alignfull {
    width: calc(100% - calc(var(--padding-container-horizontal) * 2));
  }
}

.editor-styles-wrapper .wp-block-video.alignfull,
.gutenberg-content .wp-block-video.alignfull {
  margin-left: 0;
  margin-right: 0;
  max-width: 100%;
  padding-left: 0;
  padding-right: 0;
  width: 100%;
}

.wp-block.is-style-boxed,
.is-style-boxed {
  border: 2px solid var(--color-paragraphs);
  color: var(--color-paragraphs);
  font-size: 17px;
  font-style: normal;
  font-weight: 500;
  line-height: var(--line-height-paragraphs-blog);
  padding: 2rem;
  width: calc(100% - 4rem);
}

@media (min-width: 840px) {
  .gutenberg-content .is-style-boxed {
    transform: translate(2rem, 0);
  }
}

.wp-block-button__link {
  -webkit-appearance: none;
     -moz-appearance: none;
          appearance: none;
  background-color: var(--color-east-bay);
  border: 0;
  border-radius: 3px;
  color: var(--color-white);
  cursor: pointer;
  display: inline-block;
  font-family: "Inter", -apple-system, "BlinkMacSystemFont", "Segoe UI", "Roboto", "Oxygen-Sans", "Ubuntu", "Cantarell", "Helvetica Neue", sans-serif;
  font-size: var(--font-size-small);
  font-weight: 700;
  line-height: 1;
  margin-bottom: 0;
  padding-bottom: 12px;
  padding-left: 25px;
  padding-right: 25px;
  padding-top: 12px;
  position: relative;
  text-decoration: none;
  transition: all 0.08s cubic-bezier(0.25, 0.46, 0.45, 0.94);
  width: auto;
  /* stylelint-disable a11y/no-display-none */
  /* stylelint-enable */
}

.wp-block-button__link.is-external-link::after {
  display: none;
}

.wp-block-button__link:hover, .wp-block-button__link:focus {
  background-color: #2a2d3e;
  border-color: #2a2d3e;
  color: choose-contrast-color(#2a2d3e);
}

.wp-block-file .wp-block-file__button {
  font-size: var(--font-size-small);
  padding-bottom: 8px;
  padding-left: 17px;
  padding-right: 17px;
  padding-top: 8px;
  font-size: .8em;
  padding: .3em .8em;
}

.editor-styles-wrapper {
  overflow-x: hidden;
}

[data-align="right"] figcaption,
[data-align="left"] figcaption {
  margin-left: auto;
  margin-right: auto;
  /* stylelint-disable csstools/value-no-unknown-custom-properties */
  max-width: var(--width-child-img);
  text-align: center;
  /* stylelint-enable */
}

/* stylelint-disable declaration-no-important */
.wp-block {
  font-family: "Inter", -apple-system, "BlinkMacSystemFont", "Segoe UI", "Roboto", "Oxygen-Sans", "Ubuntu", "Cantarell", "Helvetica Neue", sans-serif !important;
  max-width: 800px !important;
}

.wp-block[data-align="full"] {
  max-width: 100% !important;
  width: 100% !important;
}

.wp-block[data-align="wide"] {
  max-width: 1200px !important;
  width: 100% !important;
}

@media (min-width: 870px) {
  .wp-block[data-align="wide"] {
    padding-left: 0;
    padding-right: 0;
  }
}
