/* stylelint-disable declaration-property-unit-allowed-list */
/* stylelint-enable declaration-property-unit-allowed-list */
:root {
  --padding-container-horizontal: 2rem;
  --padding-container-vertical: 6.4rem;
  --padding-site-header-vertical: 2rem;
  --padding-block: 8rem;
  --margin-between-text-elements: 4rem;
}

@media (max-width: 1350px) {
  :root {
    --padding-container-horizontal: 2rem;
  }
}

@media (max-width: 960px) {
  :root {
    --padding-site-header-vertical: 2rem;
  }
}

@media (max-width: 770px) {
  :root {
    --padding-container-vertical: 5rem;
  }
}

@media (max-width: 600px) {
  :root {
    --padding-block: 6rem;
  }
}

@media (max-width: 480px) {
  :root {
    --padding-container-vertical: 4rem;
  }
}

:root {
  --font-size-default: 20px;
  --font-size-tiny: 14px;
  --font-size-small: 16px;
  --font-size-medium: 17px;
  --font-size-large: 18px;
  --font-size-extra-large: 20px;
  --font-size-huge: 22px;
  --body-line-height: 1.7;
  --heading-line-height: 1.5;
}

@media (max-width: 480px) {
  :root {
    --font-size-tiny: 16px;
    --font-size-small: 16px;
    --font-size-default: 16px;
    --font-size-extra-large: 18px;
  }
}

@media (max-width: 420px) {
  :root {
    --font-size-tiny: 14px;
    --font-size-small: 14px;
  }
}

@font-face {
  font-display: auto;
  font-family: "Inter";
  font-style: normal;
  font-weight: 400;
  src: url("../../../content/themes/air-light/fonts/Inter-Regular.eot");
  src: url("../../../content/themes/air-light/fonts/Inter-Regular.eot?#iefix") format("embedded-opentype"), url("../../../content/themes/air-light/fonts/Inter-Regular.woff") format("woff"), url("../../../content/themes/air-light/fonts/Inter-Regular.woff2") format("woff2"), url("../../../content/themes/air-light/fonts/Inter-Regular.ttf") format("truetype"), url("../../../content/themes/air-light/fonts/Inter-Regular.svg#Inter") format("svg");
}

@font-face {
  font-display: auto;
  font-family: "Inter";
  font-style: italic;
  font-weight: 400;
  src: url("../../../content/themes/air-light/fonts/Inter-Italic.eot");
  src: url("../../../content/themes/air-light/fonts/Inter-Italic.eot?#iefix") format("embedded-opentype"), url("../../../content/themes/air-light/fonts/Inter-Italic.woff") format("woff"), url("../../../content/themes/air-light/fonts/Inter-Italic.woff2") format("woff2"), url("../../../content/themes/air-light/fonts/Inter-Italic.ttf") format("truetype"), url("../../../content/themes/air-light/fonts/Inter-Italic.svg#Inter") format("svg");
}

@font-face {
  font-display: auto;
  font-family: "Inter";
  font-style: normal;
  font-weight: 500;
  src: url("../../../content/themes/air-light/fonts/Inter-Medium.eot");
  src: url("../../../content/themes/air-light/fonts/Inter-Medium.eot?#iefix") format("embedded-opentype"), url("../../../content/themes/air-light/fonts/Inter-Medium.woff") format("woff"), url("../../../content/themes/air-light/fonts/Inter-Medium.woff2") format("woff2"), url("../../../content/themes/air-light/fonts/Inter-Medium.ttf") format("truetype"), url("../../../content/themes/air-light/fonts/Inter-Medium.svg#Inter") format("svg");
}

@font-face {
  font-display: auto;
  font-family: "Inter";
  font-style: normal;
  font-weight: 600;
  src: url("../../../content/themes/air-light/fonts/Inter-SemiBold.eot");
  src: url("../../../content/themes/air-light/fonts/Inter-SemiBold.eot?#iefix") format("embedded-opentype"), url("../../../content/themes/air-light/fonts/Inter-SemiBold.woff") format("woff"), url("../../../content/themes/air-light/fonts/Inter-SemiBold.woff2") format("woff2"), url("../../../content/themes/air-light/fonts/Inter-SemiBold.ttf") format("truetype"), url("../../../content/themes/air-light/fonts/Inter-SemiBold.svg#Inter") format("svg");
}

@font-face {
  font-display: auto;
  font-family: "Inter";
  font-style: normal;
  font-weight: 700;
  src: url("../../../content/themes/air-light/fonts/Inter-Bold.eot");
  src: url("../../../content/themes/air-light/fonts/Inter-Bold.eot?#iefix") format("embedded-opentype"), url("../../../content/themes/air-light/fonts/Inter-Bold.woff") format("woff"), url("../../../content/themes/air-light/fonts/Inter-Bold.woff2") format("woff2"), url("../../../content/themes/air-light/fonts/Inter-Bold.ttf") format("truetype"), url("../../../content/themes/air-light/fonts/Inter-Bold.svg#Inter") format("svg");
}

@font-face {
  font-display: auto;
  font-family: "Inter";
  font-style: normal;
  font-weight: 800;
  src: url("../../../content/themes/air-light/fonts/Inter-ExtraBold.eot");
  src: url("../../../content/themes/air-light/fonts/Inter-ExtraBold.eot?#iefix") format("embedded-opentype"), url("../../../content/themes/air-light/fonts/Inter-ExtraBold.woff") format("woff"), url("../../../content/themes/air-light/fonts/Inter-ExtraBold.woff2") format("woff2"), url("../../../content/themes/air-light/fonts/Inter-ExtraBold.ttf") format("truetype"), url("../../../content/themes/air-light/fonts/Inter-ExtraBold.svg#Inter") format("svg");
}

@font-face {
  font-display: auto;
  font-family: "Inter";
  font-style: normal;
  font-weight: 900;
  src: url("../../../content/themes/air-light/fonts/Inter-Black.eot");
  src: url("../../../content/themes/air-light/fonts/Inter-Black.eot?#iefix") format("embedded-opentype"), url("../../../content/themes/air-light/fonts/Inter-Black.woff") format("woff"), url("../../../content/themes/air-light/fonts/Inter-Black.woff2") format("woff2"), url("../../../content/themes/air-light/fonts/Inter-Black.ttf") format("truetype"), url("../../../content/themes/air-light/fonts/Inter-Black.svg#Inter") format("svg");
}

.wp-block.is-style-boxed,
.is-style-boxed {
  border: 2px solid #545773;
  color: #545773;
  font-size: 17px;
  font-style: normal;
  font-weight: 500;
  line-height: 1.77;
  padding: 2rem;
  width: calc(100% - 4rem);
}

@media (min-width: 840px) {
  .gutenberg-content .is-style-boxed {
    transform: translate(2rem, 0);
  }
}

.wp-block-button__link {
  -webkit-appearance: none;
     -moz-appearance: none;
          appearance: none;
  background-color: #545773;
  border: 0;
  border-radius: 3px;
  color: #fff;
  cursor: pointer;
  display: inline-block;
  font-family: "Inter", -apple-system, "BlinkMacSystemFont", "Segoe UI", "Roboto", "Oxygen-Sans", "Ubuntu", "Cantarell", "Helvetica Neue", sans-serif;
  font-size: var(--font-size-small);
  font-weight: 700;
  line-height: 1;
  margin-bottom: 0;
  padding-bottom: 12px;
  padding-left: 25px;
  padding-right: 25px;
  padding-top: 12px;
  position: relative;
  text-decoration: none;
  transition: all 0.08s cubic-bezier(0.25, 0.46, 0.45, 0.94);
  width: auto;
  /* stylelint-disable a11y/no-display-none */
  /* stylelint-enable */
}

.wp-block-button__link.is-external-link::after {
  display: none;
}

.wp-block-button__link:hover, .wp-block-button__link:focus {
  background-color: #2a2d3e;
  border-color: #2a2d3e;
  color: choose-contrast-color(#2a2d3e);
}

.wp-block-file .wp-block-file__button {
  font-size: var(--font-size-small);
  padding-bottom: 8px;
  padding-left: 17px;
  padding-right: 17px;
  padding-top: 8px;
  font-size: .8em;
  padding: .3em .8em;
}

[data-align="right"] figcaption,
[data-align="left"] figcaption {
  margin-left: auto;
  margin-right: auto;
  max-width: 200px;
  text-align: center;
}

/* stylelint-disable declaration-no-important */
.wp-block {
  font-family: "Inter", -apple-system, "BlinkMacSystemFont", "Segoe UI", "Roboto", "Oxygen-Sans", "Ubuntu", "Cantarell", "Helvetica Neue", sans-serif !important;
}

.wp-block:not([data-align="wide"]), .wp-block:not([data-align="full"]) {
  max-width: 800px !important;
}
