// Gutenberg editor styles
// Please note: These styles affect only wp-admin
// editor side. Please remember to add imports
// from "Gutenberg blocks" also to the main
// global.scss to see them on front end side.

// Helpers
@import 'helpers/animations';
@import 'helpers/aspect-ratio';
@import 'helpers/box-model';
@import 'helpers/clamp';
@import 'helpers/images';
@import 'helpers/font';
@import 'helpers/variablefont';

// Variables
@import 'variables/colors';
@import 'variables/breakpoints';
@import 'variables/font-family';
@import 'variables/font-size';
@import 'variables/forms';
@import 'variables/spacings';

// Accessibility
@import 'base/accessibility';

// Gutenberg editor specific webfonts
@import 'gutenberg/variables/font-face';

// Components needed by gutenberg
@import 'components/components';

// Gutenberg layout outside blocks
@import 'gutenberg/layout/content';
@import 'gutenberg/layout/button';

// Gutenberg blocks
@import 'gutenberg/blocks';

// Apply general styles from site front-end
@import 'layout/general';

// Gutenberg formatting
@import 'gutenberg/formatting';

// Editor
@import 'gutenberg/editor';
