@if $enable-html-lint == true and $debug-allow == true {

  // Inline Styles
  // *[style] {
  //   border: 5px solid #f00;
  // }

  // Faulty or Missing Link Targets
  a:not([href]),
  a[href="#"],
  a[href=""],
  a[href*="javascript:void(0)"] {
    border: 5px solid #00f;
  }

  // Unaccessible Images
  img:not([alt]),
  img[alt=""] {
    border: 5px solid #ffa500;
  }

  // Missing Document Language
  html:not([lang]),
  html[lang=""] {
    border: 5px solid #ff7f50;
  }

  // Incorrect Character Set
  meta[charset]:not([charset="UTF-8"]) {
    border: 5px solid #dc143c;
  }

  meta[charset="UTF-8"]:not(:first-child) {
    border: 5px solid #dc143c;
  }

  // Unaccessible Viewport Attributes
  meta[name="viewport"][content*="user-scalable=no"],
  meta[name="viewport"][content*="maximum-scale"],
  meta[name="viewport"][content*="minimum-scale"] {
    border: 5px solid #f0f;
  }

  // Unlabelled Form Elements
  input:not([id]),
  select:not([id]),
  textarea:not([id]) {
    border: 5px solid #da70d6;
  }

  label:not([for]) {
    border: 5px solid #da70d6;
  }

  input:not([name]),
  select:not([name]),
  textarea:not([name]),
  form:not([name]):not([id]) {
    border: 5px solid #800080;
  }

  // Empty Interactive Elements
  button:empty,
  a:empty {
    border: 5px solid #6495ed;
  }

  // Unnecessary or Deprecated Attributes
  script[type="text/javascript"],
  link[rel="stylesheet"][type="text/css"] {
    border: 5px solid #008080;
  }

}
