// General blog index and single styles
// Category listing styles
.cat {
  margin-bottom: .5rem;
  margin-top: 4rem;

  a {
    background-color: transparent;
    border-color: $color-cat-borders;
    border-radius: 5px;
    border-style: solid;
    border-width: 1px 1px 2px;
    box-shadow: none;
    color: $color-black;
    display: inline-block;
    font-size: var(--font-size-small);
    margin-bottom: .5rem;
    margin-right: .5em;
    padding: .2em .6em;
    transition: all $transition-duration;
  }

  a:hover,
  a:focus {
    border-color: $color-border-blog-categories;
  }
}

// Blog post tag styles
.tags {
  list-style: none;
  margin-bottom: var(--margin-between-text-elements);
  margin-top: 0;
  overflow: hidden;

  @media (min-width: $width-max-article + 40px) {
    padding: 0;
  }

  li {
    float: left;
    margin-bottom: 10px;
    margin-left: 0;
    margin-right: 10px;
    margin-top: 0;
    padding-left: 0;

    a:not(.button):not(.no-text-link) {
      background-color: transparent;
      border-color: $color-tag-borders;
      border-radius: 5px;
      border-style: solid;
      border-width: 1px 1px 2px;
      box-shadow: none;
      color: $color-black;
      display: inline-block;
      font-size: $font-size-tiny;
      margin-right: .4em;
      padding: .2em .6em;
      transition: all $transition-duration;
    }

    /* stylelint-disable selector-max-compound-selectors, selector-max-pseudo-class */
    a:not(.button):not(.no-text-link):hover,
    a:not(.button):not(.no-text-link):focus {
      border-color: $color-tag-borders-hover;
    }
    /* stylelint-enable selector-max-compound-selectors, selector-max-pseudo-class */
  }
}

// Next/Previous single post navigation
.post-navigation .nav-links {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}
