// ------------------------------------------------
// Demo content
//
// Please note: These are mostly for demo purposes
// so feel free to remove everything in this file
// and start over.
// ------------------------------------------------

// Demo variables
$color-cyan: #159d94;
$color-cyan-bright: #60f4ea;

// Header for demo nav
.site-header {
  padding-top: 4rem;
  padding-bottom: 4rem;

  @media (max-width: $responsivenav) {
    padding-top: 2rem;
    padding-bottom: 2rem;
  }

  @media (max-width: $container-mobile) {
    padding-top: 1rem;
    padding-bottom: 1rem;
  }
}

// Nav for demo
.js .nav-primary {
  // Default position, IE needs this
  top: calc($mobile-nav-height + 10px);
  left: 0;

  @media (min-width: $container-mobile) {
    top: calc(#{$mobile-nav-height} + 20px);
  }
}

// Demo structure
.block.block-entry-header-demo {
  @include background-cover();
  background-image: url('../images/default.jpg');
  background-repeat: no-repeat;
  display: flex;
  align-items: center;
  justify-content: center;
  position: relative;
  text-shadow: 0 0px 30px $color-main;
  min-height: 53rem;
  max-height: 80rem;
  height: 80vh;
  max-width: $layout-max-width;
  margin: 0 auto;

  .shade {
    opacity: .4;
  }

  .inner {
    display: grid;
    grid-template-rows: 1fr 1fr;
    /* autoprefixer: off */
    align-items: center;
    max-height: 100%;
    justify-items: center;
    padding: 2rem;
    max-width: $container-desktop;
    margin-top: 140px;
    margin-bottom: 80px;

    @media (min-width: $container-ipad) {
      padding: 0;
      display: grid;
      grid-template-rows: none;
      grid-template-columns: 3fr 5fr;
      max-width: $article-max-width;
    }
  }

  @keyframes plane-container {
    0% {
      overflow: visible;
    }

    80% {
      overflow: hidden;
    }

    100% {
      overflow: hidden;
    }
  }

  .logo {
    color: $color-cyan-bright;
    border-top: 2px solid $color-white;
    border-right: 0;
    width: 100%;
    text-align: center;
    order: 2;
    overflow: visible;
    animation: plane-container 10s linear 1s infinite;

    .logo-name {
      display: none;
    }

    @keyframes plane {
      0% {
        transform: translate(-200%, 140%);
      }

      10% {
        transform: translate(0, 0);
        opacity: 1;
      }

      85% {
        transform: translate(0, 0);
        opacity: 1;
      }

      95% {
        transform: translate(140%, -100%);
      }

      97% {
        opacity: 0;
      }

      100% {
        transform: translate(0, 0);
      }
    }

    svg {
      padding: 2rem;
      height: auto;
      width: 100%;
      max-width: 20rem;
      opacity: 0;
      transform: translate(-100%, 100%);
      animation: plane 10s cubic-bezier(.86, 0, .07, 1) 1s infinite;

      @media (max-width: $container-mobile) {
        max-width: 15rem;
      }
    }

    @media (min-width: $container-ipad) {
      border-top: 0;
      border-right: 2px solid $color-white;
      order: 0;
      text-align: right;

      svg {
        padding: 2rem 4rem;
      }
    }
  }

  h1 {
    @include responsive-font(32px, 62px);
    color: $color-white;
    margin: 0;
    padding: 2rem;
    position: relative;
    z-index: 2;
    text-align: center;

    @media (min-width: $container-ipad) {
      padding: 2rem 4rem;
      text-align: left;
    }
  }
}

.accent {
  @extend %h3;
  font-style: normal;
  letter-spacing: .05em;
  text-transform: lowercase;
  font-weight: 500;
  margin: 0;
  margin-bottom: 1rem;
  color: $color-bright;
  display: block;
  position: relative;
  z-index: 2;
  text-shadow: 0 0px 10px rgba($color-main, .5);
}

.site-title {
  margin: 0;
  font-weight: 700;

  a {
    color: $color-cyan-bright;
    display: flex;

    svg {
      transition: transform 1s ease-in;

      .clr-i-solid-path-2 {
        fill: $color-white;
      }
    }

    &:hover svg {
      transition: transform .4s cubic-bezier(.6, -.68, .735, .045);
      transform: translate(240%, -200%);

      .clr-i-solid-path-2 {
        display: block !important;
        fill: $color-cyan-bright;
      }
    }
  }

  .logo-name {
    content: 'Air';
    display: block;
    text-transform: lowercase;
    letter-spacing: .1em;
    font-weight: $font-weight-paragraphs;
    color: $color-white;
    margin-left: .75rem;
    font-size: 2.2rem;
  }
}

@media (min-width: $responsivenav) {
  .site-header .site-branding .site-title a,
  .site-header .nav-primary .menu-items .menu-item .dropdown-toggle,
  .site-header .nav-primary .menu-items .current-menu-parent > a,
  .site-header .nav-primary .menu-items .current-menu-item > a {
    color: $color-cyan-bright;

    @media (max-width: $responsivenav) {
      color: $color-cyan-bright;
    }
  }
}

.site-header .nav-primary .menu-items .menu-item .menu-item .dropdown-toggle {
  color: $color-links;
}

.block.block-entry-header-demo + .block .container {
  max-width: $article-max-width;
}

// Build these to views/_index.scss for example
.block.block-blog article,
.block.block-blog nav {
  max-width: $article-max-width;
  margin-left: auto;
  margin-right: auto;
}

.block-blog article {
  margin-bottom: $padding-block-small;

  &:last-child {
    margin-bottom: 0;
  }
}

.block-blog ul.tags {
  padding-left: 0;
}

// Examples for text links. You can add @extend %textlink to any content
.gutenberg-content a:not(.button):not(.url):not(.no-text-link):not(.wp-block-button__link):not(.post-edit-link):not(.contact-detail):not([rel]),
article > div *:not(.entry-footer):not(.entry-categories):not(.comments-link) > a:not(.button):not(.url):not(.no-text-link):not(.wp-block-button__link):not(.post-edit-link):not(.contact-detail):not([rel]) {
  @extend %textlink;

  // External link hover and focus styles
  &[href*="//"]:not([href*="#{$tld-production}"]):not([href*="#{$tld-staging}"]):not([href*="#{$tld-development}"]):not([href*="#{$tld-browsersync}"]):not([href*="#{$tld-mobile}"]):not(.no-external-link-indicator) {
    &:hover::after,
    &:focus::after {
      background-image: url('../svg/external-link-white.svg');
    }
  }
}
