@charset 'utf-8';
@import 'burger';

//! responsive-nav.js 1.0.39 by @viljamis
// sassified by @rolle
#nav {
  clip: rect(0 0 0 0);
  max-height: 0;
  position: absolute;
  display: block;
  overflow: hidden;
  zoom: 1;
  user-select: none;
  list-style: none;

  ul {
    margin-bottom: 0;
    margin-top: 0;
    margin-left: 0;
    margin-right: 0;
    padding: 0;
    display: block;
    list-style: none;

    li {
      display: block;
      float: left;
      width: 100%;

      a {
        font-weight: 500;
      }

      @media (min-width: $responsivenav) {
        border: 0;
        display: inline-block;
        height: 55px;
        line-height: 55px;
        position: relative;

        // Dropdown toggles
        &.menu-item-has-children,
        &.page-item-has-children {

          > a {
            padding-right: 2rem;
          }

          button.dropdown-toggle {
            @include vertical-align();
            opacity: .8;
            background-image: url('../svg/chevron-down.svg');
            background-repeat: no-repeat;
            background-position: center;
            content: ' ';
            width: 10px;
            height: 10px;
            position: absolute;
            right: 0;
            margin-top: -.1rem;
            padding-right: .2rem;
            vertical-align: text-bottom;
            background-color: transparent;
          }
        }

        li {
          @media (min-width: $responsivenav) {
            max-width: $dropdown-width;
            border: 0;
            display: block;
            height: auto;
            line-height: 1.0909090909;
          }

          &.menu-item-has-children,
          &.page-item-has-children {
            > a {
              padding-right: 2rem;
            }

            button.dropdown-toggle {
              background-image: url('../svg/chevron-right.svg');
              background-repeat: no-repeat;
              background-position: center;
              top: 22px;
              padding-right: .2rem;
            }
          }
        }
      }

      @media screen and (min-width: $responsivenav) {
        width: auto;
      }

      &.focus > a {
        background-color: $color-navigation-hover;
      }
    }

    a {
      background: $color-navigation-bg;
      color: $color-navigation-text;
      float: left;
      padding: .9em 1.1em;
      text-decoration: none;
      width: 100%;
      font-size: $font-size-navigation;

      @media screen and (min-width: $responsivenav) {
        border-bottom: 0;
        padding: 1em 1.5em;
        margin: 0;
        float: left;
        text-align: center;
        display: inline-block;
        padding: 0 16px;
      }

      &:hover {
        background-color: $color-navigation-hover;
      }
    }

    // No hover background on the first level
    &:first-child {
      li a {
        background: $color-navigation-bg;

        &:hover {
          color: $color-navigation-first-level-text-hover;
        }
      }
    }

    @media screen and (min-width: $responsivenav) {
      width: auto;
      position: relative;

      // Depth: nav ul li
      li {
        &:hover > ul,
        li:focus > ul,
        &.focus > ul {
          top: 55px;
          left: 38%;
          margin-left: -75px;

          // Animate:
          opacity: 1;
        }
      }

      // Depth: nav ul ul
      ul {
        float: left;
        margin: 0;
        position: absolute;
        text-align: center;

        // Without out-animation:
        // top: 85px;
        // left: -999em;
        // z-index: 99999;

        // With out animation:
        top: 55px;
        left: 38%;
        margin-left: -75px;

        // Animate:
        transition-property: opacity, visibility;
        transition-duration: .25s, 0s;
        transition-delay: .25s, .25s;
        transition: opacity .3s ease-in-out, top .3s ease-in-out;
        opacity: 0;

        li:hover > ul,
        li:focus > ul,
        li.focus > ul {
          top: 0;
          left: 0%;
          margin-left: $dropdown-width;

          // Animate:
          opacity: 1;
        }

        a {
          padding: $list-padding;
          white-space: normal;
          width: $dropdown-width;
        }

        // Depth: nav ul ul ul
        ul {
          left: -999em;
          top: 20px;

          li:hover > ul,
          li:focus > ul,
          li.focus > ul {
            top: 0;
            left: 0%;
            margin-left: $dropdown-width;

            // Animate:
            opacity: 1;
            visibility: visible;
          }
        }
      }
    }
  }

  @media screen and (min-width: $responsivenav) {
    position: relative;
    max-height: none;
    overflow: visible;

    // Accessible hover/focus
    .dropdown:hover,
    li.focus {

      ul {
        max-height: 500px; // 100% won't work here, so we need fixed height
        overflow: visible;
      }
    }
  }

  .dropdown {
    ul {
      max-height: 100%;
      overflow: visible;
      margin-bottom: 0;
      background: $color-dropdown-bg;

      @media screen and (min-width: $responsivenav) {
        max-height: 0;
        overflow: hidden;
      }

      @media(min-width: $responsivenav) {
        border-radius: $dropdown-border-radius;
      }

      li {

        @media screen and (min-width: $responsivenav) {
          width: 100%;
        }

        a {
          color: $color-dropdown-text;
          padding-left: 1.5em;

          &:focus,
          &:hover,
          &:active {
            background: $color-dropdown-hover-bg;
            color: $color-dropdown-hover-text;

            @media(min-width: $responsivenav) {
              border-radius: $dropdown-border-radius;
            }
          }

          @media screen and (min-width: $responsivenav) {
            text-align: left;
            border: 0;
          }
        }
      }

      ul {
        border: 0;
        padding: 0;
      }
    }

    &.opened .has-dropdown {
      background: #9c2c12;
    }
  }

  // Mobile styles
  @media screen and (max-width: $responsivenav) {
    visibility: visible;
    width: 100%;

    &.opened {
      visibility: visible;
      max-height: 9999px;
    }

    &.multiple-level-nav.opened.dropdown-active {
      &.opened.dropdown-active {
        max-height: 9999px !important; // Enable active class to let the navigation expand over the calculated max height.
      }
    }

    &.multiple-level-nav .sub-menu {
      clip: rect(0 0 0 0);
      max-height: 0;
      position: absolute;
      overflow: hidden;
      visibility: hidden;
      zoom: 1;
      transition: all 2s;

      &.toggled {
        max-height: 9999px;
        position: relative;
        visibility: visible;
      }
    }

    ul {
      width: 100%;
      float: left;

      li {
        position: relative;
      }
    }

    // + - toggles in mobile navigation
    .dropdown-toggle {
      border: 0;
      color: $color-navigation-text;
      content: '';
      height: 46px;
      width: 46px;
      padding: 0;
      position: absolute;
      margin: 0;
      text-transform: lowercase;
      top: 6px;
      right: 10px;
      background: transparent;

      &.toggled:after {
        content: '-';
      }

      &:hover,
      &:focus,
      &:active {
        background-color: $color-dropdown-hover-bg;
        color: $color-dropdown-hover-text;
      }

      &:after {
        content: '+';
        font-size: 20px;
      }
    }
  }
}

// Hamburger menu icon
.nav-toggle {
  margin-left: 0;
  list-style: none;
  display: block;
  z-index: 100000;
  -webkit-tap-highlight-color: rgba(#000, 0);
  border: 0;
  color: $color-navigation-toggle;
  font-size: $font-size-navigation;
  font-weight: bold;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-touch-callout: none;
  user-select: none;
  text-decoration: none;
  position: relative;
  overflow: hidden;
  float: right;
  line-height: 39px;
  padding: 0 .75em;
  background: transparent;

  span {
    color: $color-navigation-toggle;
  }

  &:hover,
  &:focus,
  &:active {
    color: $color-navigation-toggle-hover;
    background: rgba(#fff, .12);

    span {
      color: $color-navigation-toggle-hover;
    }
  }

  @media (min-width: $responsivenav) {
    display: none;
  }

  @media(max-width: ($responsivenav)-1px) {
    width: auto;
    float: right;
    top: 30px;
    right: 20px;
    position: relative;
  }

  .burger-icon {
    @include burger(20px, 3px, 3px, $color-navigation-toggle);
    float: left;
    margin-top: 18px;
    margin-right: 10px;
  }

  &.active .burger-icon {
    @include burger-to-cross;
  }
}

button {
  appearance: button;
  cursor: pointer;
}
