// Site header
//
// The very top of the site, element that usually includes
// the site navigation and search for example.

.site-header {
  align-items: center;
  display: flex;
  justify-content: space-between;
  margin-left: auto;
  margin-right: auto;
  max-width: $grid-base-size;
  padding-bottom: var(--padding-site-header-vertical);
  padding-left: var(--padding-container-horizontal);
  padding-right: var(--padding-container-horizontal);
  padding-top: var(--padding-site-header-vertical);
  position: relative;
  z-index: 15;
}

.site-title {
  margin: 0;

  a {
    align-items: center;
    display: flex;
  }
}
