// Site footer
.site-footer {
  padding: 20px;
  background: $color_grey;
  color: $color_body;
  margin-top: 30px;
  overflow: hidden;
  clear: both;

  svg {
    fill: $color_body;
    top: 1px;
    position: relative;
  }

  a {
    color: $color_body;
  }

  .theme-info {
    overflow: hidden;

    @media (min-width: $container-ipad) {
      width: 60%;
      text-align: right;
      float: right;
    }
  }
}
