// The very top of the site, element that usually includes
// the site navigation and search for example.
.site-header {
  align-items: center;
  display: flex;
  justify-content: space-between;
  margin-left: auto;
  margin-right: auto;
  max-width: $width-grid-base;
  padding-bottom: var(--padding-site-header-vertical);
  padding-left: var(--padding-container-horizontal);
  padding-right: var(--padding-container-horizontal);
  padding-top: var(--padding-site-header-vertical);
  position: relative;
  z-index: 15;

  @media (max-width: $width-max-mobile) {
    --padding-container-horizontal: 2rem;
  }
}

.site-title {
  line-height: 0;
  margin: 0;

  a {
    align-items: center;
    display: flex;
  }
}

// Delete the following styles when you start! (marked with --clip--)
// --clip--
.site-main {
  display: grid;
}

.site-main::after {
  align-items: center;
  // stylelint-disable-next-line
  background-image: linear-gradient(var(--color-black), var(--color-science-blue)), linear-gradient(var(--color-black), var(--color-science-blue));
  background-position: 0 0, 100% 0;
  background-repeat: no-repeat;
  background-size: 3px 100%;
  border-bottom: 3px solid var(--color-science-blue);
  border-top: 3px solid var(--color-black);
  color: var(--color-black);
  content: 'Build your website here! (Remove this bit in sass/layout/_site-header.scss)';
  display: flex;
  // stylelint-disable-next-line
  font-size: clamp(.5rem, 3.4vw, 3rem);
  font-weight: var(--font-weight-semibold);
  justify-content: center;
  margin-bottom: var(--padding-container-vertical);
  margin-left: auto;
  margin-right: auto;
  margin-top: calc(var(--padding-container-vertical) * 2);
  max-width: $width-grid-base - 40px;
  opacity: .7;
  order: -1;
  padding: 4rem;
  position: relative;
  text-align: center;
  width: calc(100% - 4rem);
}
// --clip--
