// ------------------------------------------------------------
// Site footer
//
// The very bottom of the site. Usually contains supporting
// or secondary navigation, social media icons, contact details
// and such.
//
// Please note: These are mostly for demo purposes
// so feel free to remove everything in this file
// and start over.
// ------------------------------------------------------------

.site-footer {
  padding: 20px;
  background: #eaeaea;
  color: #fff;
  overflow: hidden;
  clear: both;

  svg {
    fill: #555;
    top: 2px;
    position: relative;
  }

  p,
  span {
    color: #555;
  }

  a {
    color: #555;

    &:hover {
      color: $color-links;
    }
  }
}

.theme-info {
  overflow: hidden;

  @media (min-width: $container-ipad) {
    width: 60%;
    text-align: right;
    float: right;
  }
}
