// Default overrides for WooCommerce
/* stylelint-disable */
body {
  &.woocommerce,
  &.woocommerce-page .site-content {

    // Breadcrumb
    .woocommerce-breadcrumb {
      font-weight: 600;
      color: $color-fog;
      font-family: $font-headings;
      text-transform: uppercase;
      font-size: var(--font-size-small);
    }

    // Buttons
    .button,
    .button.disabled,
    .button.alt,
    .button[disabled] {
      background: $color-black;
      color: $color-white;
      border-radius: 0;
    }

    // Product archive listing
    ul.products .button {
      font-size: var(--font-size-tiny);
    }

    // Default columns fix for air
    // TODO: Replace with CSS grid
    // ul.products li {
    //   @media (min-width: $container-ipad) {
    //     @include column(1/4, $cycle: 4);
    //   }
    // }

    // Star rating fix for air
    ul.products .star-rating {
      @extend %default;
      margin-top: 2px;
      height: 32px;
    }

    ul.products .star-rating span {
      padding-top: 1.5em;
      font-family: 'star';

      &:after {
        font-family: 'star';
        content: '\53\53\53\53\53';
        top: 0;
        position: absolute;
        left: 0;
      }
    }

    // Single product
    div.product {
      @extend %default;

      // Star rating fix for air

      .star-rating {
        @extend %default;
        margin-top: 2px;
        height: 35px;
      }

      .star-rating * {
        font-family: 'star';
      }

      // Price size fix
      .price,
      .price span {
        @extend .betweenh2andh3;
        font-family: $font-headings;
        color: $color-paragraphs;
        font-weight: 900;
      }

      .button {
        padding: 18px;
      }
    }
  }
}
/* stylelint-enable */
