// stylelint-disable custom-property-pattern, csstools/value-no-unknown-custom-properties
// stylelint-disable number-max-precision, rem-over-px/rem-over-px
@mixin button-size-large() {
  font-size: var(--wp--preset--font-size--18);
  line-height: 1.66;
  padding-bottom: calc(17px - calc(1px * 2));
  padding-left: calc(21px - calc(1px * 2));
  padding-right: calc(21px - calc(1px * 2));
  padding-top: calc(17px - calc(1px * 2));
}
