// WordPress uses custom properties with double dashes from theme.json that don't match kebab-case
// stylelint-disable custom-property-pattern, csstools/value-no-unknown-custom-properties
@use '../variables' as *;

// Alignments
.editor-styles-wrapper,
.entry-content {
  .alignleft > * {
    float: left;
  }

  .alignright > * {
    float: right;
  }

  .alignleft > img {
    margin-bottom: var(--spacing-paragraphs-margin-block);
    margin-right: var(--spacing-container-padding-inline);
    margin-top: var(--spacing-paragraphs-margin-block);

    + figcaption {
      margin-top: 0;
    }
  }

  .alignright > img {
    margin-bottom: var(--spacing-paragraphs-margin-block);
    margin-left: var(--spacing-container-padding-inline);
    margin-top: var(--spacing-paragraphs-margin-block);

    + figcaption {
      margin-top: 0;
    }
  }

  .alignwide {
    max-width: var(--wp--style--global--wide-size);
    padding-left: var(--spacing-container-padding-inline);
    padding-right: var(--spacing-container-padding-inline);
    width: 100%;

    // 1240px = wide-size (1200px) + 40px
    @media (min-width: 1240px) {
      padding-left: 0;
      padding-right: 0;
    }
  }

  .alignfull {
    max-width: 100%;
    padding-left: 0;
    padding-right: 0;
    width: 100%;

    &.wp-block-image img {
      border-radius: 0;
    }

    // 840px = content-size (800px) + 40px
    @media (min-width: 840px) {
      margin-bottom: var(--spacing-content-padding-block);
      margin-top: var(--spacing-content-padding-block);
      max-width: 100%;
      width: 100%;
    }
  }
}
