// WordPress uses custom properties with double dashes from theme.json that don't match kebab-case
// stylelint-disable selector-max-combinators, selector-max-compound-selectors, custom-property-pattern, csstools/value-no-unknown-custom-properties
@use '../variables' as *;
// Captions
.editor-styles-wrapper,
.article-content {
  figcaption,
  cite,
  small {
    --color-caption: #5c5c6a;
    border: 0;
    color: var(--color-caption);
    font-size: var(--typography-captions-size);
    font-style: normal;
    margin-bottom: 3.75rem;
    margin-left: auto;
    margin-right: auto;
    margin-top: 1.875rem;
    max-width: var(--wp--style--global--content-size);
    padding-bottom: 0;
    text-align: center;
    width: 100%;

    @media (max-width: $breakpoint-mobile) {
      margin-top: 1.25rem;
    }
  }

  .wp-block-image figcaption,
  .wp-block-image .alignright > figcaption,
  .wp-block-image .aligncenter > figcaption,
  .wp-block-image.is-resized > figcaption {
    display: block;
    width: 100%;
  }

  cite {
    margin-bottom: 0;
  }
}
