@use '../components' as *;

// Default links everywhere (only links without classes)
a {
  @include link();
}

// Define elements where you do not want to use default link styles
.entry-footer,
.site-header,
.site-footer {
  a {
    text-decoration: none;
  }
}
