// WordPress custom properties from theme.json
// stylelint-disable custom-property-pattern, csstools/value-no-unknown-custom-properties
// General paragraphs
p {
  color: var(--wp--custom--color--paragraph);
  line-height: var(--wp--custom--typography--paragraph-line-height);
}
