// Built to work with:
// https://fi.wordpress.org/plugins/breadcrumb-trail/
// https://github.com/digitoimistodude/air

.breadcrumbs {
  margin-top: 0;
  margin-bottom: 0;
  padding: 0;
  line-height: 1;

  .trail-items {
    display: block;
    margin-bottom: 1.5rem;
    overflow: hidden;
    line-height: 1.22;
    margin-top: 0;
  }

  .trail-items li {
    background: none;
    color: $color-links;
    font-weight: 400;
    text-transform: uppercase;
    font-size: 15px;
    margin-bottom: 0;
    margin-top: 0;
    padding-top: 0;
    padding-left: 1rem;
    line-height: 1;
    position: relative;
    font-family: $font-base;
    opacity: .8;
  }

  .trail-items .trail-item {
    margin-right: 1.5rem;

    &.trail-end {
      color: $color-links;
      margin-right: 0;

      @media (max-width: $container-mobile) {
        position: relative;
        top: 1px;
      }

      span {
        color: $color-links;
      }
    }
  }

  .trail-begin {
    padding-left: 0;
  }

  li:hover {
    opacity: 1;
  }

  a {
    color: $color-links;

    &:hover {
      color: $color-links;
    }
  }

  li::after {
    @include hiddentext();
    top: 50%;
    transform: translateY(-50%);
    transform-style: preserve-3d;
    font-size: 15px;
    opacity: 1;
    color: $color-links;
    height: 9px;
    width: 9px;
    background-image: url('../svg/breadcrumbs-arrow.svg');
    background-repeat: no-repeat;
    background-position: center;
    background-size: 9px 9px;
    position: absolute;
    display: inline-block;
    padding: 0;
    margin-left: .8rem;
    margin-right: 0;

    // IE10 + IE11
    @media screen and (-ms-high-contrast: active), (-ms-high-contrast: none) {
      transform: translateY(-37%);
    }
  }

  li::last-of-type {
    &:after {
      display: none;
    }
  }
}
