// Gravity forms styles >= 2.5
// Please disable CSS in /admin.php?page=gf_settings

// WCAG 2.0 errors
/* stylelint-disable selector-class-pattern */
div.validation_error {
  background-color: var(--color-error);
  color: var(--color-white);
  font-size: var(--font-size-17);
  font-weight: var(--font-weight-bold);
  margin-bottom: var(--form-gap);
  padding: 2rem;

  &:focus {
    color: var(--color-white);
  }
}

body *[aria-invalid="true"] {
  border-color: var(--color-error);
}

.validation_message {
  color: var(--color-error);
  font-size: var(--font-size-16);
  font-weight: var(--font-weight-regular);
}

.validation_list {
  list-style: none;
  margin-bottom: var(--form-gap);
  margin-left: 0;
  padding: 0;

  a {
    color: var(--color-error);
    text-decoration: none;
  }

  li {
    color: var(--color-error);
    font-weight: var(--font-weight-bold);
  }
}

// Default required label
.gfield_required::before {
  color: var(--color-main);
  content: '*';
  display: inline-block;
  font-size: var(--font-size-22);
  margin-left: .5rem;
  position: relative;
  top: .5rem;
}

// Add "(Required)" text as screen reader text
.gfield_required > span {
  @extend .screen-reader-text;
}

// Gravity forms minimal default styles
.gform_wrapper > form {
  display: grid;
  grid-gap: var(--form-gap);
}

.gform-body {
  ul {
    list-style: none;
    margin: 0;
    padding: 0;
  }

  textarea,
  input {
    width: 100%;
  }

  // Fix textarea not full width
  .ginput_container.ginput_container_textarea {
    display: flex;
  }

  .gfield_label {
    display: inline-block;
    font-weight: var(--font-weight-bold);
    margin-bottom: 1rem;
    margin-top: 1rem;
    padding-inline-end: 0;
    padding-inline-start: 0;
  }

  // 2.5 built-in multi column support
  .gform_fields {
    display: grid;
    grid-gap: var(--form-gap);
    grid-template-columns: repeat(12, 1fr);
    grid-template-rows: repeat(auto-fill, auto);
    width: 100%;
  }

  .gfield {
    border: 0;
    grid-column: 1 / -1;
    padding: 0;
  }

  .gfield.gfield--width-full {
    grid-column: span 12;
  }

  .gfield.gfield--width-eleven-twelfths {
    grid-column: span 11;
  }

  .gfield.gfield--width-five-sixths {
    grid-column: span 10;
  }

  .gfield.gfield--width-three-quarter {
    grid-column: span 9;
  }

  .gfield.gfield--width-two-thirds {
    grid-column: span 8;
  }

  .gfield.gfield--width-seven-twelfths {
    grid-column: span 7;
  }

  .gfield.gfield--width-half {
    grid-column: span 6;
  }

  .gfield.gfield--width-five-twelfths {
    grid-column: span 5;
  }

  .gfield.gfield--width-third {
    grid-column: span 4;
  }

  .gfield.gfield--width-quarter {
    grid-column: span 3;
  }

  @media (max-width: 640px) {
    .gform_fields {
      grid-column-gap: 0;
    }

    .gfield:not(.gfield--width-full) {
      grid-column: 1 / -1;
    }
  }
}

// Hide SPAM Honeypot fields
/* stylelint-disable-next-line */
.gform_validation_container {
  display: none;
}
