.notice {
  padding: var(--padding-container-horizontal);
  background-color: $color-lightgrey;
  border-left: 4px solid $color-darkgrey;
}

.notice-success {
  background-color: $color-success;
  border-color: $color-success;
}

.notice-warning {
  background-color: $color-warning;
  border-color: $color-warning;
}

.notice-error {
  background-color: $color-error;
  border-color: $color-error;
}
