@use '../helpers' as *;
// Alternative style: https://i.imgur.com/A8gUyu2.png
// stylelint-disable a11y/font-size-is-readable
.navigation:not(.post-navigation) .nav-links {
  align-items: flex-start;
  display: flex;
  font-family: var(--typography-family-heading);
  font-size: 0.875rem;
  justify-content: flex-start;
  margin-top: 2.5rem;
  overflow: hidden;
  text-align: left;
  width: 100%;

  a {
    text-decoration: none;
  }
}

.page-numbers {
  --color-pagination-border: #ece6f2;
  --color-pagination-text: #2a2d3e;
  --color-pagination-background-hover: #2a2d3e;
  --color-pagination-border-hover: #2a2d3e;
  --color-pagination-text-hover: #2a2d3e;
  --color-pagination-background-current: #2a2d3e;
  --color-pagination-border-current: #2a2d3e;
  --color-pagination-text-current: var(--color-white);
  align-items: center;
  background-color: var(--color-white);
  border-bottom: 2px solid var(--color-pagination-border);
  border-left: 1px solid var(--color-pagination-border);
  border-right: 1px solid var(--color-pagination-border);
  border-top: 2px solid var(--color-pagination-border);
  color: var(--color-pagination-text);
  display: flex;
  font-weight: var(--typography-weight-medium);
  height: 2.1875rem;
  justify-content: center;
  margin-left: 0;
  margin-right: 0;
  transition: all 150ms;
  width: 2.1875rem;

  &:last-child {
    border-bottom-left-radius: 0;
    border-bottom-right-radius: 4px;
    border-top-left-radius: 0;
    border-top-right-radius: 4px;
  }

  &:first-child {
    border-bottom-left-radius: 4px;
    border-bottom-right-radius: 0;
    border-top-left-radius: 4px;
    border-top-right-radius: 0;
  }

  @media (max-width: 600px) {
    height: 1.625rem;
    width: 1.625rem;
  }
}

a.page-numbers:hover,
a.page-numbers:focus {
  background-color: var(--color-pagination-background-hover);
  border-color: var(--color-pagination-border-hover);
  color: var(--color-pagination-text-hover);
}

.page-numbers.current {
  background-color: var(--color-pagination-background-current);
  border-color: var(--color-pagination-border-current);
  color: var(--color-pagination-text-current);
}

// Remove this if you are using version with next/prev
.page-numbers.next,
.page-numbers.prev {
  padding-left: 1.25rem;
  padding-right: 1.25rem;
  width: auto;

  @media (max-width: 600px) {
    padding-left: 0.625rem;
    padding-right: 0.625rem;
  }
}
