// Alternative style: https://i.imgur.com/A8gUyu2.png
.navigation:not(.post-navigation) .nav-links {
  text-align: left;
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
  width: 100%;
  overflow: hidden;
  font-size: 14px;
  font-family: $font-headings;
  margin-top: 4rem;

  a {
    text-decoration: none;
  }

  .page-numbers {
    border-top: 2px solid #ece6f2;
    border-bottom: 2px solid #ece6f2;
    border-left: 1px solid #ece6f2;
    border-right: 1px solid #ece6f2;
    background: $color-white;
    width: 35px;
    height: 35px;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-right: 0;
    margin-left: 0;
    color: $color-main;
    font-weight: 500;
    transition: all $transition-duration;

    @media (max-width: 600px) {
      width: 26px;
      height: 26px;
    }

    &:last-child {
      border-top-right-radius: 4px;
      border-bottom-right-radius: 4px;
      border-top-left-radius: 0;
      border-bottom-left-radius: 0;
    }

    &:first-child {
      border-top-right-radius: 0;
      border-bottom-right-radius: 0;
      border-top-left-radius: 4px;
      border-bottom-left-radius: 4px;
    }
  }

  a.page-numbers:hover {
    background: $color-main;
    border-color: $color-main;
    color: $color-white;
  }

  .page-numbers.current {
    background: $color-main;
    border-color: $color-main;
    color: $color-white;
  }

  // Remove this if you are using version with next/prev
  .page-numbers.next,
  .page-numbers.prev {
    width: auto;
    padding-left: 20px;
    padding-right: 20px;

    @media (max-width: 600px) {
      padding-left: 10px;
      padding-right: 10px;
    }
  }
}
