// Style support for Slick slider.
// Note: add class slick-slider to the actual slider
.slick-list {
  display: block;
  margin: 0;
  overflow: hidden;
  padding: 0;
  position: relative;

  &.dragging {
    cursor: hand;
  }
}

.slick-track {
  display: block;
  left: 0;
  position: relative;
  top: 0;
  z-index: 9999;
  zoom: 1;

  &::before,
  &::after {
    content: '';
    display: table;
  }

  &::after {
    clear: both;
  }

  .slick-loading & {
    visibility: hidden;
  }
}

.slick-slider .slick-track,
.slick-slider .slick-list {
  transform: translate3d(0, 0, 0);
}

.slick-slide {
  float: left;
  height: 100%;
  min-height: 1px;

  img {
    display: block;
  }

  &.dragging img {
    pointer-events: none;
  }

  .slick-initialized & {
    display: block;
  }

  .slick-loading & {
    visibility: hidden;
  }

  .slick-vertical & {
    display: block;
    height: auto;
  }
}

// Dots
.slick-dots {
  bottom: 0;
  display: block;
  list-style: none;
  padding: 0;
  position: absolute;
  text-align: center;
  width: 100%;

  li {
    cursor: pointer;
    display: inline-block;
    height: 10px;
    margin: 0 5px;
    padding: 0;
    position: relative;
    width: 10px;

    button {
      @include hiddentext();
      border: 2px solid #fff;
      border-radius: 6px;
      cursor: pointer;
      display: inline-block;
      height: 10px;
      margin: 0 4px;
      opacity: .4;
      padding: 0;
      transition: background $transition-duration, opacity $transition-duration;
      width: 10px;
    }

    button:focus,
    button:hover {
      background-color: transparent;
    }

    button:hover::before,
    button:focus::before {
      opacity: 1;
    }

    &.slick-active button,
    &.slick-active button[type="button"],
    &.slick-active button:focus,
    &.slick-active button[type="button"]:focus {
      background-color: var(--color-white);
      opacity: 1;
    }
  }
}

.slider {
  clear: both;
  display: block;
  margin-bottom: 0;
  overflow: hidden;
  position: relative;
  touch-action: pan-y;
  user-select: none;

  .slick-prev {
    background-color: transparent;
    background-image: url('../../svg/slider-left-arrow.svg');
    left: 0;
  }

  .slick-next {
    background-color: transparent;
    background-image: url('../../svg/slider-right-arrow.svg');
    right: 0;
  }

  // Arrows
  .slick-prev,
  .slick-next {
    background-color: transparent;
    border: 0;
    color: transparent;
    cursor: pointer;
    display: block;
    font-size: 0;
    height: 60px;
    line-height: 0;
    margin-top: -30px;
    opacity: .2;
    outline: none;
    padding: 0;
    position: absolute;
    top: 50%;
    transition: all $transition-duration;
    width: 60px;
    z-index: 200;

    &:hover {
      background-color: transparent;
      color: transparent;
      opacity: 1;
      outline: none;
      transition: all $transition-duration;
    }

    &:focus {
      background-color: transparent;
      color: transparent;
      transition: all $transition-duration;
    }
  }

  @media (max-width: $container-mobile) {
    max-height: 600px;
  }
}
