// ------------------------------------------------------------
// Back to top link
//
// The one and only anchor link that brings user back to top
// when hitting the rock bottom.
// ------------------------------------------------------------

.back-to-top {
  width: 50px;
  height: 50px;
  margin: 0;
  position: fixed;
  bottom: 20px;
  right: 20px;
  text-decoration: none;
  opacity: 0;
  transition: opacity .3s 0s, visibility 0s .3s;
  z-index: 10000;
  display: flex;
  align-items: center;
  justify-content: center;

  &:focus {
    outline: none;
  }

  // Accessibility: Change color based on background color the element is on
  &.has-light-bg svg {
    fill: $color-body;
  }

  &.has-dark-bg svg {
    fill: $color-white;
  }

  &.is-visible,
  &.fade-out,
  .no-touch &:hover {
    transition: opacity .3s 0s, visibility 0s 0s;
  }

  &.is-visible { // The button becomes visible
    opacity: 1;
  }

  &.fade-out { // If the user keeps scrolling down, the button is out of focus and becomes less visible
    opacity: 1;

    &:hover {
      opacity: 1;
    }
  }

  .no-touch &:hover {
    opacity: 1;
  }
}

.top {
  background: transparent;

  svg {
    position: absolute;
    fill: $color-body;
    margin: 0;
    opacity: .8;
    font-size: 19px;
    transition: all .3s ease;
    display: flex;
    align-items: center;
    justify-content: center;
  }

  &:hover,
  &:focus,
  &:active {
    svg {
      transform: translateY(-.5rem);
    }
  }
}
