last 1 edge version
last 1 safari version
last 1 chrome version
last 1 firefox version
not firefox > 90
not dead
not ie > 0
not ucandroid > 0
not firefoxandroid > 0
not samsung > 0
not op_mob > 0
> 1% in FI
