{
  "plugins": [
    "stylelint-declaration-use-variable",
    "stylelint-scss"
  ],
  "extends": [
    "stylelint-config-wordpress/scss"
  ],
  "rules": {
    "scss/at-each-key-value-single-line": false,
    "sh-waqar/declaration-use-variable": [[
      "/color/",
      {
        "ignoreValues": [
          "transparent",
          "inherit"
        ],
      }
    ]],
    "scss/dollar-variable-colon-newline-after": "always",
    "color-hex-case": "lower",
    "selector-pseudo-class-parentheses-space-inside": "never",
    "function-parentheses-space-inside": "never",
    "media-feature-parentheses-space-inside": "never",
    "selector-attribute-brackets-space-inside": "never",
    "comment-whitespace-inside": "always",
    "indentation": 2,
    "block-no-empty": true,
    "declaration-colon-newline-after": "never",
    "number-leading-zero": "never",
    "value-list-comma-newline-after": "never",
    "selector-list-comma-newline-after": "always",
    "declaration-colon-space-before": "never",
    "declaration-block-trailing-semicolon": "always",
    "no-eol-whitespace": "false",
    "number-no-trailing-zeros": "true",
    "block-opening-brace-newline-after": "never",
    "block-closing-brace-newline-after": "always-multi-line",
    "declaration-empty-line-before": "never",
    "rule-empty-line-before": "always",
    "string-quotes": "single",
    "at-rule-empty-line-before": [
      "always",
      {
        "except": [
          "first-nested",
          "after-same-name",
          "blockless-after-same-name-blockless"
        ],
        "ignore": [
          "after-comment"
        ],
      }
    ]
  },
}
