{
  "defaultSeverity": "warning",
  "plugins": [
    "@ronilaukkarinen/stylelint-a11y",
    "@ronilaukkarinen/stylelint-value-no-unknown-custom-properties",
    "stylelint-declaration-strict-value",
    "stylelint-order"
  ],
  "extends": [
    "stylelint-config-standard-scss"
  ],
  "customSyntax": "postcss-scss",
  "rules": {
    "order/order": [
      {
        "type": "at-rule",
        "name": "import"
      },
      {
        "type": "at-rule",
        "name": "include"
      },
      {
        "type": "at-rule",
        "name": "extend"
      },
      "custom-properties",
      "dollar-variables",
      "declarations",
      "rules",
      {
        "type": "at-rule",
        "name": "media"
      }
    ],
    "scss/at-mixin-argumentless-call-parentheses": null,
    "scss/double-slash-comment-empty-line-before": null,
    "scss/at-rule-conditional-no-parentheses": null,
    "scss/dollar-variable-pattern": null,
    "order/properties-alphabetical-order": true,
    "a11y/no-outline-none": true,
    "a11y/selector-pseudo-class-focus": true,
    "alpha-value-notation": "number",
    "declaration-block-no-redundant-longhand-properties": null,
    "custom-property-empty-line-before": "never",
    "block-closing-brace-empty-line-before": "never",
    "property-case": "lower",
    "color-no-invalid-hex": true,
    "color-hex-case": "lower",
    "color-hex-length": "short",
    "selector-pseudo-element-case": "lower",
    "selector-type-case": "lower",
    "selector-pseudo-class-parentheses-space-inside": "never",
    "function-parentheses-space-inside": "never",
    "function-comma-newline-after": "never-multi-line",
    "function-name-case": "lower",
    "function-max-empty-lines": 0,
    "max-empty-lines": 1,
    "max-line-length": null,
    "unit-case": "lower",
    "selector-pseudo-class-case": "lower",
    "selector-attribute-brackets-space-inside": "never",
    "selector-attribute-quotes": "always",
    "selector-combinator-space-after": "always",
    "selector-combinator-space-before": "always",
    "selector-descendant-combinator-no-non-space": true,
    "comment-whitespace-inside": "always",
    "indentation": 2,
    "linebreaks": "unix",
    "selector-max-specificity": "0,4,4",
    "block-no-empty": true,
    "declaration-colon-newline-after": null,
    "declaration-empty-line-before": null,
    "number-leading-zero": "never",
    "number-no-trailing-zeros": true,
    "value-list-comma-newline-after": "never-multi-line",
    "selector-list-comma-newline-after": "always",
    "declaration-colon-space-before": "never",
    "declaration-block-trailing-semicolon": "always",
    "no-eol-whitespace": true,
    "no-empty-first-line": true,
    "no-missing-end-of-source-newline": true,
    "block-opening-brace-newline-after": "always",
    "block-closing-brace-newline-after": [
      "always-multi-line",
      {
        "ignoreAtRules": [
          "if",
          "else"
        ]
      }
    ],
    "string-quotes": null,
    "media-feature-colon-space-after": "always",
    "media-feature-colon-space-before": "never",
    "media-feature-parentheses-space-inside": "never",
    "media-feature-range-operator-space-after": "always",
    "media-feature-range-operator-space-before": "always",
    "media-query-list-comma-newline-after": "never-multi-line",
    "media-feature-name-case": "lower",
    "font-family-no-missing-generic-family-keyword": true,
    "font-family-name-quotes": "always-where-required",
    "at-rule-no-unknown": null,
    "no-invalid-position-at-import-rule": null,
    "declaration-no-important": true,
    "comment-empty-line-before": null,
    "at-rule-name-newline-after": null,
    "at-rule-semicolon-newline-after": null,
    "at-rule-semicolon-space-before": "never",
    "at-rule-name-space-after": "always",
    "at-rule-name-case": "lower",
    "scss/at-else-empty-line-before": "never",
    "function-url-quotes": "always",
    "unit-no-unknown": true,
    "property-no-unknown": true,
    "no-duplicate-selectors": true,
    "no-extra-semicolons": true,
    "length-zero-no-unit": true,
    "font-weight-notation": "numeric",
    "number-max-precision": 3,
    "selector-class-pattern": null,
    "selector-max-class": 4,
    "selector-max-combinators": 3,
    "selector-max-compound-selectors": 4,
    "selector-max-pseudo-class": 2,
    "selector-max-universal": 1,
    "property-no-vendor-prefix": true,
    "selector-no-vendor-prefix": true,
    "selector-no-qualifying-type": null,
    "declaration-block-no-duplicate-properties": true,
    "no-unknown-animations": true,
    "selector-pseudo-element-colon-notation": "double",
    "shorthand-property-no-redundant-values": true,
    "declaration-block-single-line-max-declarations": 1,
    "value-keyword-case": [
      "lower",
      {
        "camelCaseSvgKeywords": true
      }
    ],
    "scale-unlimited/declaration-strict-value": [
      "/color$/",
      {
        "ignoreValues": [
          "transparent",
          "currentColor"
        ]
      }
    ],
    "csstools/value-no-unknown-custom-properties": [
      true,
      {
        "importFrom": [
          "css/dev/global.css"
        ]
      }
    ],
    "rule-empty-line-before": [
      "always-multi-line",
      {
        "except": [
          "first-nested",
          "after-single-line-comment"
        ],
        "ignore": [
          "inside-block"
        ]
      }
    ],
    "at-rule-empty-line-before": [
      "always",
      {
        "ignoreAtRules": [
          "if",
          "else"
        ],
        "except": [
          "first-nested",
          "blockless-after-same-name-blockless",
          "blockless-after-blockless"
        ],
        "ignore": [
          "after-comment"
        ]
      }
    ],
    "no-descending-specificity": null,
    "max-nesting-depth": [
      3,
      {
        "ignore": [
          "blockless-at-rules",
          "pseudo-classes"
        ]
      }
    ],
    "declaration-property-unit-allowed-list": [
      {
        "font-size": [
          "rem",
          "em",
          "px"
        ],
        "/^animation/": [
          "ms",
          "s"
        ],
        "line-height": [
          "px",
          "%",
          ""
        ]
      }
    ],
    "a11y/font-size-is-readable": [
      true,
      {
        "severity": "warning"
      }
    ],
    "a11y/line-height-is-vertical-rhythmed": [
      null,
      {
        "severity": "warning"
      }
    ],
    "a11y/no-display-none": [
      true,
      {
        "severity": "warning"
      }
    ],
    "a11y/no-obsolete-element": [
      true,
      {
        "severity": "warning"
      }
    ],
    "a11y/no-text-align-justify": [
      true,
      {
        "severity": "warning"
      }
    ],
    "property-disallowed-list": [
      "font",
      "animation",
      "background"
    ]
  }
}
