// Block editor styles
// Please note: These styles affect only wp-admin
// editor side. Please remember to add imports
// from block variations also to the main
// global.scss to see them on front end side.

// Helpers
@use 'helpers';

// Variables
@use 'variables';

// Accessibility
@use 'base/accessibility';

// Components needed by editor
@use 'components';

// Layout styles for editor
@use 'layout/content';

// Block variations
@use 'block-variations/media-text';

// Apply general styles from site front-end
@use 'layout/general';
