/**
 * The following styles get applied both on the front of your site
 * and in the editor.
 *
 * Replace them with your own styles or remove the file completely.
 */

.wp-block-air-light-image-content {
  // TODO: Replace with includePaths in config

  // Needed helpers
  // @import '../../../sass/helpers/font';
  // @import '../../../sass/helpers/variablefont';

  // Variables
  @import '../../../sass/variables/breakpoints';
  @import '../../../sass/variables/colors';
  // @import '../../../sass/variables/typography';

  // Needed elements
  // @import '../../../sass/layout/typography';
  @import '../../../sass/helpers/images';
  @import '../../../sass/helpers/animations';
  @import '../../../sass/components/button';

  // Get colors
  @include colors();

  // Get fonts
  // @include typography();

  // Apply typographic definitions
  // @include typography-definitions();


  // Apply breakpoints
  @include breakpoints();

  // This is important, because wp core applies html :where(.wp-block) to 840px
  margin-left: auto;
  margin-right: auto;
  max-width: var(--width-grid-base);

  .image {
    // Default background color, if the image is not set
    background-color: rgb(0 0 0 / 0.122);
  }

  .content {
    background-color: var(--color-black);
    display: grid;
    gap: 2rem;
    padding: 5rem;

    h2,
    .description {
      color: var(--color-white);
    }

    h2 {
      margin: 0;
    }

    p {
      color: var(--color-white);
      margin: 0 0 var(--spacing-paragraphs-margin-block) 0;

      &:last-child {
        margin-bottom: 0;
      }
    }

    @media (max-width: 1024px) {
      padding: var(--spacing-text-margin-block);
    }

    @media (max-width: 500px) {
      --spacing-text-margin-block: 2rem;
    }
  }

  .container {
    display: grid;
    gap: 0;
    grid-template-columns: minmax(0, 1.1fr) minmax(0, 1fr);
    padding: var(--spacing-container-padding-block) var(--spacing-container-padding-inline);

    &.image-on-right {
      .image {
        order: 2;
      }

      .content {
        order: 1;
      }
    }

    &.image-on-left {
      .image {
        order: 1;
      }

      .content {
        order: 2;
      }
    }

    @media (max-width: 1024px) {
      grid-template-columns: minmax(0, 1fr);
    }
  }

  .wp-block-button__link {
    @include button();
    background-color: var(--color-white);
    border-color: var(--color-white);
    color: var(--color-black);

    &:hover,
    &:focus {
      background-color: var(--color-accent);
      border-color: var(--color-accent);
      color: var(--color-white);
    }
  }

  @media (max-width: 1024px) {
    .container .image.image-background {
      aspect-ratio: 16 / 9;
      order: 1;
    }

    .container.iamge-on-left .content,
    .container.image-on-right .content {
      order: 2;
    }
  }
}
