// WordPress custom properties from theme.json
// stylelint-disable custom-property-pattern, csstools/value-no-unknown-custom-properties
@use '../variables' as *;

// Error 404 title
.block-error-404 {
  .container {
    @media (min-width: $breakpoint-mobile) {
      padding-bottom: 10%;
      padding-top: 10%;
    }
  }

  .content {
    text-align: center;
  }

  h1 {
    font-size: clamp(3.75rem, 1.0714rem + 7.1429vw, 7.5rem);
    margin-bottom: 1.25rem;
  }
}
