// WordPress custom properties from theme.json
// stylelint-disable custom-property-pattern, csstools/value-no-unknown-custom-properties
@use '../variables' as *;

// Search
.block-search,
.block-search-results {
  background-color: var(--wp--preset--color--white);
}

.block-search form {
  display: grid;
  /* autoprefixer: off */
  grid-gap: 0.625rem;
  grid-template-columns: 9fr 1fr;

  input,
  label {
    width: 100%;
  }
}

.block-search-results {
  > .container {
    padding-top: 0;

    @media (min-width: $breakpoint-tablet-landscape) {
      // Make a CSS grid for multiple columns if you use other post type results
      display: grid;
    }
  }

  .row-result {
    border-top: 2px solid var(--wp--preset--color--black);
    padding: 1.25rem 0;

    &:last-of-type {
      border-bottom: 2px solid var(--wp--preset--color--black);
    }
  }

  h3 {
    font-size: var(--wp--preset--font-size--h-4);
    margin-bottom: 0.625rem;
  }

  p {
    margin-top: 0.625rem;
  }
}
