// Use with @include box-with-shadow();
@mixin box-with-shadow() {
  background-color: var(--color-white);
  border-radius: rem(10px);
  box-shadow: rem(1px) rem(1px) rem(37px) 0 rgb(0 0 0 / .05);
  padding: rem(55px);
}
