/* stylelint-disable number-max-precision */
@mixin button-size-medium() {
  font-size: var(--font-size-18);

  // Capsized tweaks
  // https://seek-oss.github.io/capsize/
  line-height: 23.0909px;
  padding-bottom: 14px;
  padding-left: 21px;
  padding-right: 21px;
  padding-top: 14px;

  &::before {
    content: "";
    display: table;
    margin-bottom: -.2778em;
  }

  &::after {
    content: "";
    display: table;
    margin-top: -.2778em;
  }
}
