// CSS variables
// Define names:
// For AAA: https://www.color-blindness.com/color-name-hue/
// For AA: https://chir.ag/projects/name-that-color/
// ------------------------------------------------------
:root {
  --color-black: #000;
  --color-white: #fff;

  // Main element colors
  --color-accent: #0049d1;
  --color-heading: var(--color-black);
  --color-main: var(--color-black);
  --color-paragraph: #545773;

  // Modern link
  --color-link-text: var(--color-accent);
  --color-link-text-hover: var(--color-black);

  // Element states
  --color-error: #cc2e2e;
  --color-success: #21aa14;
}
