// stylelint-disable custom-property-pattern, csstools/value-no-unknown-custom-properties
// Colors are defined in theme.json and use WordPress preset variables
:root {
  // Use WordPress preset colors from theme.json
  --color-black: var(--wp--preset--color--black);
  --color-white: var(--wp--preset--color--white);

  // Main element colors
  --color-accent: var(--wp--preset--color--black);
  --color-heading: var(--wp--preset--color--black);
  --color-main: var(--wp--preset--color--black);
  --color-paragraph: var(--wp--preset--color--black);

  // Links
  --color-link-text: var(--wp--preset--color--black);
  --color-link-text-hover: var(--wp--preset--color--black);
}
