// Base colors
$color-white: #fff;
$color-black: #222;
$color-shadows: #b8bbb3;
$color-darkgrey: #4f5964;
$color-lightgrey: #f5f5f5;
$color-border-forms: #d9d9d9;
$color-code-background: #2b303c;
$color-separator-nav-mobile: #f0f0f0;
$color-tags-and-search-items: #eaf1f8;

// Compulsory brand colors
$color-main: #3962c9;
$color-dark: darken($color-main, 40%);
$color-shade: #03061b;

// Official brand colors
$color-bright: #81a9ff;

// Text and background colors
$color-links: $color-main;
$color-hover: $color-dark;
$color-paragraphs: $color-darkgrey;
$color-headings: $color-main;
$color-blog-tags: #061629;
$color-comments-link: #555;
$color-default-background: $color-dark;
$color-success: #2d6426;
$color-warning: #8e440b;
$color-error: #903a37;
