// Base colors
$color-white: #fff;
$color-black: #222;
$color-shadows: #b8bbb3;
$color-darkgrey: #545773;
$color-lightgrey: #f5f5f5;

// Required brand colors
$color-main: #2a2d3e;
$color-dark: #2a2d3e;
$color-shade: #03061b;

// Official brand colors
$color-bright: #737fbf;

// Element text and background colors
$color-links: $color-main;
$color-hover: $color-dark;
$color-paragraphs: #545773;
$color-headings: $color-main;
$color-blockquotes: #666;
$color-blog-tags: #061629;
$color-tags-and-search-items: #eaf1f8;
$color-tag-borders: rgba($color-blog-tags, .1);
$color-tag-borders-hover: rgba($color-blog-tags, .4);
$color-cat-borders: rgba($color-blog-tags, .2);
$color-code-blocks: #c7254e;
$color-code-blocks-background: #f9f2f4;
$color-border-forms: #d9d9d9;
$color-code-background: #2b303c;
$color-comments-link: #555;
$color-edit-link: #999;
$color-background-edit-link: #fafafa;
$color-background-hover-edit-link: #efefef;
$color-background-default: #f0f0f0;
$color-success: lighten(#2d6426, 40%);
$color-warning: lighten(#8e440b, 40%);
$color-error: lighten(#903a37, 40%);
$color-disabled: #bbb;
$color-captions: rgba(#4b4b5a, .9);
$color-buttons: $color-darkgrey;
$color-buttons-hover: $color-main;

// Accessibility
$color-outline-overlay-items: #ff848a;
