// stylelint-disable max-line-length
// Font family settings
// You can define your own font families here, like --font-barlow
// and then attach them to elements: --font-paragraph: var(--font-barlow)
:root {
  // Fonts in use for content
  --font-inter: 'Inter', -apple-system, 'BlinkMacSystemFont', 'Segoe UI', 'Roboto', 'Oxygen-Sans', 'Ubuntu', 'Cantarell', 'Helvetica Neue', sans-serif;
  --font-paragraph: var(--font-inter);
  --font-heading: var(--font-inter);
}
