// CSS Variables for responsive paddings and margins
:root {
  // Gaps
  --spacing-grid-gap: 4.8rem;

  // Paddings
  --spacing-container-padding-inline: 2rem;
  --spacing-container-padding-inline-large: 6.4rem;
  --spacing-container-padding-block: 6.4rem;
  --spacing-site-header-padding-block: 2rem;
  --spacing-content-padding-block: 8rem;

  // Margins
  --spacing-text-margin-block: 4rem;
  --spacing-wp-block-image-margin-block: 4rem;
  --spacing-paragraphs-margin-block: 2.7rem;

  // Mid-sized screens
  @media (max-width: $width-grid-base + 150px) {
    --spacing-container-padding-inline: 6.4rem;
  }

  // When there's no longer room for container to fit with wider white space
  @media (max-width: 700px) {
    --spacing-container-padding-inline: 2rem;
  }

  // When navigation transforms to a responsive hamburger menu
  @media (max-width: $width-max-mobile) {
    --spacing-site-header-padding-block: 2rem;
  }

  // iPad
  @media (max-width: $container-ipad-landscape) {
    --spacing-grid-gap: 3.2rem;
  }

  @media (max-width: $container-ipad) {
    --spacing-grid-gap: var(--spacing-container-padding-inline);
    --spacing-container-padding-block: 5rem;
  }

  // Between iPad and a mobile phone
  @media (max-width: 600px) {
    --spacing-content-padding-block: 6rem;
  }

  // Vars in mobile
  @media (max-width: $container-mobile) {
    --spacing-container-padding-block: 4rem;
  }
}
