// CSS Variables for responsive paddings and margins
:root {
  // Gaps
  --grid-gap: #{rem(48px)};

  // Paddings
  --padding-container-horizontal: #{rem(20px)};
  --padding-container-horizontal-large: #{rem(64px)};
  --padding-container-vertical: #{rem(64px)};
  --padding-site-header-vertical: #{rem(20px)};
  --padding-block: #{rem(80px)};

  // Margins
  --margin-between-text-elements: #{rem(40px)};
  --margin-wp-block-image: #{rem(40px)};
  --margin-between-paragraphs: #{rem(27px)};

  // Mid-sized screens
  @media (max-width: $width-grid-base + 150px) {
    --padding-container-horizontal: #{rem(64px)};
  }

  // When there's no longer room for container to fit with wider white space
  @media (max-width: 700px) {
    --padding-container-horizontal: #{rem(20px)};
  }

  // When navigation transforms to a responsive hamburger menu
  @media (max-width: $width-max-mobile) {
    --padding-site-header-vertical: #{rem(20px)};
  }

  // iPad
  @media (max-width: $container-ipad-landscape) {
    --grid-gap: #{rem(32px)};
  }

  @media (max-width: $container-ipad) {
    --grid-gap: var(--padding-container-horizontal);
    --padding-container-vertical: #{rem(50px)};
  }

  // Between iPad and a mobile phone
  @media (max-width: 600px) {
    --padding-block: #{rem(60px)};
  }

  // Vars in mobile
  @media (max-width: $container-mobile) {
    --padding-container-vertical: #{rem(40px)};
  }
}
