// CSS Variables for responsive paddings and margins
:root {
  // Paddings
  --padding-container-horizontal: 2rem;
  --padding-container-y-medium: 6.4rem;
  --padding-container-y-small: 5rem;
  --padding-site-header-y: 2rem;
  --padding-block: 8rem;

  // Margins
  --margin-between-text-elements: 4rem;

  // When navigation transforms to a responsive hamburger menu
  @media (max-width: $responsivenav) {
    --padding-site-header-y: 1rem;
  }

  @media (max-width: 600px) {
    --padding-block: 6rem;
  }

  // Vars in mobile
  @media (max-width: $container-mobile) {
    --padding-container-x-medium: 2rem;
    --padding-container-x-small: 2rem;
    --padding-container-y-medium: 4rem;
    --padding-container-y-small: 4rem;
  }
}
