// ---------------------------------------------------------
// Accessibility
//
// A hidden screen reader for readers, focus elements for
// vision impaired and other useful a11y CSS hacks.
// ---------------------------------------------------------

:focus {
  outline: thin solid $color_links;
}

.screen-reader-text {
  clip: rect(1px, 1px, 1px, 1px);
  position: absolute !important;
  height: 1px;
  width: 1px;
  overflow: hidden;
  word-wrap: normal !important; // Many screen reader and browser combinations announce broken words as they would appear visually.

  &.skip-link {
    margin: 5px;
  }
}

.screen-reader-text:hover,
.screen-reader-text:active,
.screen-reader-text:focus {
  background-color: #222;
  color: #fff;
  box-shadow: none;
  clip: auto !important;
  display: block;
  font-weight: bold;
  height: auto;
  left: 0;
  line-height: normal;
  padding: 1rem .9375rem;
  text-decoration: none;
  top: 0;
  width: auto;
  z-index: 100000;

  // Above WP toolbar
  outline: none;
}

// Do not show the outline on the skip link target.
#content[tabindex="-1"]:focus {
  outline: 0;
}
