// ---------------------------------------------------------
// Accessibility
//
// A hidden screen reader for readers, focus elements for
// vision impaired and other useful a11y CSS hacks.
// ---------------------------------------------------------

// Variables
$focus-outline-color: #4d4aff;
$focus-text-color: #000;
$focus-outline-style: 2px solid;
$focus-outline-style-large-elements: 4px solid;
$tld-browsersync: 'localhost:3000';
$tld-development: 'airdev.test';
$tld-staging: 'air.vaiheessa.fi';
$tld-production: 'www.dudetest.xyz';

// Text meant only for screen readers.
.screen-reader-text {
  border: 0;
  clip: rect(1px, 1px, 1px, 1px);
  clip-path: inset(50%);
  height: 1px;
  margin: -1px;
  overflow: hidden;
  padding: 0;
  position: absolute !important;
  width: 1px;
  word-wrap: normal !important; // Many screen reader and browser combinations announce broken words as they would appear visually.

  &.skip-link {
    margin: 5px;

    &:focus {
      background: $color-white;
      color: $focus-outline-color;
      outline: 2px solid $focus-outline-color;
    }
  }

  &:focus {
    background-color: #f1f1f1;
    border-radius: 0;
    box-shadow: 0 0 2px 2px rgba(#000, .6);
    clip: auto !important;
    clip-path: none;
    color: #21759b;
    display: block;
    font-size: 1.7rem;
    font-weight: 700;
    height: auto;
    left: 5px;
    line-height: normal;
    padding: 15px 23px 14px;
    text-decoration: none;
    top: 5px;
    width: auto;
    z-index: 100000; // Above WP toolbar.
  }
}

// Do not show the outline on the skip link target.
[tabindex="-1"]:focus {
  outline: 0;
}

// Suppress focus ring on for mouse users for visual reasons
[data-whatinput="mouse"] *:focus {
  outline: none;
}

// Make sure outline is visible on cols that have .global-link
body .block-image-links .cols .col,
.col {
  overflow: visible;
}

// Visually distinct focus color on keyboard
[data-whatinput="keyboard"] {
  input:focus,
  button:focus,
  select:focus,
  textarea:focus,
  div[tabindex]:focus,
  nav ul li a:focus,
  div[tabindex]:focus,
  a:focus {
    // Normalize the look of the outline across browsers
    // @link https://a11yproject.com/posts/never-remove-css-outlines/
    outline: $focus-outline-style $focus-outline-color;
    color: $focus-text-color;
    opacity: 1;
    z-index: 99;
  }

  // A bit better focus for large elements
  a.global-link:focus {
    outline: $focus-outline-style-large-elements $focus-outline-color;
  }
}

// Make theme keyboard accessible with no Javascript enabled
.no-js *:focus {
  outline: $focus-outline-style $focus-outline-color;
}

// Links within content must be underlined
// @link https://make.wordpress.org/themes/handbook/review/accessibility/required/#content-links
.container a,
.entry-content a {
  text-decoration: underline;

  &:hover,
  &:focus {
    text-decoration: none;
  }
}

// Add icon to external links
a[href*="//"]:not([href*="#{$tld-production}"]):not([href*="#{$tld-staging}"]):not([href*="#{$tld-development}"]):not([href*="#{$tld-browsersync}"]) {
  background-image: url('../svg/external-link.svg');
  background-position: right center;
  background-repeat: no-repeat;
  padding-right: 2.5rem;
  margin-right: 1rem;

  @media (max-width: 600px) {
    background-size: 14px 14px;
  }
}

// Light icons for dark navigation
.menu-item a[href*="//"]:not([href*="#{$tld-production}"]):not([href*="#{$tld-staging}"]):not([href*="#{$tld-development}"]):not([href*="#{$tld-browsersync}"]) {
  background-image: url('../svg/external-link-white.svg');
}

// Do not use email links as external links
a[href^="mailto"] {
  background-image: none;
  padding-right: 0;
}

// Footer exceptions
.block-footer .menu-item a[href*="//"]:not([href*="#{$tld-production}"]):not([href*="#{$tld-staging}"]):not([href*="#{$tld-development}"]):not([href*="#{$tld-browsersync}"]),
.block-footer a[href*="//"]:not([href*="#{$tld-production}"]):not([href*="#{$tld-staging}"]):not([href*="#{$tld-development}"]):not([href*="#{$tld-browsersync}"]) {
  background-size: 12px 12px;
  padding-right: 2rem;
}
