// --------------------------------------------------------------
// Theme options
//
// Start here!
// This is the core file where most of the theme magic happens.
// --------------------------------------------------------------

// Theme colors
$color-blue: #3962c9;
$color-cyan: #159d94;
$color-cyan-bright: #60f4ea;
$color-blue-bright: #81a9ff;
$color-blue-dark: darken($color-blue, 40%);

// Base colors
$color-white: #fff;
$color-black: #222;
$color-shadows: #b8bbb3;
$color-darkgrey: #4f5964;
$color-lightgrey: #f5f5f5;

// Text and background colors
$color-links: $color-blue;
$color-hover: $color-cyan;
$color-body: $color-black;
$color-headings: $color-blue;
$color-success: #30dd44;
$color-warning: #ed7e29;
$color-error: #dd3030;

$color-default-background: $color-blue-dark;

// Font settings
// You can use these font stacks normally with `font-family: $font-sans;` for instance.`
// Please set up fonts in sass/layout/_typography.scss
$font-base: 'Archivo', 'Helvetica Neue', Helvetica, sans-serif;
$font-headings: 'Archivo', 'Helvetica Neue', Helvetica, sans-serif;
$font-monospace: 'Menlo', 'Courier', monospace;

// Font settings
$font-min-size: 17px; // Minimum font size, on mobile
$font-max-size: 20px; // Maximum font size, on desktop
$line-height: 1.7; // Line height
$body-weight: 400;
$headings-weight: 700; // Default title weight. Usually 700 or 900 works pretty well

// Breakpoints
$grid-type: fluid; // 'fluid' or 'snappy'
$layout-max-width: 100%;

// Container settings
$container-default-pad-x: 2rem; // Default padding between containers horizontally. Tweak _general.scss if needed.
$container-default-pad-y: 6.4rem; // Default vertical padding for containers
$grid-base-size: 960px; // Layout container max width on desktop. This is default .container size
$article-max-width: 800px; // Max width for articles (see also $content_width in functions.php!)
$container-mobile: 480px;
$container-ipad: 770px;
$container-ipad-landscape: 1024px;
$container-desktop: 1200px;

// Transition duration and animations
$transition-duration: .6s;

// Where navigation transforms into responsive - scale your window width down to test
$responsivenav: 960px;
