// --------------------------------------------------------------
// Theme options
//
// Start here!
// This is the core file where most of the theme magic happens.
// --------------------------------------------------------------

// Colors
$color-links: darken(#0e9e58, 5%);
$color-hover: #606c76;
$color-body: #333;
$color-headings: #222;
$color-body-darker: #444;
$color-grey: #dadfe1;
$color-darkgrey: #6c7a89;
$color-lightgrey: #8e8e8e;
$color-dark: #1a1a1a;
$color-almostblack: #020202;
$color-fog: #b0b0b0;

// Font settings
// You can use these font stacks normally with `font-family: $font-sans;` for instance.`
// Please set up fonts in sass/layout/_typography.scss
$font-base: 'Poppins', 'Helvetica Neue', Helvetica, sans-serif;
$font-headings: 'Poppins', 'Helvetica Neue', Helvetica, sans-serif;
$font-monospace: 'Menlo', 'Courier', monospace;

// Font settings
$font-min-size: 18px; // Minimum font size, on mobile
$font-max-size: 17px; // Maximum font size, on desktop
$font-base-line-height: 1.78; // Line height for paragraphs
$font-base-line-height-elements: 1.68; // Line height for other elements like table cells and spans
$headings-line-height-setup: force; // Force: all headings have same line height. Flexible: values are set separately in _typography.scss
$headings-line-height-forced: 1.22; // This is effective only if force is chosen in $headings-line-height-setup
$headings-weight: 900; // Default title weight. Usually 700 or 900 works pretty well
$headings-scale: medium; // Change this as a base for your project or create your own in _typography.scss.

// Breakpoints
$grid-type: fluid; // 'fluid' or 'snappy'
$layout-max-width: 100%;

// Container settings
$container-default-pad-x: 6.4rem; // Default padding between containers horizontally. Tweak _general.scss if needed.
$container-default-pad-y: 6.4rem; // Default vertical padding for containers
$grid-base-size: 960px; // Layout container max width on desktop. This is default .container size
$article-max-width: 800px; // Max width for articles (see also $content_width in functions.php!)
$container-mobile: 480px;
$container-desktop: 1200px;
$container-ipad: 770px;
$container-ipad-landscape: 1024px;

// Where navigation transforms into responsive - scale your window width down to test
$responsivenav: 960px;
