// --------------------------------------------------------------
// Theme options
//
// Start here!
// This is the core file where most of the theme magic happens.
// --------------------------------------------------------------

// Colors
$color_links: #f16b6f;
$color_hover: #606c76;
$color_body: #3c3530;
$color_grey: #dadfe1;
$color_alt: #aacd6e;

// Main navigation settings
$color_navigation_bg: transparent;
$color_navigation_text: rgba(#fff, .8);
$color_navigation_hover: #3e4853;
$color_navigation_first_level_text_hover: #fff;
$color_navigation_toggle: $color_navigation_text;
$color_navigation_toggle_hover: $color_navigation_first_level_text_hover;
$list_padding: 1em 1.5em;
$font_size_navigation: .8rem;

// Drop down settings
$dropdown-width: 200px;
$color_dropdown_bg: #222;
$color_dropdown_text: #fff;
$color_dropdown_hover_bg: #3e4853;
$color_dropdown_hover_text: #fff;
$dropdown_border_radius: 5px;

// Type settings
$baseline-scaling: true;
$baseline-snap: true;
$min-font-size: 16px; // Mobile font size, set to false if no minimum
$rootsize-mobile-small: 10px;
$rootsize-mobile: 12px;
$rootsize-ipad: 14px;
$rootsize-ipad-landscape: 16px;
$rootsize-desktop: 18px;
$typographic-measure: 960px; // Default: 40rem

// Type debugging
$debug-allow: false; // Set debugging on or off
$debug-grid: true;
$debug-type: true;
$debug-breakpoints: true;
$debug-hover: false; // If set to false, show debugging all the time
$debug-opacity: .1;
$debug-tolerance: 1px;

// Form settings
$color_button_bg: #262626;
$color_button_text: #fff;
$color_forms: #cfd9db;
$color_forms_text: #666;
$color_forms_bg: #fff;
$forms_border_radius: 3px;
$forms_border_focus: darken(#cfd9db, 25%);

// Breakpoints
$layout-max-width: 100%;
$container_tv: 1824px;
$container_large: 1224px;
$container_desktop: 960px;
$container_landscape-ipad: 960px;
$container_ipad: 770px;
$container_mobile: 480px;
$responsivenav: 872px;

// Font family stack
$font_base: "Roboto", "Helvetica Neue", Helvetica, sans-serif;
$font_headings: "Source Sans Pro", "Helvetica Neue", Helvetica, sans-serif;
$font_alt: "Roboto", "Helvetica Neue", Helvetica, sans-serif;

// Set cap height to set to the baseline.
// Here are some cap-height sizes to get you started:
// Georgia: 0.66, Times / Times New Roman: 0.65, Palatino: 0.52
// Lucida Grande: 0.72, Helvetica: 0.65, Helvetica Neue: 0.71, Verdana: 0.76, Tahoma: 0.76
// Roboto: 0.65
$sans: (
    font-family: $font_base,
    regular: normal,
    bold: bold,
    cap-height: .65
);

$serif: (
    font-family: 'Georgia, serif',
    regular: normal,
    bold: bold,
    cap-height: .66
);

$monospace: (
    font-family: 'Menlo, Courier, monospace',
    regular: 400,
    cap-height: .68
);

// Megatype breakpoint map
$breakpoint-map: (
  0: (
    start:      0,
    max:        (($container_mobile)-20px),
    rootsize:   $rootsize-mobile-small
  ),

  1: (
    start:      $container_mobile,
    max:        (($container_mobile)+80px),
    rootsize:   $rootsize-mobile
  ),

  2: (
    start:      $container_ipad,
    max:        $container_desktop,
    rootsize:   $rootsize-ipad
  ),

  3: (
    start:      (($container_desktop)+20px),
    max:        $container_large,
    rootsize:   $rootsize-ipad-landscape
  ),

  4: (
    start:      (($container_large)+20px),
    max:        $container_tv,
    rootsize:   $rootsize-desktop
  )
);
