// Buttons
button,
input[type="reset"],
input[type="submit"],
input[type="button"],
.button {
    background: $color_button_bg;
    color: $color_button_text;
    border: 0;
    width: auto;
    display: inline-block;
    padding: 16px 25px;
    margin-bottom: 10px;
    text-decoration: none;
    position: relative;
    cursor: pointer;
    border-radius: $forms_border_radius;
    transition: 150ms linear all;
    appearance: none;

    &:hover,
    &:focus {
      background: lighten($color_button_bg, 15%);
    }
}

// Fields
body {

  .site {
    textarea,
    select,
    input[type="text"],
    input[type="tel"],
    input[type="url"],
    input[type="password"],
    input[type="number"],
    input[type="month"],
    input[type="week"],
    input[type="email"],
    input[type="search"] {
      color: $color_forms_text;
      border: 1px solid $color_forms;
      background: $color_forms_bg;
      border-radius: $forms_border_radius;
      padding: 16px;
      text-decoration: none;
      position: relative;
      transition: 150ms linear all;
      appearance: none;
      margin-bottom: 0;

      &:focus {
        outline: 0;
        border: 1px solid $forms_border_focus;
      }
    }

    select {
      background: $color_forms;
      color: #fff;
    }
  }

  // General
  form {
    p {
      margin-bottom: 20px;
    }

    // Search form
    &.search-form {
      .search-field {
        float: left;
        margin-right: 5px;
      }

      .search-submit {
        padding: 16px 1.75em;
      }
    }
  }

  // Gravity Forms
  .gform_wrapper {
    form {
      .ginput_container,
      .top_label {
        margin-top: 0;
        margin-bottom: 0;
        padding-top: 0;
        padding-bottom: 0;
      }

      .gfield {
        margin-top: 10px;
        margin-bottom: 10px;
      }

      textarea {
        margin-bottom: 10px;
      }
    }
  }
}

// Initial comment form styles

.comment-form-comment {
  label[for="comment"] {
    display: block;
  }
}
