// Table of contents
// --------------------------
// * Base structure constants
// * Site header
// * Site footer
// * A natural box layout model to all elements
// * WordPress alignments
// * Accessibility
// * WordPress captions
// * WordPress galleries
// * Embeds
// * Tables, codes and pres
// * Sidebar
// * Back to top
// --------------------------
// Base structure constants
#page {
  max-width: $layout-max-width;
  margin-left: auto;
  margin-right: auto;
}

// Set containers
html,
body {
  height: 100%;
  margin: 0;
  max-width: 100%;
}

.container {
  @if $grid-type == fluid {
    @include center($max_width: $container_desktop_max_width, $pad: 20px);
  } @else if $grid-type == snappy {
    @include set-container;
  } @else {
    @include center($max_width: $container_desktop_max_width, $pad: 20px);
  }
}

.site-content {

  .container {

    margin: 0 auto;

    @include all-breakpoints {
      padding: 4rem 2rem;
    }
  }

  // Meta, Edit -link
  .entry-footer {
    overflow: hidden;
    clear: both;
    display: block;

    .edit-link {
      text-align: left;
      width: 100%;
      display: block;
      clear: both;
      max-width: 100%;
      min-width: 0;
      margin-bottom: 0;
      margin-top: 0;
      top: 0;
      bottom: 0;
      padding: 0;
      overflow: hidden;

      a {
        clear: both;
        display: block;
        margin-top: 40px;
        font-size: 1.2rem;
        padding: 0;
      }
    }
  }
}

// Site header
.site-header {

  .site-title {
    margin-top: 20px;
    margin-bottom: 20px;
    font-size: 2rem;
  }

  @media (max-width: $responsivenav) {
    .container {
      padding-left: 0;
      padding-right: 0;
    }

    .site-branding {
      padding-left: 20px;
      padding-right: 20px;
    }
  }
}

// Site footer
.site-footer {
  padding: 20px;
  background: $color_grey;
  color: $color_body;
  margin-top: 30px;

  a {
    color: $color_body;
  }

  .theme-info {
    @media (min-width: $container-ipad) {
      float: right;
    }
  }
}

article.post {
  margin-bottom: 30px;
}

// A natural box layout model to all elements
// Update: http://css-tricks.com/inheriting-box-sizing-probably-slightly-better-best-practice/
html,
*,
*:before,
*:after {
  box-sizing: border-box;
}

img {
  box-sizing: content-box;
}

// WordPress alignments
.cat-links,
.tags-links {
  display: block;
}

.alignleft {
  display: inline;
  float: left;
  margin-right: 20px;
}

.alignright {
  display: inline;
  float: right;
  margin-left: 20px;
}

.aligncenter {
  clear: both;
  display: block;
  margin: 0 auto;
}

.comments-link {
  display: block;
}

// Accessibility
:focus {
  outline: thin solid $color_links;
}

.screen-reader-text {
  clip: rect(1px 1px 1px 1px);
  position: absolute !important;
  transition: all .55s;

  &.skip-link {
    margin: 5px;
  }
}

.screen-reader-text:hover,
.screen-reader-text:active,
.screen-reader-text:focus {
  background-color: #222;
  color: #fff;
  box-shadow: none;
  clip: auto !important;
  display: block;
  font-weight: bold;
  height: auto;
  left: 0;
  line-height: normal;
  padding: 1rem .9375rem;
  text-decoration: none;
  top: 0;
  width: auto;
  z-index: 100000;

  // Above WP toolbar
  outline: none;
}

del {
  text-decoration: line-through;
  opacity: .6;
}

// WordPress captions
.wp-caption {
  max-width: 100%;

  img[class*="wp-image-"] {
    display: block;
    margin: 0 auto;
  }

  .wp-caption-text {
    text-align: left;
    font-style: italic;
    border-bottom: 2px solid $color_grey;
    padding: 1rem 0;
    margin-bottom: 20px;
  }
}

// WordPress galleries
.gallery {
  clear: both;

  .gallery-itrem {
    float: left;

    .gallery-icon {
      a {
        display: block;
      }

      img {
        border: 0;
        height: auto;
        margin-bottom: 0;
      }
    }

    .gallery-caption {
      margin: 0;
      text-align: center;
    }
  }
}

// Embeds
embed,
iframe,
object,
video {
  max-width: 100%;
}

// Tables, codes and pres
table {
  border-spacing: 0;
  border-collapse: collapse;
}

td,
th {
  padding: 0;
}

kbd,
pre,
samp {
  font-family: Menlo, Monaco, Consolas, "Courier New", monospace;
}

code {
  font-family: Menlo, Monaco, Consolas, "Courier New", monospace;
  padding: 2px 4px;
  color: #c7254e;
  background-color: #f9f2f4;
  border-radius: 4px;
}

abbr[title] {
  border-bottom: 1px dotted;
}

b,
strong {
  font-weight: bold;
}

dfn {
  font-style: italic;
}

body {
  kbd {
    border: 1px solid #ccc;
    font-family: Arial, Helvetica, sans-serif;
    background-color: #f7f7f7;
    color: #333;
    box-shadow: 0 1px 0 rgba(#000, .2), 0 0 0 2px #fff inset;
    border-radius: 4px;
    display: inline-block;
    text-shadow: 0 1px 0 #fff;
    line-height: 1.4;
    white-space: nowrap;
    padding: 0 .5rem;
  }
}

pre {
  display: block;
  padding: 9.5px;
  margin: 0 0 .625rem;
  color: #333;
  word-break: break-all;
  word-wrap: break-word;
  background-color: #f5f5f5;
  border: 1px solid #ccc;
  border-radius: 4px;
  overflow: auto;

  code {
    padding: 0;
    font-size: inherit;
    color: inherit;
    white-space: pre-wrap;
    background-color: transparent;
    border-radius: 0;
  }
}

// Sidebar
.sidebar {
  @include min-width(2) {
    padding-top: 2rem;
    margin-bottom: 2rem;
    float: right;
    width: 33.333%;
  }

  @include min-width(3) {
    padding-top: 1rem;
    width: 25%;
  }

  @include min-width(4) {
    padding-top: 0;
  }
}

// Back to top
.top {
  position: fixed;
  bottom: 20px;
  right: 20px;
  background: $color_links;
  width: 50px;
  height: 50px;
  text-decoration: none;
  visibility: hidden;
	opacity: 0;
	transition: opacity .3s 0s, visibility 0s .3s;
  z-index: 10000;

	&.is-visible,
  &.fade-out,
  .no-touch &:hover {
		transition: opacity .3s 0s, visibility 0s 0s;
	}

	&.is-visible { // The button becomes visible
		visibility: visible;
		opacity: 1;
	}

	&.fade-out { // If the user keeps scrolling down, the button is out of focus and becomes less visible
		opacity: .5;
	}

	.no-touch &:hover {
		opacity: 1;
	}

  i {
    @include centered();
    position: absolute;
    color: #fff;
    margin: 0;
    opacity: .8;
    font-size: 19px;
    transition: all .3s ease;
  }

  &:hover,
  &:focus,
  &:active {
    color: $color_alt;
    background: $color_body;

    i {
      top: 25%;
    }
  }
}
