@charset 'UTF-8';

// Reset & grid
@import 'normalize.css/normalize';
@import 'jeet/scss/index';

// Theme options
@import 'config';

// Helpers
@import 'helpers';
@import 'accessibility';

// Structure
@import '../layout/general';
@import '../layout/typography';
@import '../layout/containers';
@import '../layout/site-header';
@import '../layout/site-footer';
@import '../layout/forms';
@import '../layout/navigation';
//@import '../layout/sidebar';

// Global features
@import '../features/top';
@import '../features/gallery';

// Views
@import '../views/front-page';
@import '../views/page';
@import '../views/blog';
@import '../views/single';
@import '../views/comments';

// WooCommerce
@import '../woocommerce/woocommerce';
