@charset 'UTF-8';

// Reset
@import 'normalize.css/normalize';

// Helpers
@import 'helpers';

// Theme options
@import 'config';

// Typography
@import '../typography/typography';

// Structure, grid
@import 'jeet/scss/jeet/index';
@import 'structure';
@import 'forms';

// Navigation
@import '../navigation/navigation';

// --- Start coding here ---


// Default shade on top of slides
.shade {
  background: #222;
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  z-index: 0;
  opacity: .1; // Play around with this, depending on your layout .33 is usually good amount
}

// Basic slide layout
.slide {
  @include background-cover();
  background-position: bottom; // Usually center works best, bottom is just for air demo purposes
  background-color: #e9e9e9;
  height: 60vh;
  position: relative;
  margin-bottom: 2rem;

  // Experiment with max-height:

  &.slide-front {
    max-height: 700px;
  }
}
