@charset 'UTF-8';

// Reset
@import '../../node_modules/normalize.css/normalize';

// Helpers
@import 'helpers';

// Theme options
@import 'config';

// Structure, grid
@import '../../node_modules/jeet/scss/jeet/index';
@import 'structure';

// Typography
@import '../typography/typography';

// Navigation
@import '../navigation/navigation';

// --- Start coding here ---

.site-header {
  background-color: #ddd;

  .site-branding {
    overflow: hidden;

    @media(min-width: $responsivenav) {
      @include col(1/10);
    }

    @media(max-width: ($responsivenav)-1px) {
      @include span(1/2);
    }

    .site-title {
      overflow: hidden;

      a {
        @include hiddentext();
        background-image: url('../images/logo.svg');
        background-repeat: no-repeat;

        // Logo size
        width: 80px;
        height: 80px;
      }
    }
  }

  .nav-collapse {
    @media(min-width: $responsivenav) {
      @include col(9/10);

      // Set these based on the logo size
      padding-top: 40px;
      padding-bottom: 40px;

      ul {
        float: right;
      }
    }
  }

  @media(max-width: ($responsivenav)-1px) {
    .nav-toggle {
      width: auto;
      float: right;
      top: 30px;
      right: 30px;
      position: relative;
    }
  }
}
