@charset 'UTF-8';

// Reset
@import 'normalize.css/normalize';

// Helpers
@import 'helpers';

// Theme options
@import 'config';

// Typography
@import '../typography/typography';

// Structure, grid
@import 'jeet/scss/jeet/index';
@import 'structure';
@import 'forms';

// Navigation
@import '../navigation/navigation';

// --- Start coding here ---

.site-header {
  @include background-cover();
  background-color: #ddd;
  background-repeat: no-repeat;
  background-position: 0 bottom;
  height: 300px;

  &.front {
    height: 650px;
  }

  .container {
    padding: 0;
  }

  .site-branding {
    overflow: hidden;

    @media(min-width: $responsivenav) {
      @include col(1/10);
    }

    @media(max-width: ($responsivenav)-1px) {
      @include span(1/2);
    }

    .site-title {
      overflow: hidden;

      a {
        @include hiddentext();
        background-image: url('../images/logo.svg');
        background-repeat: no-repeat;

        // Logo size
        width: 80px;
        height: 80px;
      }
    }
  }

  .nav-collapse {
    @media(min-width: $responsivenav) {
      @include col(9/10);

      // Set these based on the logo size
      padding-top: 40px;
      padding-bottom: 40px;

      ul {
        float: right;
      }
    }
  }
}
