@charset 'UTF-8';

// Reset
@import 'normalize.css/normalize';

// Helpers
@import 'helpers';

// Theme options
@import 'config';

// Typography
@import '../typography/typography';

// Structure, grid
@import 'jeet/scss/jeet/index';
@import 'structure';
@import 'forms';

// Navigation
@import '../navigation/navigation';

// --- Start coding here ---


// Default shade on top of slides
.shade {
  background: #222;
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  z-index: 0;
  opacity: .1; // Play around with this, depending on your layout .33 is usually good amount
}

// Basic slide layout
.slide {
  @include background-cover();
  background-position: bottom; // Usually center works best, bottom is just for air demo purposes
  background-color: #e9e9e9;
  height: 60vh;
  max-height: 700px;
  position: relative;
  margin-bottom: 2rem;

  // Fix iOS bug not displaying 60vh correctly
  // iPad
  @media only screen and (min-device-width : 768px) and (max-device-width : 1024px) and (orientation : landscape) {
    height: 460px; // 100vh = 768px
  }

  @media only screen and (min-device-width : 768px) and (max-device-width : 1024px) and (orientation : portrait) {
    height: 614px; // 100vh = 1024px
  }

  // iPhone 5
  @media only screen and (min-device-width: 320px) and (max-device-height: 568px) and (orientation : landscape) and (-webkit-device-pixel-ratio: 2) {
    height: 192px; // 100vh = 320px
  }

  @media only screen and (min-device-width: 320px) and (max-device-height: 568px) and (orientation : portrait) and (-webkit-device-pixel-ratio: 2) {
    height: 340px; // 100vh = 568px
  }

  // iPhone 4
  @media only screen and (min-device-width : 320px) and (max-device-width : 480px) and (orientation : landscape) and (-webkit-min-device-pixel-ratio : 2) {
    height: 192px; // 100 vh = 320px
  }

  @media only screen and (min-device-width : 320px) and (max-device-width : 480px) and (orientation : portrait) and (-webkit-min-device-pixel-ratio : 2) {
    height: 288px; // 100vh = 480px
  }
}
