// Custom polylang subnav integration
$polylang-enable-nav-animations: false;
$polylang-dropdown-width: 100px;

#top-bar {
  li {
    &.pll-parent-menu-item {
      border: 0;
      display: inline-block;
      position: relative;
      width: auto;
      font-weight: 700;
      padding-bottom: 10px;
      padding-top: 10px;

      &:hover {
        cursor: pointer;
      }

      ul {
        li {
          &.lang-item {
            margin: 0;
            text-align: center;
            height: 24px;
            font-weight: 400;

            a {
              width: $polylang-dropdown-width;
              padding: 3px 5px;
              font-size: 14px;

              &:hover {
                color: $color-alt;
              }
            }
          }
        }
      }

      // Depth: nav ul li
      &:hover > ul,
      li:focus > ul,
      &.focus > ul,
      .focus > ul {
        top: 38px;
        left: 0;
        margin-left: -5px;
        opacity: 1;
        padding: 0;
        z-index: 999;
        overflow: visible;

        li {
          background: #fff;
        }

        &:not(.toggled) {
          display: block;
        }
      }

      ul {
        max-height: 0;
        overflow: hidden;

        &.toggled {
          top: 38px;
          left: 0;
          margin-left: -5px;
          opacity: 1;
          padding: 0;
          max-height: 9999px;
        }

        &:not(.toggled) {
          display: none;
        }
      }

      // Dropdown toggles
      &.menu-item-has-children,
      &.page-item-has-children {
        > a {
          padding-right: 2rem;
        }

        // First level dropdown toggle
        button.dropdown-toggle {
          @include vertical-align;
          opacity: .8;
          background-image: url('../svg/chevron-down-gray.svg');
          background-repeat: no-repeat;
          background-position: center;
          content: ' ';
          width: 10px;
          height: 10px;
          position: absolute;
          right: 0;
          margin-top: 0;
          padding-right: .2rem;
          vertical-align: text-bottom;
          background-color: transparent;
        }

        li {
          a {
            padding-left: 30px;
          }

          &.menu-item-has-children,
          &.page-item-has-children {
            button.dropdown-toggle {
              background-image: url('../svg/chevron-left.svg');
              background-repeat: no-repeat;
              background-position: center;
              top: 22px;
              padding-right: 0;
              padding-left: .2rem;
              right: auto;
              left: 8px;
            }
          }

          ul {
            li:hover > ul,
            li:focus > ul,
            li.focus > ul,
            .focus > ul,
            ul.toggled {
              top: 0;
              right: 0%;
              left: auto;
              margin-left: auto;
              margin-right: $polylang-dropdown-width;
              opacity: 1;
            }
          }
        }
      }

      li {
        max-width: $polylang-dropdown-width;
        border: 0;
        display: block;
        height: auto;
        line-height: 1.0909090909;

        &.menu-item-has-children,
        &.page-item-has-children {
          > a {
            // A bit space for the dropdown toggle
            padding-right: 2rem;
          }
        }
      }

      ul {
        float: left;
        margin: 0;
        position: absolute;
        text-align: center;
        top: 85px;
        left: -999em;
        z-index: 99999;
        opacity: 0;
        background: #fff;
        padding: 10px;

        // Animate:
        @if $polylang-enable-nav-animations == true {
          transition-property: opacity, visibility;
          transition-duration: .25s, 0s;
          transition-delay: .25s, .25s;
          transition: opacity .3s ease-in-out, top .3s ease-in-out;
        }

        li:hover > ul,
        li:focus > ul,
        li.focus > ul,
        .focus > ul,
        ul.toggled {
          top: 0;
          left: 0%;
          margin-left: $polylang-dropdown-width;
          opacity: 1;
        }

        a {
          white-space: normal;
          width: $polylang-dropdown-width;
          color: #444;
        }
      }
    }
  }
}