// Boxed block style
.wp-block.is-style-boxed,
.is-style-boxed {
  border: 2px solid $color-paragraphs;
  color: $color-paragraphs;
  font-size: 17px;
  font-style: normal;
  font-weight: 500;
  line-height: $line-height-blog;
  padding: 2rem;
  width: calc(100% - 4rem);
}

@media (min-width: $width-max-article + 40px) {
  .gutenberg-content .is-style-boxed {
    transform: translate(2rem, 0);
  }
}
