// List block
.wp-block-categories-list,
ol:not([class]),
ul:not([class]) {
  padding-left: var(--margin-between-paragraphs);
  width: calc((100% - calc(var(--padding-container-horizontal) * 2)));

  li::marker {
    color: var(--color-link-text);
    font-size: var(--font-size-18);
  }
}
