// Core/paragraph block
.has-larger-font-size,
.has-large-font-size {
  line-height: var(--line-height-heading);
}

.has-large-font-size {
  @media (max-width: $container-mobile) {
    font-size: var(--font-size-18);
  }
}

.has-larger-font-size {
  @media (max-width: $container-mobile) {
    font-size: var(--font-size-22);
  }
}

@media (max-width: $width-grid-base + 40px) {
  .has-background {
    width: calc(100% - calc(var(--padding-container-horizontal) * 2));
  }
}
