// Core/gallery block
.editor-styles-wrapper,
.gutenberg-content {
  .wp-block-gallery {
    color: $color-white;
    overflow: hidden;

    figcaption {
      color: $color-white;
      font-size: var(--font-size-small);
      line-height: 1.55;
      margin-bottom: var(--margin-between-text-elements);
      width: 100%;

      @media (max-width: 600px) {
        padding: 0;
      }
    }

    img {
      margin-bottom: 0;
    }

    &.alignwide {
      padding-left: var(--padding-container-horizontal);
      padding-right: var(--padding-container-horizontal);
    }

    &.alignfull {
      max-width: calc(100% - calc(var(--padding-container-horizontal) * 2));
      padding-left: var(--padding-container-horizontal);
      padding-right: var(--padding-container-horizontal);
      width: calc(100% - calc(var(--padding-container-horizontal) * 2));
    }
  }

  .blocks-gallery-grid {
    display: grid;
    padding-left: 0;

    .blocks-gallery-item {
      width: 100%;
    }
  }

  // Loops to enumerate the classes for columns.
  @for $i from 2 through 9 {
    .columns-#{$i} .blocks-gallery-grid {
      grid-column-gap: 3rem;
      grid-template-columns: repeat($i, 1fr);

      @media (max-width: 1000px) {
        grid-template-columns: repeat(3, 1fr);
      }

      @media (max-width: 670px) {
        grid-template-columns: repeat(2, 1fr);
      }
    }
  }

  .blocks-gallery-item > figure figcaption {
    margin-bottom: 0;
  }
}
