// Preformatted text
.wp-block-preformatted {
  @media (max-width: $width-grid-base + 40px) {
    margin-left: var(--padding-container-horizontal);
    margin-right: var(--padding-container-horizontal);
    width: calc(100% - calc(var(--padding-container-horizontal) * 4));
  }
}
