// Core/embed block
.editor-styles-wrapper,
.gutenberg-content {
  .wp-block-embed iframe,
  .wp-block-embed video {
    max-width: 100%;
    width: 100%;
  }
}

.editor-styles-wrapper > *,
.gutenberg-content > * {
  &.wp-block-embed.alignwide,
  &.wp-block-embed.alignfull {
    width: calc(100% - calc(var(--padding-container-horizontal) * 2));
  }
}
