// Core/table block
// Table heading cells
th {
  backface-visibility: hidden;
  background-color: var(--color-scorpion);
  color: var(--color-white);
  font-weight: var(--font-weight-bold);
  overflow: hidden;
  text-align: left;
}

td {
  color: var(--color-black);
}

td,
th,
.wp-block-table td,
.wp-block-table th {
  border: 0;
  font-family: var(--font-paragraph);
  font-size: var(--font-size-14);
  height: 2rem;
  padding: .6rem 1.5rem;
}

tr:nth-child(even) {
  background-color: var(--color-background-table-cell-even);
}

tr:nth-child(odd) {
  background-color: var(--color-background-table-cell-odd);
}

thead,
.wp-block-table thead {
  border: 0;

  th:first-child {
    border-top-left-radius: 8px;
  }

  th:last-child {
    border-top-right-radius: 8px;
  }
}

// Defaults
table {
  --color-background-table-cell-odd: var(--color-white);
  --color-background-table-cell-even: #f3f3f3;
  border-collapse: collapse;
  border-spacing: 0;
}

.wp-block-table {
  @media (max-width: $width-grid-base + 40px) {
    width: calc(100% - calc(var(--padding-container-horizontal) * 2));
  }
}

.wp-block-table.alignfull {
  margin-left: var(--padding-container-horizontal);
  margin-right: var(--padding-container-horizontal);
  width: calc(100% - calc(var(--padding-container-horizontal) * 2));
}

@media (max-width: $width-grid-base + 40px) {
  .wp-block-table.alignwide {
    margin-left: var(--padding-container-horizontal);
    margin-right: var(--padding-container-horizontal);
    width: calc(100% - calc(var(--padding-container-horizontal) * 2));
  }
}
