// Core/embed block
.wp-block-embed iframe,
.wp-block-embed video {
  max-width: 100%;
  width: 100%;
}

@media (max-width: $width-grid-base + 40px) {
  .wp-block-embed.alignwide,
  .wp-block-embed.alignfull {
    width: calc(100% - calc(var(--padding-container-horizontal) * 2));
  }
}

.wp-block-embed.alignfull {
  margin-left: 0;
  margin-right: 0;
  max-width: 100%;
  padding-left: 0;
  padding-right: 0;
  width: 100%;
}
