// Core/blockquote block
blockquote + cite,
blockquote + p > cite {
  margin-bottom: 4rem;
}

// General blockquote styles
blockquote {
  border: 0 none;
  clear: both;
  padding-bottom: 3rem;
  position: relative;

  p {
    color: var(--color-paragraph);
    font-style: normal;
    font-weight: var(--font-weight-semibold);
    margin-bottom: 0;
    overflow: visible;
    position: relative;
  }

  @media (min-width: $container-ipad) {
    margin-top: 4rem;
    padding-bottom: 4rem;
  }
}

.wp-block-quote {
  border-left: 2px solid var(--color-paragraph);
  line-height: var(--line-height-paragraph);
  margin-bottom: 4rem;
  margin-left: auto;
  margin-right: auto;
  margin-top: 4rem;
  padding: 3.5rem 6rem;
  width: calc(100% - 12rem);

  > p {
    color: var(--color-paragraph);
    line-height: var(--line-height-paragraph);
  }

  @media (max-width: $width-max-article + 40px) {
    padding: 3.5rem 2rem;
    width: calc(100% - calc(var(--padding-container-horizontal) * 2));
  }

  @media (max-width: $container-mobile) {
    padding: 4rem 4rem 4rem 2rem;
  }
}

.wp-block-blockquote.alignwide,
.wp-block-blockquote.alignfull {
  padding-left: var(--padding-container-horizontal);
  padding-right: var(--padding-container-horizontal);
  width: calc(100% - calc(var(--padding-container-horizontal) * 2));
}

.wp-block-blockquote blockquote {
  padding-bottom: 0;
}
