// Core/separator block
hr,
.wp-block-separator {
  margin-bottom: calc(var(--margin-between-paragraphs) * 2);
  margin-top: calc(var(--margin-between-paragraphs) * 2);
}

.wp-block-separator.is-style-default {
  max-width: $width-max-article;
}
