// These styles are required by WordPress.org Theme Check
// REQUIRED: .sticky css class is needed in your theme css.
// REQUIRED: .bypostauthor css class is needed in your theme css.
:root {
  --color-border-sticky: #d7e4f2;
  --color-bypostauthor: rgb(42 45 62 / 0.5);
}

.sticky .post-inner {
  border: 2px dashed var(--color-border-sticky);
  margin-bottom: var(--spacing-container-padding-inline);
  padding: var(--spacing-container-padding-inline);
}

.comment-list li.bypostauthor,
.bypostauthor {
  border: 1px dashed var(--color-bypostauthor);
  padding: var(--spacing-container-padding-inline);
}

.blog article:first-of-type {
  margin-top: var(--spacing-block-padding-m);
}

// WordPress captions
// REQUIRED: .wp-caption css class is needed in your theme css.
// REQUIRED: .wp-caption-text css class is needed in your theme css.
.wp-caption {
  max-width: 100%;

  img[class*='wp-image-'] {
    display: block;
    margin: 0 auto;
  }

  .wp-caption-text {
    font-style: italic;
    margin-bottom: 1.25rem;
    padding: 0.625rem 0;
    text-align: left;
  }
}
