// ------------------------------------------------
// WordPress blog & articles view
//
// The styles for most of the TinyMCE produced
// classes and other WordPress editor formatting.
// ------------------------------------------------

// WordPress alignments
.cat-links,
.tags-links {
  display: block;
}

.alignleft {
  display: inline;
  float: left;
  margin-right: 20px;
}

.alignright {
  display: inline;
  float: right;
  margin-left: 20px;
}

.aligncenter {
  clear: both;
  display: block;
  margin: 0 auto;
}

del {
  text-decoration: line-through;
  color: #666;
}

// Gutenberg magic
.container.container-article {
  max-width: $article-max-width;
  margin-top: 0;
  padding-top: 0;
  padding-bottom: 0;
  margin-bottom: 0;
}

.container.container-article article {
  max-width: 100%;
  padding-right: 0;
  padding-left: 0;
  padding-top: 8rem;
  padding-bottom: 0;

  .article--meta-information {
    margin-top: 8rem;

    svg {
      position: relative;
      top: 2px;
      margin-right: 3px;
    }

    a:not(.button) {
      color: $color-darkgrey;
      text-decoration: none;
      text-shadow: 1px 1px 0 #fff, -1px 1px 0 #fff, 2px 0 0 #fff, -2px 0 0 #fff;
      box-shadow: inset 0 -1px 0 0 #fff, inset 0 -2px 0 0 rgba($color-darkgrey, .6);
      transition: all .55s;
      background-image: linear-gradient(to top, $color-darkgrey, $color-darkgrey);
      background-size: 100% 0;
      background-position: left bottom;
      background-repeat: no-repeat;

      &:hover {
        color: #fff;
        text-shadow: none;
        padding-left: 5px;
        padding-right: 5px;
        box-shadow: none;
        background-size: 100% 2.8rem;
        margin-left: -5px;
        margin-right: -5px;
      }
    }
  }

  .article--meta-information p,
  .article--meta-information b,
  .article--meta-information a {
    @include responsive-font(14px, 16px);
    color: $color-darkgrey;
    line-height: 1.77;
  }

  .entry-meta .notification-box {
    border-top: 1px solid rgba($color-darkgrey, .3);
    border-bottom: 1px solid rgba($color-darkgrey, .3);
    padding: 4rem 2rem;
    margin-top: 8rem;

    @media (max-width: 600px) {
      padding: 2rem;
    }

    h2,
    p,
    b {
      @include responsive-font(16px, 21px);
      color: $color-darkgrey;
      margin: 0;
    }
  }

  a:not(.button) {
    @extend %link;
    position: relative;
    color: $color-links;
    transition: all .55s;
    text-decoration: none;
  }

  figcaption,
  cite,
  small {
    @include responsive-font(14px, 16px);
    font-style: normal;
    color: $color-darkgrey;
    border: 0;
    margin-left: auto;
    margin-right: auto;
    text-align: center;
    max-width: $article-max-width;
    padding-bottom: 0;
    margin-top: 4rem;
    margin-bottom: 8rem;

    @media (max-width: $container-mobile) {
      margin-top: 2rem;
    }
  }

  a:hover {
    text-decoration: none;
  }

  p {
    color: $color-black;
    font-weight: $body-weight;
  }

  h1,
  h2,
  h3,
  h4,
  h5,
  .is-style-ingress {
    line-height: 1.22;
  }

  iframe,
  .fb-post,
  small {
    display: block;
  }

  ul,
  li {
    line-height: 1.77;
  }

  .featured-image-single {
    max-width: 920px;
    margin-bottom: 8rem;

    img {
      width: 100%;
      height: auto;
    }
  }

  blockquote {
    margin-left: auto;
    margin-right: auto;
    border-left: 3px solid $color-black;
    margin-top: 4rem;
    margin-bottom: 4rem;
    padding: 4rem;
    max-width: 920px;
    line-height: 1.77;

    cite {
      text-align: left;
    }

    * {
      line-height: 1.77;
    }

    @media (max-width: $container-mobile) {
      padding: 4rem 2rem;
    }

    p {
      @include responsive-font($font-min-size, 24px);
    }
  }

  cite {
    margin-bottom: 8rem;
  }

  ul,
  ol {
    padding-left: 2.2rem;
  }

  div[style="width: 640px;"],
  .wp-video {
    width: 100% !important;
    max-width: $article-max-width !important;
    margin-left: auto !important;
    margin-right: auto !important;
  }

  > * {
    max-width: $article-max-width;
    width: 100%;
    margin-left: auto;
    margin-right: auto;
    line-height: 1.77;

    &.wp-block-image {
      margin-top: 4rem;
      margin-bottom: 4rem;

      .entry-photo {
        margin: 0;
      }

      .entry-photo img {
        max-width: 100%;
        width: 100%;
        height: auto;
      }
    }

    &.twitter-tweet,
    &.instagram-media,
    &.wp-video {
      width: 100% !important;
      max-width: $article-max-width !important;
      margin-left: auto !important;
      margin-right: auto !important;

      @media (max-width: 800px) {
        padding-left: 4rem !important;
        padding-right: 4rem !important;
      }

      @media (max-width: 480px) {
        padding-left: 2rem !important;
        padding-right: 2rem !important;
      }
    }

    &.entry-title {
      @include responsive-font(42px, 90px);
      max-width: 1000px;
      line-height: 1;
      text-align: center;
      margin-bottom: 0;
      margin-top: 8rem;

      @media (max-width: 600px) {
        margin-top: 0;
      }

      svg {
        margin-left: 5px;
      }
    }

    &.entry-meta {
      text-align: center;
      margin-bottom: 9rem;
      max-width: 800px;

      @media (max-width: $container-mobile) {
        margin-bottom: 8rem;
      }

      p {
        @include responsive-font(16px, 19px);
        margin-top: 2rem;
        opacity: .8;

        @media (max-width: $container-mobile) {
          font-size: 15px;
        }
      }

      @media (max-width: $container-mobile) {
        .reading-time {
          display: block;
        }

        .reading-time .dot-divider {
          display: none;
        }
      }
    }

    &.wp-block-gallery {
      overflow: hidden;
      color: $color-white;

      figcaption {
        width: 100%;
        color: $color-white;
        font-size: 14px;
        padding: 2rem;
        line-height: 1.55;
      }

      img {
        margin-bottom: 0;
      }
    }

    &.alignwide {
      width: 100%;
      margin-top: 4rem;
      margin-bottom: 4rem;
      padding-left: 4rem;
      padding-right: 4rem;

      @media (min-width: 870px) {
        max-width: 85vw;
        padding-left: 0;
        padding-right: 0;
      }

      @media (max-width: $container-mobile) {
        padding-left: 2rem;
        padding-right: 2rem;
      }
    }

    &.alignfull {
      max-width: 100%;
      width: 100%;
      margin-top: 8rem;
      margin-bottom: 8rem;
    }
  }

  @media (min-width: 1170px) {
    // Big photos
    .entry-photo {
      max-width: 100%;
      text-align: center;
      margin-top: 8rem;
      margin-bottom: 8rem;

      img {
        max-width: 70%;
        margin: 0 auto;
      }
    }

    small[style="text-align: center;"] {
      width: 100%;
      max-width: 100%;
      display: block;
      margin-bottom: 8rem;
      margin-top: -4rem;
    }
  }
}

// Required sticky class
.sticky {
  background-color: #fafafa;
  border: 1px solid #e0e0e0;
  padding: 3rem;
}

// Required post author comment
.comments-area .comment-list li.bypostauthor {
  background-color: #fff6e8;
  padding: 3rem;
}

// WordPress captions
.wp-caption {
  max-width: 100%;

  img[class*="wp-image-"] {
    display: block;
    margin: 0 auto;
  }

  .wp-caption-text {
    text-align: left;
    font-style: italic;
    padding: 1rem 0;
    margin-bottom: 20px;
  }
}

.entry-content {
  margin-bottom: 2em;

  p {
    line-height: 1.77;
  }

  // Embeds
  embed,
  iframe,
  object,
  video {
    max-width: 100%;
  }

  // Don't add extra margin on top of first title
  h1,
  h2,
  h3,
  h4,
  h5,
  h6 {
    &:first-child {
      margin-top: 0;
    }
  }
}

// Tables, codes and pres
table {
  border-spacing: 0;
  border-collapse: collapse;
}

td,
th {
  font-family: $font-base;
  height: 3rem;
  padding: 1rem;

  @media (max-width: 600px) {
    @include stack();
    display: inline-block;
    height: auto;
    padding: 10px 0;
    text-align: center;
  }
}

// Table heading cells
th {
  font-weight: 700;
}

abbr[title] {
  border-bottom: 1px dotted;
}

b,
strong {
  font-weight: bold;
}

dfn {
  font-style: italic;
}

kbd {
  border: 1px solid #ccc;
  font-family: Arial, Helvetica, sans-serif;
  background-color: #f7f7f7;
  color: #333;
  box-shadow: 0 1px 0 rgba(#000, .2), 0 0 0 2px #fff inset;
  border-radius: 4px;
  display: inline-block;
  text-shadow: 0 1px 0 #fff;
  line-height: 1.4;
  white-space: nowrap;
  padding: 0 .5rem;
}

pre {
  display: block;
  padding: 9.5px;
  margin: 0 0 .625rem;
  color: #333;
  word-break: break-all;
  word-wrap: break-word;
  background-color: #f5f5f5;
  border: 1px solid #ccc;
  border-radius: 4px;
  overflow: auto;

  &.debug {
    font-size: 11px;
    line-height: 1.5;
  }

  code {
    padding: 0;
    font-size: inherit;
    color: inherit;
    white-space: pre-wrap;
    background-color: transparent;
    border-radius: 0;
  }
}

// Taxonomies
.taxonomy-description {
  margin-bottom: 2rem;
}

.post {
  margin-bottom: 30px;
}

.entry-header {
  .entry-title {
    margin-bottom: .1em;

    a {
      color: $color-links;
      &:hover {
        color: $color-hover;
      }
    }
  }
}

.entry-meta {
  * {
    color: $color-darkgrey;
  }
  margin-bottom: 1em;
}

p.entry-time {
  margin-bottom: .1em;
}

.cat {
  margin-top: 0;
  margin-bottom: 10px;
}

ul.tags {
  overflow: hidden;
  margin: 0;
  padding: 0;
  padding-left: 0;

  li {
    margin-left: 0;
    margin-right: 10px;
    margin-bottom: 10px;
    padding-left: 0;
    display: inline-block;
    float: left;
    margin-top: 0;

    a {
      font-size: 1.2rem;
      color: #333;
      padding: .5rem 1rem;
      display: inline;
      border-radius: 4px;
      background: #f0f0f0;
      opacity: .8;
    }

    a:hover {
      color: #fff;
      background: #aaa;
      opacity: 1;
    }
  }
}

.comments-link {
  @extend %small;
  text-align: right;
  display: block;

  svg {
    fill: #777;
    position: relative;
    top: 1px;
    margin-right: 2px;
  }

  &:hover,
  &:focus {
    color: #111;

    a,
    a:link,
    a:visited,
    svg {
      color: #111;
      fill: #111;
    }
  }
}

.entry-footer {
  margin-top: 0;
  margin-bottom: 0;

  a {
    color: $color-darkgrey;

    &:hover {
      color: $color-links;
      text-decoration: none;
    }
  }
}

// Posts and comments navigation
.site-main .comment-navigation,
.site-main .posts-navigation,
.site-main .post-navigation {
  @include clearfix;
  margin: 1.5em 0;
  overflow: hidden;
}

.comment-navigation .nav-previous,
.posts-navigation .nav-previous,
.post-navigation .nav-previous {
  float: left;
  width: 50%;
}

.comment-navigation .nav-previous a:before,
.posts-navigation .nav-previous a:before,
.post-navigation .nav-previous a:before {
  content: '← ';
}

.comment-navigation .nav-next,
.posts-navigation .nav-next,
.post-navigation .nav-next {
  float: right;
  text-align: right;
  width: 50%;
}

.comment-navigation .nav-next a:after,
.posts-navigation .nav-next a:after,
.post-navigation .nav-next a:after {
  content: ' →';
}
