// ------------------------------------------------
// Front page
//
// The most important page on the website goes here.
// You can force the styles by defining them inside
// the body.
// ------------------------------------------------

body {
  #page {
    .site-content {
      .slide {
        &.slide-front {
          background-position: center;
          background-color: #e9e9e9;
          position: relative;
          min-height: 300px;

          .container {
            padding-top: 30vh;
            padding-bottom: 30vh;
            position: relative;
            z-index: 10;

            @media(max-width: $container-mobile) {
              padding-top: 150px;
              padding-bottom: 100px;
            }

            @media(max-height: $container-mobile) {
              padding-top: 150px;
              padding-bottom: 100px;
            }            

            h1 {
              color: #fff;
              text-align: center;
              margin: 0;
              padding: 0;
            }
          }
        }

        &.slide-front-content {
          background: #fff;
        }
      }
    }
  }
}
