// ------------------------------------------------
// Front page
//
// The most important page on the website goes here.
// You can force the styles by defining them inside
// the body.
// ------------------------------------------------
