// Basic front-page slide layout
.slide {
  &.slide-front {
    background-position: center;
    background-color: #e9e9e9;
    position: relative;

    @media(min-width: $container-mobile) {
      max-height: 700px;
      height: 60vh;
    }

    .container {
      padding-top: 150px;

      h1 {
        color: #fff;
        text-align: center;
      }

      @media(min-width: $container-mobile) {
        @include vertical-align();
        padding-top: 6rem;
      }
    }
  }
}
