.article-content .categories,
.article-content .tags,
.categories,
.tags {
  display: flex;
  flex-wrap: wrap;
  list-style: none;
  list-style-type: none;
  padding-inline-start: 0;
}

.categories,
.article-content .categories {
  gap: 1.2rem;
}

.categories a {
  background-color: var(--color-valhalla);
  border-radius: 3rem;
  color: var(--color-white);
  display: inline-block;
  font-size: var(--font-size-14);
  margin: 0;
  padding: .5rem 1.5rem;
  transition: all $transition-duration;
}

.categories a:hover,
.categories a:focus {
  background-color: var(--color-black);
  color: var(--color-white);
}

.article-content .tags,
.tags {
  display: flex;
  flex-wrap: wrap;
  gap: .5rem;
  margin-bottom: var(--margin-between-text-elements);
  margin-top: 0;

  // stylelint-disable a11y/font-size-is-readable
  a {
    background-color: transparent;
    border: 1px solid var(--color-black);
    border-radius: 3rem;
    box-shadow: none;
    color: var(--color-black);
    display: inline-block;
    font-size: 12px;
    margin-right: .4em;
    padding: .1em .8em;
    transition: all $transition-duration;
    white-space: nowrap;
  }

  a:hover,
  a:focus {
    background-color: var(--color-black);
    border-color: var(--color-black);
    color: var(--color-white);
  }
}

// Next/Previous single post navigation
.post-navigation .nav-links {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}
