.post {
  .entry-header {
    .entry-title {
      margin-bottom: .1em;

      a {
        color: $color-body;
      }
    }
  }

  .entry-content {
    margin-bottom: 2em;
  }

  .entry-meta {
    * {
      color: $color-darkgrey;
    }

    .entry-time {
      margin-bottom: 1.5em;
    }
  }

  .entry-footer {
    margin-top: 0;
    margin-bottom: 0;

    .cat {
      margin-top: 0;
      margin-bottom: 10px;

      a {
        @include responsive-font(1.2vw, 14px, 17px);
      }
    }

    a {
      color: #777;

      &:hover {
        color: #111;
      }
    }

    .comments-link {
      @include responsive-font(1.2vw, 14px, 17px);
      text-align: right;
      display: block;

      svg {
        fill: #777;
        position: relative;
        top: 1px;
        margin-right: 2px;
      }

      &:hover,
      &:focus {
        color: #111;

        a,
        a:link,
        a:visited,
        svg {
          color: #111;
          fill: #111;
        }
      }
    }

    .tags {
      overflow: hidden;
      margin: 0;
      padding: 0;
      padding-left: 0;

      li {
        @include responsive-font(1.2vw, 10px, 13px);
        margin-left: 0;
        margin-right: 10px;
        margin-bottom: 10px;
        padding-left: 0;
        display: inline-block;
        float: left;
        margin-top: 0;

        a {
          transition: all .6s;
          padding: 6px 10px 4px;
          display: inline-block;
          border-radius: 4px;
          background: #f0f0f0;
          opacity: .8;

          &:hover {
            color: #111;
            background: #ddd;
            opacity: 1;
          }
        }
      }
    }
  }
}
