// Transition duration and animations
$transition-duration: 150ms;

// Mixins
@mixin cubic-bezier($property: color, $duration: .18s) {
  transition: $property $duration cubic-bezier(.19, 1, .22, 1);
}

// Possible keyframes here
// @keyframes
