// Helpers
//
// Mixins and other essentials for global theme development.

// General
@mixin hiddentext() {
  display: block;
  font-size: 0;
  overflow: hidden;
  text-align: start;
  text-decoration: none;
  text-indent: -9999px;
}

@function strip-unit($value) {
  @return $value / ($value * 0 + 1);
}
