// Styling background-images
.image-background > img {
  height: 100%;
  left: 0;
  object-fit: cover;
  position: absolute;
  top: 0;
  width: 100%;
  z-index: 0;
}

.image-background {
  overflow: hidden;
  position: relative;
}
