/**
 * Typography helpers
 */

// Helper mixin for self-hosted fonts
@mixin fontFace($family, $src, $weight: normal, $style: normal) {
  @font-face {
    font-family: $family;
    font-display: auto;
    src: url('#{$src}.eot');
    src: url('#{$src}.eot?#iefix') format('embedded-opentype'), url('#{$src}.woff') format('woff'), url('#{$src}.woff2') format('woff2'), url('#{$src}.ttf') format('truetype'), url('#{$src}.svg##{$family}') format('svg');
    font-style: $style;
    font-weight: $weight;
  }
}

// Responsive fonts
@mixin responsive-font($min-font-size, $max-font-size, $min-vw: 320px, $max-vw: 1920px) {
  $u1: unit($min-vw);
  $u2: unit($max-vw);
  $u3: unit($min-font-size);
  $u4: unit($max-font-size);

  @if $u1 == $u2 and $u1 == $u3 and $u1 == $u4 {
    font-size: $min-font-size;

    @media screen and (min-width: $min-vw) {
      font-size: calc(#{$min-font-size} + #{strip-unit($max-font-size - $min-font-size)} * ((100vw - #{$min-vw}) / #{strip-unit($max-vw - $min-vw)}));
    }

    @media screen and (min-width: $max-vw) {
      font-size: $max-font-size;
    }
  }
}

// Special link styles for example in blog posts, use with @include
@mixin link() {
  color: #111;
  text-decoration: none;
  text-shadow: 1px 1px 0 #fff, -1px 1px 0 #fff, 2px 0 0 #fff, -2px 0 0 #fff;
  box-shadow: inset 0 -1px 0 0 #fff, inset 0 -2px 0 0 rgba(#111, .6);
  transition: all .55s;
  background-image: linear-gradient(to top, #111, #111);
  background-size: 100% 0;
  background-position: left bottom;
  background-repeat: no-repeat;

  &:hover {
    color: #fff;
    text-shadow: none;
    padding-left: 5px;
    padding-right: 5px;
    box-shadow: none;
    background-size: 100% 2.8rem;
    margin-left: -5px;
    margin-right: -5px;
  }
}

// Preset for small fonts, use with @extend
%small {
  @include responsive-font(14px, 17px);
}

%extrasmall {
  @include responsive-font(12px, 14px);
}

// Default font stylings
%default {
  @include responsive-font($font-min-size, $font-max-size);
  letter-spacing: -.003em;
  line-height: $line-height;
}

// Define heading scales
// Current: Perfect fourth: https://type-scale.com/
$heading_typescale: medium;

// Defaults are null
$h1_min: null;
$h1_max: null;
$h2_min: null;
$h2_max: null;
$h3_min: null;
$h3_max: null;
$h4_min: null;
$h4_max: null;
$h5_min: null;
$h5_max: null;
$h6_min: null;
$h6_max: null;

@if $heading_typescale == 'large' {
  $h1_min: 32px;
  $h1_max: 67px;
  $h2_min: 24px;
  $h2_max: 51px;
  $h3_min: 21px;
  $h3_max: 38px;
  $h4_min: 18px;
  $h4_max: 28px;
  $h5_min: 14px;
  $h5_max: 28px;
  $h6_min: 14px;
  $h6_max: 21px;
}

@if $heading_typescale == 'medium' {
  $h1_min: 32px;
  $h1_max: 51px;
  $h2_min: 24px;
  $h2_max: 38px;
  $h3_min: 21px;
  $h3_max: 28px;
  $h4_min: 18px;
  $h4_max: 21px;
  $h5_min: 14px;
  $h5_max: 17px;
  $h6_min: 14px;
  $h6_max: 12px;
}

@if $heading_typescale == 'small' {
  $h1_min: 28px;
  $h1_max: 38px;
  $h2_min: 21px;
  $h2_max: 28px;
  $h3_min: 20px;
  $h3_max: 21px;
  $h4_min: 16px;
  $h4_max: 18px;
  $h5_min: 16px;
  $h5_max: 18px;
  $h6_min: 14px;
  $h6_max: 16px;
}

%h1 {
  @include responsive-font($h1_min, $h1_max);
}

%h2 {
  @include responsive-font($h2_min, $h2_max);
}

%h3 {
  @include responsive-font($h3_min, $h3_max);
}

%h4 {
  @include responsive-font($h4_min, $h4_max);
}

%h5 {
  @include responsive-font($h5_min, $h5_max);
}

%h6 {
  @include responsive-font($h6_min, $h6_max);
}