/**
 * The following styles get applied both on the front of your site
 * and in the editor.
 *
 * @package air-light
 */

.wp-block-air-light-latest-articles {
  // This is important, because wp core applies html :where(.wp-block) to 840px
  max-width: 100%;

  h2 {
    color: var(--color-heading);
  }

  h3 {
    font-size: var(--typography-size-h4);
    line-height: 1.23;
    margin: 0 0 1rem;
  }

  h3 a {
    color: var(--color-heading);
    text-decoration: none;
  }

  .items {
    display: grid;
    gap: var(--spacing-grid-gap);
    grid-template-columns: repeat(3, minmax(0, 1fr));

    @media (max-width: 1024px) {
      grid-template-columns: repeat(1, minmax(0, 1fr));
    }
  }

  .item {
    background-color: var(--color-black);
    display: flex;
    flex-wrap: wrap;
    position: relative;
    transition: all 0.3s ease-in-out;
  }

  // 3D effect
  .item:hover,
  .item:focus {
    transform: perspective(62.5rem) rotateX(10deg) rotateY(10deg);
  }

  img {
    display: block;
    filter: grayscale(100%);
    height: auto;
    image-rendering: pixelated;
    opacity: 0.7;
    transition: all 0.3s ease-in-out;
    width: 100%;
  }

  .global-link:hover + .image img,
  .global-link:focus + .image img {
    opacity: 1;
  }

  .content {
    padding: var(--spacing-text-margin-block);
    width: 100%;

    @media (max-width: 500px) {
      --spacing-text-margin-block: 2rem;
    }
  }

  .content * {
    color: var(--color-white);
  }

  p {
    font-size: var(--typography-size-14);
    line-height: 1;
    margin-bottom: auto;
    margin-top: 0;
  }
}
