/**
 * The following styles get applied both on the front of your site
 * and in the editor.
 *
 * @package air-light
 */

.wp-block-air-light-latest-articles {
  // This is important, because wp core applies html :where(.wp-block) to 840px
  max-width: 100%;

  h2 a {
    color: var(--color-heading);
    font-size: var(--typography-h3-size);
  }

  .items {
    display: grid;
    gap: var(--spacing-grid-gap);
    grid-template-columns: repeat(3, 1fr);
  }

  .item {
    border: 2px solid var(--color-black);
    display: grid;
    gap: 0.3125rem;
    padding: var(--spacing-text-margin-block);
  }

  h3,
  p {
    line-height: 1.4;
    margin: 0;
  }
}
