// Site navigation mobile layout
// The main layout for the website navigation, for the mobile version only.

// Main level settings
$absolute-navigation-mobile: true;
$color-background-nav-mobile-header: $color-main;
$color-background-nav-mobile-layer: $color-white;
$color-current-mobile: $color-links;
$color-hamburger-active: $color-white;
$color-hamburger: $color-white;
$color-active-main-level-mobile: $color-links;
$color-main-level-mobile: $color-black;
$color-separator-nav-mobile: #f0f0f0;
$font-weight-main-level-mobile: 600;
$height-navigation-mobile: 80px;

// Sub menu settings
$color-sub-menu-mobile: #555;
$font-weight-sub-menu-mobile: 600;

// Settings for jonsuh/hamburgers
$hamburger-padding-x: 1.5rem;
$hamburger-padding-y: 4rem;
$hamburger-layer-width: 3rem;
$hamburger-layer-height: .2rem;
$hamburger-layer-spacing: .5rem;
$hamburger-layer-color: $color-hamburger;
$hamburger-layer-border-radius: 0;
$hamburger-hover-opacity: .8;
$hamburger-hover-transition-duration: .15s;
$hamburger-hover-transition-timing-function: linear;
$nav-open-from-direction: top;

// CSS variables
// These can be adjusted with media queries for in-between breakpoints
:root {
  // Main level CSS vars
  --font-size-main-level-mobile: 17px;
  --font-size-sub-menu-mobile: 17px;

  // Sub menu CSS vars
  --padding-sub-menu-vertical-mobile: 1.2rem;
  --padding-sub-menu-horizontal-mobile: 2.5rem;
  --margin-left-sub-menu: 1rem;
}

// Init Tasty Hamburger navigation toggle
@import 'hamburgers/_sass/hamburgers/hamburgers';

// Init hamburger animation
// Choose from animations: https://jonsuh.com/hamburgers/
.hamburger {
  @extend .hamburger--collapse;
}

// Navigation core functionality
@media only screen and (max-width: $width-max-mobile) {
  // Functionality needs display: none here for visual reasons
  /* stylelint-disable a11y/no-display-none */
  .js .menu-items ul {
    display: none;
  }
  /* stylelint-enable */
}

@media only screen and (max-width: $width-max-mobile) {
  .js ul .sub-menu.toggled-on {
    display: block;
  }
}

// Let's ensure site-header loads properly and doesn't leave empty spaces
@media (max-width: $width-max-mobile) {
  .nav-container {
    @if $absolute-navigation-mobile == false {
      background-color: $color-background-nav-mobile-header;
      position: relative;
      z-index: 222;
    }

    @if $absolute-navigation-mobile == true {
      background-color: transparent;
      position: absolute;
      width: 100%;
    }
  }
}

// Mobile styles
@media screen and (max-width: $width-max-mobile - 1px) {
  // General navigation resets for mobile
  .site-header ul,
  .site-header li,
  .site-header a {
    position: relative;
  }

  .main-navigation-wrapper {
    order: 6;
    z-index: 999;
  }

  // Users that don't have Javascript enabled
  .no-js .site-header {
    background: $color-background-nav-mobile-header;
    position: static;
  }

  // Disable scroll on html body when menu is opened.
  .disable-scroll {
    overflow: hidden;
  }

  .nav-primary {
    display: block;
    height: 100vh;
    margin: 0;
    opacity: 0;
    overflow: auto;
    pointer-events: none;
    transition: all $transition-duration ease-in-out;
    visibility: hidden;
    width: 100vw;
  }

  .menu-items {
    margin: 0;
    opacity: 0;
    padding: 2rem 0;
    width: 100%;
  }

  // Main level mobile navigation links
  .menu-item a {
    border-top: 1px solid $color-separator-nav-mobile;
    color: $color-main-level-mobile;
    display: block;
    font-size: var(--font-size-main-level-mobile);
    font-weight: $font-weight-main-level-mobile;
    margin-left: 0;
    margin-right: 0;

    // We have color here, so it's okay to remove outline
    outline: 0;
    padding-bottom: var(--padding-sub-menu-vertical-mobile);
    padding-left: var(--padding-sub-menu-horizontal-mobile);
    padding-right: var(--padding-sub-menu-horizontal-mobile);
    padding-top: var(--padding-sub-menu-vertical-mobile);
    position: relative;
    text-decoration: none;
    z-index: 0;
  }

  // Sub menu items
  .sub-menu a {
    color: $color-sub-menu-mobile;
    font-size: var(--font-size-sub-menu-mobile);
    font-weight: $font-weight-sub-menu-mobile;
    padding-left: calc(var(--padding-sub-menu-horizontal-mobile) + var(--margin-left-sub-menu));
  }

  .sub-menu .sub-menu {
    margin-left: var(--margin-left-sub-menu);
  }

  .menu-item a:hover,
  .menu-item a:focus {
    color: $color-active-main-level-mobile;
  }

  // Current menu item color
  .menu-item.current-menu-parent > a,
  .menu-item.current-menu-item > a {
    color: $color-current-mobile;
  }

  // Dropdown toggle
  .dropdown-toggle {
    background: transparent;
    background-image: url('../svg/mobile-nav-arrow-down.svg');
    background-position: center;
    background-repeat: no-repeat;
    background-size: 12px 7px;
    border: 0;
    height: auto;
    left: auto;
    margin-top: var(--padding-sub-menu-vertical-mobile);
    overflow: hidden;
    padding-bottom: var(--padding-sub-menu-vertical-mobile);
    padding-left: var(--padding-sub-menu-horizontal-mobile);
    padding-right: var(--padding-sub-menu-horizontal-mobile);
    padding-top: var(--padding-sub-menu-vertical-mobile);
    position: absolute;
    right: 1rem;
    top: 2px;
    transform: rotate(0);
    transition: all $transition-duration;
    width: 12px;
    z-index: 9999;
  }

  .dropdown-toggle:focus {
    z-index: 10000;
  }

  // Hide desktop toggles
  // Need to use display: none here to make sure there are visually no double toggles
  /* stylelint-disable a11y/no-display-none */
  .dropdown-toggle svg {
    display: none;
  }
  /* stylelint-enable */

  .dropdown-toggle.toggled-on {
    background-color: transparent;
    cursor: pointer;
    transform: rotate(-180deg);
  }

  // Mobile navigation core functionality
  .js .nav-primary {
    left: 0;
    // Hide mobile navigation by default while enabling use of animations
    position: fixed;

    // Default position, some browsers need this
    top: $height-navigation-mobile;
    z-index: 5;

    .menu-items {
      background: $color-background-nav-mobile-layer;

      // Let's keep the content always full height
      height: 100vh;
      padding: 0;
    }
  }

  // Ensure nav stays in the same position when activated
  .js.js-nav-active {
    overflow: hidden;

    .nav-primary {
      opacity: 1;
      pointer-events: all;
      visibility: visible;
    }

    .menu-items {
      opacity: 1;
    }
  }
}

// Hamburger menu icon specific
.hamburger.is-active .hamburger-inner,
.hamburger.is-active .hamburger-inner::before,
.hamburger.is-active .hamburger-inner::after {
  background: $color-hamburger-active;
  color: $color-hamburger-active;
}

.nav-toggle {
  background: transparent;
  border: 0;
  color: $color-hamburger;
  cursor: pointer;
  font-weight: 700;
  margin: 0 -2rem 0 0;
  overflow: visible;
  padding: 2rem;
  position: relative;
  text-decoration: none;
  top: 0;
  user-select: none;
  z-index: 100000;

  // Modern stuff (::after is first line, without ::after is first)
  &:not(.toggled-on) .hamburger-inner {
    transition: width $transition-duration;
    width: 18px;
  }

  &.is-active .hamburger-inner,
  &:hover .hamburger-inner,
  &:focus .hamburger-inner {
    width: $hamburger-layer-width;
  }

  span {
    color: $color-hamburger;
    font-size: 1.2em;
  }

  &.is-active span {
    color: $color-hamburger-active;
  }

  &:hover,
  &:active {
    color: $color-hamburger;

    span {
      color: $color-hamburger;
    }
  }

  // Alternative focus for mobile nav
  &:focus {
    span span {
      background-color: $color-hamburger;
    }

    span span::before,
    span span::after {
      background-color: $color-hamburger;
    }
  }

  // We already have aria-label for button
  // But we want to show nav-toggle visually for seeing users
  // So we'll add has-visible-label to nav-toggle in header.php
  /* stylelint-disable a11y/no-display-none */
  &:not(.has-visible-label) .nav-toggle-label {
    display: none;
  }
  /* stylelint-enable */

  @media (max-width: $width-max-mobile - 1px) {
    display: block;

    &.has-visible-label {
      align-items: center;
      display: flex;
    }

    &.has-visible-label .nav-toggle-label {
      font-size: var(--font-size-nav-toggle-label);

      // Hide on smallest phones
      @media (max-width: 410px) {
        display: none;
      }
    }

    @media (min-width: 411px) {
      .hamburger-box {
        margin-right: 2rem;
      }
    }
  }

  // Separate active colors for opened state
  &.is-active {
    color: $color-hamburger-active;
  }

  &.is-active .hamburger-box {
    .hamburger-inner {
      background-color: $color-hamburger-active;
    }

    .hamburger-inner::after {
      background-color: $color-hamburger-active;
    }
  }

  &.is-active .focus,
  &.is-active span:focus {
    .hamburger-inner {
      background-color: $color-hamburger-active;
    }

    .hamburger-inner::after {
      background-color: $color-hamburger-active;
    }
  }

  &.is-active span:focus,
  &.is-active span:hover,
  &.is-active span:active {
    color: $color-hamburger-active;

    span {
      color: $color-hamburger-active;
    }
  }
}
