@charset 'utf-8';
@import 'burger';

//! responsive-nav.js 1.0.39 by @viljamis
// sassified by @rolle
.nav-toggle {
  margin-left: 0;
  list-style: none;
  display: block;
  z-index: 100000;
  -webkit-tap-highlight-color: rgba(#000, 0);
  border: 0;
  color: $color_navigation_toggle;
  font-size: $font_size_navigation;
  font-weight: bold;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-touch-callout: none;
  user-select: none;
  text-decoration: none;
  position: relative;
  overflow: hidden;
  float: right;
  line-height: 39px;
  padding: 0 .75em;
  background: transparent;

  span {
    color: $color_navigation_toggle;
  }

  &:hover,
  &:focus,
  &:active {
    color: $color_navigation_toggle_hover;
    background: rgba(#fff, .12);

    span {
      color: $color_navigation_toggle_hover;
    }
  }

  @media (min-width: $responsivenav) {
    display: none;
  }

  @media(max-width: ($responsivenav)-1px) {
    width: auto;
    float: right;
    top: 30px;
    right: 20px;
    position: relative;
  }

  .burger-icon {
    @include burger(20px, 3px, 3px, $color_navigation_toggle);
    float: left;
    margin-top: 18px;
    margin-right: 10px;
  }

  &.active .burger-icon {
    @include burger-to-cross;
  }
}

button {
  appearance: button;
  cursor: pointer;
}

// Responsive and accessible navigation start
.js {
  .nav-collapse {
    clip: rect(0 0 0 0);
    max-height: 0;
    position: absolute;
    display: block;
    overflow: hidden;
    zoom: 1;

    .dropdown {
      ul {
        max-height: 100%;
        overflow: visible;
      }
    }

    @media screen and (min-width: $responsivenav) {
      position: relative;
      max-height: none;
      overflow: visible;

      // Accessible hover/focus
      .dropdown:hover,
      li.focus {

        ul {
          max-height: 500px; // 100% won't work here, so we need fixed height
          overflow: visible;
        }
      }

      .dropdown {
        ul {
          max-height: 0;
          overflow: hidden;
        }
      }
    }

    @media screen and (max-width: ($responsivenav)-1px) {
      visibility: visible;

      &.opened {
        visibility: visible;
      }

      &.multiple-level-nav.opened.dropdown-active {
        &.opened.dropdown-active {
          max-height: 9999px !important; // Enable active class to let the navigation expand over the calculated max height.
        }
      }

      &.multiple-level-nav .sub-menu {
        clip: rect(0 0 0 0);
        max-height: 0;
        position: absolute;
        overflow: hidden;
        visibility: hidden;
        zoom: 1;
        transition: all 2s;

        &.toggled {
          max-height: 9999px;
          position: relative;
          visibility: visible;
        }
      }

      li {
        position: relative;
      }

      .dropdown-toggle {
        border: 0;
        color: $color_navigation_text;
        content: '';
        height: 46px;
        width: 46px;
        padding: 0;
        position: absolute;
        margin: 0;
        text-transform: lowercase;
        top: 6px;
        right: 10px;
        background: transparent;

        &.toggled:after {
          content: '-';
        }

        &:hover,
        &:focus,
        &:active {
          background-color: $color_dropdown_hover_bg;
          color: $color_dropdown_hover_text;
        }

        &:after {
          content: '+';
          font-size: 20px;
        }
      }
    }
  }
}

.nav-collapse {
  user-select: none;
  list-style: none;
  width: 100%;
  float: left;

  &.opened {
    max-height: 9999px;
  }

  ul {
    margin-bottom: 0;
    margin-top: 0;
    margin-left: 0;
    margin-right: 0;
    padding: 0;
    display: block;
    list-style: none;
    width: 100%;
    float: left;

    // No hover background on the first level
    &:first-child {
      li a {
        background: $color_navigation_bg;

        &:hover {
          color: $color_navigation_first_level_text_hover;
        }
      }
    }

    @media screen and (min-width: $responsivenav) {
      width: auto;
      position: relative;

      // Depth: .nav-collapse ul li
      li {
        &:hover > ul,
        li:focus > ul,
        &.focus > ul {
          top: 55px;
          left: 38%;
          margin-left: -75px;

          // Animate:
          opacity: 1;
        }
      }

      // Depth: .nav-collapse ul ul
      ul {
        float: left;
        margin: 0;
        position: absolute;
        text-align: center;

        // Without out-animation:
        // top: 85px;
        // left: -999em;
        // z-index: 99999;

        // With out animation:
        top: 55px;
        left: 38%;
        margin-left: -75px;

        // Animate:
    		transition-property: opacity, visibility;
    		transition-duration: .25s, 0s;
    		transition-delay: .25s, .25s;
    		transition: opacity .3s ease-in-out, top .3s ease-in-out;
        opacity: 0;

        li:hover > ul,
        li:focus > ul,
        li.focus > ul {
          top: 0;
          left: 0%;
          margin-left: $dropdown-width;

          // Animate:
          opacity: 1;
        }

        a {
          padding: $list_padding;
          white-space: normal;
          width: $dropdown-width;
        }

        // Depth: .nav-collapse ul ul ul
        ul {
          left: -999em;
          top: 20px;

          li:hover > ul,
          li:focus > ul,
          li.focus > ul {
            top: 0;
            left: 0%;
            margin-left: $dropdown-width;

            // Animate:
            opacity: 1;
        		visibility: visible;
          }
        }
      }
    }
  }

  li {
    display: block;
    float: left;
    width: 100%;

    @media (min-width: $responsivenav) {
      border: 0;
      display: inline-block;
      height: 55px;
      line-height: 55px;
      position: relative;

      // Dropdown toggles
      &.menu-item-has-children,
      &.page_item_has_children {

        > a {
          padding-right: 2rem;

          &:after {
            content: '\f107';
            display: inline-block;
            font-family: FontAwesome;
            font-size: .8rem;
            position: absolute;
            right: 12px;
            top: 2px;
            padding-right: .2rem;
            vertical-align: text-bottom;
          }
        }
      }

      li {
        @media (min-width: $responsivenav) {
          max-width: $dropdown-width;
          border: 0;
          display: block;
          height: auto;
          line-height: 1.0909090909;
        }

        &.menu-item-has-children,
        &.page_item_has_children {
          > a {
            padding-right: 2rem;

            &:after {
              content: '\f105';
              top: 18px;
              padding-right: .2rem;
            }
          }
        }
      }
    }

    @media screen and (min-width: $responsivenav) {
      width: auto;
    }

    &.focus > a {
      background-color: $color_navigation_hover;
    }
  }

  a {
    background: $color_navigation_bg;
    color: $color_navigation_text;
    float: left;
    padding: .9em 1.1em;
    text-decoration: none;
    width: 100%;
    font-size: $font_size_navigation;

    @media screen and (min-width: $responsivenav) {
      border-bottom: 0;
      padding: 1em 1.5em;
      margin: 0;
      float: left;
      text-align: center;
      display: inline-block;
      padding: 0 16px;
    }

    &:hover {
      background-color: $color_navigation_hover;
    }
  }

  .dropdown {
    @media screen and (min-width: $responsivenav) {
      position: relative;

      li {
        width: 100%;
      }
    }

    ul {
      margin-bottom: 0;
      background: $color_dropdown_bg;

      @media(min-width: $responsivenav) {
        border-radius: $dropdown_border_radius;
      }

      li {
        a {
          color: $color_dropdown_text;
          padding-left: 1.5em;

          &:focus,
          &:hover,
          &:active {
            background: $color_dropdown_hover_bg;
            color: $color_dropdown_hover_text;

            @media(min-width: $responsivenav) {
              border-radius: $dropdown_border_radius;
            }
          }

          @media screen and (min-width: $responsivenav) {
            text-align: left;
            border: 0;
          }
        }
      }

      ul {
        border: 0;
        padding: 0;
      }
    }

    &.opened .has-dropdown {
      background: #9c2c12;
    }
  }

  @media screen and (min-width: $responsivenav) {
    .dropdown-toggle {
      display: none;
    }
  }
}
