// ---------------------------------------------------------
// Site navigation mobile layout
//
// The main layout for the website navigation, for the mobile
// version only.
// -----------------------------------------------------------
$nav-toggle-color: #fff;
$nav-toggle-active-color: #fff;

@charset 'utf-8';
@import 'burger';

// Mobile styles
@media screen and (max-width: $responsivenav) {
  html {
    &.js-nav-active {
      .site-header {
        background-color: #222;
      }
    }
  }

  #nav {
    width: 100%;
    max-height: 0;
    overflow: hidden;
    background: $color-almostblack;

    // Mobile navigation styles
    ul {
      padding: 10px 0;
      width: 100%;
      float: left;

      li {
        position: relative;

        a {
          padding: 5px 10px;
        }

        // Sublevels
        ul.sub-menu {
          padding: 5px 0;
          transition: 1s;

          li {
            a {
              padding-top: 10px;
              padding-bottom: 10px;
            }
          }
        }
      }
    }

    &.opened {
      transition: 4s;
      visibility: visible;
      max-height: 9999px;
    }

    &.multiple-level-nav.opened.dropdown-active {
      &.opened.dropdown-active {
        max-height: 9999px !important; // Enable active class to let the navigation expand over the calculated max height.
      }
    }

    &.multiple-level-nav .sub-menu {
      clip: rect(0 0 0 0);
      max-height: 0;
      position: absolute;
      overflow: hidden;
      visibility: hidden;
      zoom: 1;
      transition: 4s;

      &.toggled {
        max-height: 9999px;
        position: relative;
        visibility: visible;
      }
    }

    // + - toggles in mobile navigation
    .dropdown-toggle {
      background: #191919;
      border: 0;
      color: #fff;
      content: '';
      height: 32px;
      width: 32px;
      padding: 0;
      position: absolute;
      margin: 0;
      text-transform: lowercase;
      top: 5px;
      right: 10px;
      z-index: 9999;

      &.toggled:after {
        content: '-';
      }

      &:hover,
      &:focus,
      &:active {
        background-color: #3e4853;
        color: #fff;
      }

      &:after {
        content: '+';
        font-size: 20px;
      }
    }
  }
}

// Hamburger menu icon
.nav-toggle {
  margin-left: 0;
  list-style: none;
  display: block;
  z-index: 100000;
  -webkit-tap-highlight-color: rgba(#000, 0);
  border: 0;
  color: #fff;
  font-weight: 700;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-touch-callout: none;
  user-select: none;
  text-decoration: none;
  position: relative;
  overflow: hidden;
  float: right;
  line-height: 39px;
  padding: 0;
  background: transparent;
  appearance: button;
  cursor: pointer;

  // Hide from desktops
  display: none;

  span {
    color: $nav-toggle-color;
    font-size: 1.2em;
  }

  &:hover,
  &:focus,
  &:active {
    color: $nav-toggle-color;
    background: rgba($nav-toggle-color, .12);

    span {
      color: $nav-toggle-color;
    }
  }

  @media (max-width: ($responsivenav)-1px) {
    display: block;
    width: auto;
    top: 15px;
    right: 10px;
    position: absolute;
    padding: 10px;
  }

  .burger-icon {
    @include burger(30px, 2px, 6px, $nav-toggle-color);
  }

  // Separate active colors for opened state
  &.active {
    color: $nav-toggle-active-color;

    .burger-icon {
      @include burger-to-cross;

      &:before,
      &:after {
        background-color: $nav-toggle-active-color;
      }
    }

    &:focus,
    &:hover,
    &:active {
      color: $nav-toggle-active-color;

      span {
        color: $nav-toggle-active-color;
      }
    }

    span {
      color: $nav-toggle-active-color;
    }
  }
}

