// ---------------------------------------------------------
// Site navigation mobile layout
//
// The main layout for the website navigation, for the mobile
// version only.
// -----------------------------------------------------------
$nav-toggle-color: #fff;
$nav-toggle-active-color: #fff;
$hamburger-padding-x: 15px;
$hamburger-padding-y: 15px;
$hamburger-layer-width: 40px;
$hamburger-layer-height: 4px;
$hamburger-layer-spacing: 6px;
$hamburger-layer-color: $nav-toggle-color;
$hamburger-layer-border-radius: 4px;
$hamburger-hover-opacity: .8;
$hamburger-hover-transition-duration: .15s;
$hamburger-hover-transition-timing-function: linear;

@charset 'utf-8';
@import 'hamburgers/_sass/hamburgers/hamburgers';

// Choose hamburger animation here
// Choices: https://jonsuh.com/hamburgers/
.hamburger {
  @extend .hamburger--spin;
}

// Mobile styles
@media screen and (max-width: $responsivenav) {
  html {
    &.js-nav-active {
      nav#nav {
        clip: auto;
        position: fixed !important;
        max-height: 100%;
        height: 100vh;
        top: 0;
      }
    }
  }

  #nav {
    width: 100%;
    max-height: 0;
    overflow: hidden;
    background: $color-almostblack;
    float: none;

    // Mobile navigation styles
    ul {
      padding: 5%;
      width: 100%;
      float: none;

      li {
        position: relative;
        display: block;

        a {
          padding: 5px 10px;
          color: #fff;

          &:hover {
            color: $color-links;
          }
        }

        // Sublevels
        ul.sub-menu {
          padding: 0;
          transition: 1s;
          background: transparent;

          li {
            display: block;
            position: relative;

            a {
              padding-top: 10px;
              padding-bottom: 10px;
              position: relative;
              z-index: 1;

              &:hover {
                color: $color-links;
                background: none;
              }
            }
          }
        }
      }
    }

    &.opened {
      transition: 1s;
      visibility: visible;
      max-height: 9999px;
    }

    &.multiple-level-nav.opened.dropdown-active {
      &.opened.dropdown-active {
        max-height: 9999px !important; // Enable active class to let the navigation expand over the calculated max height.
      }
    }

    &.multiple-level-nav .sub-menu {
      clip: rect(0 0 0 0);
      max-height: 0;
      position: absolute;
      overflow: hidden;
      visibility: hidden;
      zoom: 1;

      &.toggled {
        max-height: 9999px;
        position: relative;
        visibility: visible;
      }
    }

    // + - toggles in mobile navigation
    .dropdown-toggle {
      background: #191919;
      border: 0;
      color: #fff;
      content: '';
      height: 32px;
      width: 32px;
      padding: 0;
      position: absolute;
      margin: 0;
      text-transform: lowercase;
      top: 5px;
      right: 10px;
      z-index: 9999;

      &.toggled:after {
        content: '-';
      }

      &:hover,
      &:focus,
      &:active {
        background-color: #3e4853;
        color: #fff;
      }

      &:after {
        content: '+';
        font-size: 20px;
      }
    }
  }
}

// Hamburger menu icon
.nav-toggle {
  list-style: none;
  z-index: 100000;
  -webkit-tap-highlight-color: rgba(#000, 0);
  border: 0;
  overflow: visible;
  color: #fff;
  font-weight: 700;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-touch-callout: none;
  user-select: none;
  text-decoration: none;
  padding: 10px 5px 0;
  margin: 0;
  background: transparent;
  cursor: pointer;
  top: 15px;
  right: 15px;
  position: absolute;

  // Hide from desktops
  display: none;

  span {
    color: $nav-toggle-color;
    font-size: 1.2em;
  }

  &:hover,
  &:focus,
  &:active {
    color: $nav-toggle-color;
    background: rgba($nav-toggle-color, .12);

    span {
      color: $nav-toggle-color;
    }
  }

  @media (max-width: ($responsivenav)-1px) {
    display: block;
  }

  // Separate active colors for opened state
  &.is-active {
    color: $nav-toggle-active-color;

    .hamburger-box {
      .hamburger-inner {
        background-color: $nav-toggle-active-color;

        &:after {
          background-color: $nav-toggle-active-color;
        }
      }
    }

    &:focus,
    &:hover,
    &:active {
      color: $nav-toggle-active-color;

      span {
        color: $nav-toggle-active-color;
      }
    }

    span {
      color: $nav-toggle-active-color;
    }
  }
}

