// ---------------------------------------------------------
// Site navigation core
//
// The main layout for the website navigation, for both mobile
// and desktop devices.
// -----------------------------------------------------------

.menu-items {
  position: relative;
  z-index: 9999;

  ul,
  li {
    display: block;
    list-style: none;
    margin: 0;
    padding: 0;
    line-height: normal;
    direction: ltr;
    text-align: left;
  }

  ul {
    margin-top: 0;
    margin-left: 25px;

    ul {
      margin-left: 25px;
    }
  }

  li,
  a {
    position: relative;
  }

  .disabled {
    cursor: not-allowed;
  }

  li > h1,
  li > h2,
  li > h3,
  li > h4,
  li > h5,
  li > h6 {
    margin: 0;
    padding: 0;
  }
}

@media only screen and (max-width: $responsivenav) {
  .js .menu-items ul {
    display: none;
  }
}

@media only screen and (max-width: $responsivenav) {
  .js ul .sub-menu.toggled-on {
    display: block;
  }
}

.dropdown-toggle::after,
.dropdown-toggle.toggled-on::after {
  font-size: 1.3rem;
}

.no-js .nav-toggle {
  display: none;
}
