// Navigation reset
@media only screen and (max-width: $responsivenav) {
  // Functionality needs display: none here for visual reasons
  /* stylelint-disable a11y/no-display-none */
  .js .menu-items ul {
    display: none;
  }
  /* stylelint-enable */
}

@media only screen and (max-width: $responsivenav) {
  .js ul .sub-menu.toggled-on {
    display: block;
  }
}

// Functionality needs display: none here for visual reasons
/* stylelint-disable a11y/no-display-none */
.no-js .nav-toggle {
  display: none;
}
/* stylelint-enable */
