// List of all blocks: https://wordpress.org/support/article/blocks/
// Core block styles: Use WordPress Gutenberg core styles as base
@use 'block-variations/index';

// Block variations only meant for article content
// .editor-styles-wrapper,
// .article-content {
  // Add here block variation styles for inside article-content
// }

// Block variations only meant for outside article-content
// .editor-styles-wrapper,
// .site-main {
  // Add here block variation styles for outside article-content
// }
