// Alignments
.editor-styles-wrapper,
.gutenberg-content {
  .alignwide {
    @media (min-width: $width-grid-base + 40px) {
      max-width: $width-grid-base;
      width: 100%;
    }
  }

  .alignfull {
    margin-bottom: var(--padding-block);
    margin-top: var(--padding-block);

    @media (min-width: $width-grid-base + 40px) {
      max-width: 100%;
      width: 100%;
    }

    &.wp-block-image img {
      border-radius: 0;
    }
  }
}
