/**
 * The following styles get applied both on the front of your site
 * and in the editor.
 *
 * Replace them with your own styles or remove the file completely.
 */

.wp-block-air-light-cta {
  // Get colors
  @include colors();

  // Get fonts
  @include typography();

  // Apply breakpoints
  @include breakpoints();

  // This is important, because wp core applies html :where(.wp-block) to 840px
  margin-left: auto;
  margin-right: auto;
  max-width: var(--width-grid-base);

  .container {
    background-color: #F2F2F2;
    padding: 4rem 1.25rem;
  }

  h2,
  p {
    color: #222222;
  }

  h2 {
    margin-bottom: 3rem;
  }

  .wp-block-button__link {
    @include button();
    background-color: var(--color-black);
    border-color: var(--color-black);
    color: var(--color-white);

    &:hover,
    &:focus {
      background-color: var(--color-accent);
      border-color: var(--color-accent);
      color: var(--color-white);
    }
  }

  .has-color-dark {
    background-color: #222222;

    h2,
    p {
      color: #F2F2F2;
    }

    .wp-block-button__link {
      background-color: var(--color-white);
      border-color: var(--color-white);
      color: var(--color-black);
    }
  }
}
