/**
 * The following styles get applied both on the front of your site
 * and in the editor.
 *
 * Replace them with your own styles or remove the file completely.
 */

.wp-block-air-light-cta {
  .container {
    background-color: #F2F2F2;
  }

  h2,
  p {
    color: #222222;
  }

  h2 {
    margin-bottom: 3rem;
  }

  a {
    border-radius: unset;
    padding: 12px 24px;
    font-size: 16px;
    font-weight: 700;
  }

  .has-color-dark {
    background-color: #222222;

    h2,
    p {
      color: #F2F2F2;
    }
  }
}
