name: CSS

on: [push, pull_request]

jobs:
  build:
    name: Test styles
    runs-on: ubuntu-22.04

    steps:
    - name: Checkout the repository
      uses: actions/checkout@v4

    - name: Read .nvmrc
      run: echo "NVMRC=$(cat .nvmrc)" >> $GITHUB_OUTPUT
      id: nvm

    - name: Setup node
      uses: actions/setup-node@v4
      with:
        node-version: '${{ steps.nvm.outputs.NVMRC }}'

    - name: Install packages
      run: npm install

    - name: Build styles with Parcel
      run: npm run dev:styles

    - name: Run stylelint
      run: npm run lint:styles -- --max-warnings 0
